@{
    ViewBag.Title = "打印物料条码";
}
@* css放置处 *@
@section cssStyle {
    <link rel="stylesheet/less" type="text/css" href="~/Content/styleFile/warehouseMaterial/warehouse.less" />
    <style>
        .flex-item > label {
            width: 70px;
        }
    </style>
}

<div id="app" v-cloak>
    <el-container>
        <el-header class="text-center">
            @*菜单*@
            <module-menu-component name="QueryPrint" title="@ViewBag.Title"></module-menu-component>
        </el-header>
        <el-main style="min-height:600px" class="main">
            <el-row>
                <el-col :span="12" :xs="24" class="rightFrame">
                    <ware-print-component v-model="printData">
                        <div class="flex-item">
                            <label>物料编号</label>
                            <div>
                                <el-select v-model="lhVal" placeholder="输入内容可查询" filterable clearable size="medium">
                                    <el-option v-for="item in lhOptions"
                                               :key="item.value"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <div class="flex-item">
                            <label>批次</label>
                            <div>
                                <el-select v-model="pcVal" placeholder="输入内容可查询" filterable clearable size="medium">
                                    <el-option v-for="item in pcOptions"
                                               :key="item.value"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <print-component v-model="printInfo"></print-component>
                    </ware-print-component>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
@* 分部页放置处 *@
@section renderPage {
    @RenderPage("_warehouseMenu.cshtml")
    @RenderPage("_wareEdit.cshtml")
    @RenderPage("~/Views/ModuleManagement/_print.cshtml")
    @RenderPage("_warePrint.cshtml")
}
@* js放置处 *@
@section jsScript {
    <script src="~/Content/styleFile/warehouseMaterial/warehouse.js"></script>
    <script>
        const app = {
            data: function () {
                return {
                    printData: {
                        list: [],
                        checkboxList: [],
                        num: '',
                        discription: '',
                        materialNumber: '',
                        batch: '',
                    },
                    lhVal: '',
                    lhOptions: [],
                    pcVal: '',
                    pcOptions: [],
                }
            },
            created() {
                axios.post('/Warehouse_Material/GetMaterialNumberList').then(res => {
                    this.lhOptions = res.data;
                }).catch(err => {
                    console.warn("获取选择列表失败")
                });
            },
            mixins: [warehouse],
            watch: {
                lhVal: function (v) {
                    this.pcVal = "";
                    this.pcOptions = [];
                    this.printData = {
                        list: [],
                        checkboxList: [],
                        num: '',
                        discription: '',
                        materialNumber: '',
                        batch: '',
                    };
                    axios.post('/Warehouse_Material/ForBatchList', { materialNumber: v }).then(res => {
                        this.pcOptions = res.data;
                    }).catch(err => {
                        console.warn("获取选择列表失败")
                    });
                },
                pcVal: function (v) {
                    this.printData = {
                        list: [],
                        checkboxList: [],
                        num: '',
                        discription: '',
                        materialNumber: '',
                        batch: '',
                    };
                    axios.post('/Warehouse_Material/ObtainLabelBarcode', { materialNumber: this.lhVal, batch: v }).then(res => {
                        let box = [], table = [];
                        for (let i of res.data.MaterBacrcodeList) {
                            box.push(i.MaterialBacrcode);
                            table.push({
                                bar: i.MaterialBacrcode,
                                print: '',
                                num: i.MaterialContainNum,
                                edit: false
                            });
                        };
                        this.printData = {
                            list: table,
                            checkboxList: box,
                            num: '',
                            discription: res.data.MaterialDiscription,
                            materialNumber: res.data.MaterialNumber,
                            batch: v,
                        };
                    }).catch(err => {
                        console.warn("出错")
                    });
                }
            }
        };
    </script>
}