@model IEnumerable<JianHeMES.Models.CalibrationRecord>

@{
    ViewBag.Title = "首页";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleGroupNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginCalibration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishCalibration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Normal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbnormalDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalibrationTime)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleGroupNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginCalibration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishCalibration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Normal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbnormalDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalibrationTime)
        </td>

        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("详细", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<table id="roleGrid"> </table>


 <pre name="code" class="html"><div id="content">  
<div id="toolbarTNews">  
<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="newobj('新闻', 'TNews')">增加新闻</a>  
<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="editobj('TNews', '新闻', 'NewsId')">修改新闻</a>  
<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="destroyobj('TNews', '新闻', 'NewsId')">删除新闻</a>  
<input class="easyui-searchbox" data-options="prompt:'输入新闻标题进行搜索',searcher:doSearch" style="width: 300px" />

  
<script>

    function doSearch(value) {
        $('#dgTNews').datagrid('reload', { query: value }); //查询条件，自己控制啦，在负责API对应Controller的Aciton里自己加就行了
    }
        </script>  
    </div>  
<table id="dgTNews" class="easyui-datagrid" data-options="url:'../../../Api/TNews/Index',resizable:true,modal:true,singleSelect:true" rownumbers="true"
       pagination="true" toolbar="#toolbarTNews">  
<thead>  
<tr>  
<th data-options="field:'NewsId',hidden:true,width:80">新闻Id</th>  
<th data-options="field:'NewsTitle',width:280">新闻名称</th><th data-options="field:'NewsDateTime',width:80,<span style=" font-family: Menlo, Monaco, Consolas, 'Courier New' , monospace; font-size: 14px; line-height: 23.1px;">sortable='true'</span>">新闻时间</th>  
<th data-options="field:'NewsStatus',width:80,align:'left'" formatter="formatterstatus">新闻状态</th>  
            </tr>  
        </thead>  
    </table>  
   
</div> 
</pre>  