@model IEnumerable<JianHeMES.Models.Users>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>

@using (Html.BeginForm("Index", "Users", FormMethod.Post, new { id = "searchForm", @class = "text-center" }))
{
    @Html.AntiForgeryToken()
    <form asp-controller="Users" asp-action="Index" method="post" class="text-center">
        <p>
            <span class="hidden-xs">工编号：<input type="text" name="UserNum" /></span>
            <span class="hidden-xs">用户名：<input type="text" name="UserName" /></span>
            <span class="hidden-xs">部门：@Html.DropDownList("Department", (List<SelectListItem>)ViewBag.Department, "全部")</span>
            @*<span class="hidden-xs">权限：<input type="text" name="UserAuthorize" /></span>*@
            <span class="hidden-xs">角色：@Html.DropDownList("Role", (List<SelectListItem>)ViewBag.Role, "全部")</span>
            @*<span class="hidden-xs">产线号：<input type="text" name="LineNum" /></span>*@
            <span class="hidden-xs">描述:<input type="text" name="Description" /></span>
            <input type="hidden" id="PageIndex" name="PageIndex" value="0" />
            <input type="submit" id="searchButton" value="查找" />
        </p>
    </form>
    <br />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PassWord)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAuthorize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PassWord)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAuthorize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deleter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("详细", "Details", new { id = item.ID }) |
                    @Html.ActionLink("删除", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    }
</table>


@*-----------------------分页功能----------------------------------------------------------------------------------------*@
<div class="text-center">
    <div id="pagebar">
        @for (var i = 0; i < ViewBag.PageCount; i++)
        {
            if (i == ViewBag.PageIndex)
            {
                <span style="font-size:25px" class="currentpagenumber">  @(i + 1)  </span>
            }
            else
            {
                <a class="pagenumber" style="font-size:20px" href="javascript:;">  @(i + 1)  </a>
            }
        }
    </div>
</div>
@section scripts {
    <script>
        function submitForm(pagenumber) {
            pagenumber = parseInt(pagenumber, 10);
            $('#PageIndex').val(pagenumber - 1);
            $('#searchForm').submit();
        }

        $(function () {

            $('#searchButton').click(function () {
                submitForm($('#pagebar .currentpagenumber').text());
            });

            $('#pagebar .pagenumber').click(function () {
                submitForm($(this).text());
            });

        });
    </script>
}

