@model IEnumerable<JianHeMES.Models.FinalQC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/Bootstraps/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/Bootstraps/bootstrap-select.js"></script>

<style type="text/css">
    /*手型指针*/
    .progress {
        cursor: pointer;
    }

    td, th {
        width: 10%;
    }

    #Legend {
        font-size: 10px;
    }

        #Legend div {
            margin-bottom: 5px;
            height: 15px;
        }

    .modal-body > .container {
        width: auto;
        padding: 0;
    }

    .notdo {
        width: 200px;
        height: 100px;
        overflow: auto;
        padding: 0px 15px;
        border: none;
    }

    .selectpicker {
        border: 1px solid #ccc;
    }

    .dropdown-menu > li > a {
        padding: 3px 10px;
    }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 150px;
    }

    @@media screen and (max-width: 768px) {
        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 135px;
        }

        .selectpicker {
            font-size: 13px;
        }
    }
</style>

@*<h2>Index</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>*@
<br />
<div class="text-center">
    <p class="text-success text-center btn btn-default">
        @Html.ActionLink("开始FQC检验", "FinalQC_B")
    </p>
</div>
<br />
<br />

@using (Html.BeginForm("Index", "FinalQCs", FormMethod.Post, new { id = "searchForm", @class = "text-center" }))
{
    @Html.AntiForgeryToken()
    <form asp-controller="FinalQCs" asp-action="Index" method="post" class="text-center">
        <p class="col-md-12" id="queryColumn">
            <span> 订单号：@Html.DropDownList("orderNum", (List<SelectListItem>)ViewBag.OrderList, "全部", new { @class = "selectpicker", data_live_search = "true", data_style = "form-control" })</span>
            <span class="hidden-xs">是否重复FQC:@Html.DropDownList("repetition", (List<SelectListItem>)ViewBag.Repetition, "全部", new { @class = "form-control", style = "display:inline; width: 80px" })</span>
            <span class="hidden-xs">FQC结果：@Html.DropDownList("FQCNormal", (List<SelectListItem>)ViewBag.FQCNormal, "全部", new { @class = "form-control", style = "display:inline; width: 80px" })</span>
            <span class="hidden-xs">备注:<input type="text" class="form-control" style="display:inline;width:150px;" name="Remark" /></span>
            <input type="hidden" id="PageIndex" name="PageIndex" value="0" />
            <input type="button" id="searchcButton" class="btn btn-default" value="查找" />
            <input type="submit" id="searchButton" class="btn btn-default hidden" value="查找" />
        </p>
    </form>
}
<br />
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCodesNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FQCCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FQCPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FQCCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FQCCheckDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FQCCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FQCCheckTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalQC_FQCCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepetitionFQCCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepetitionFQCCheckCause)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FQCCheckFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCodesNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQCCheckBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQCPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQCCheckFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQCCheckDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQCCheckTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQCCheckTimeSpan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalQC_FQCCheckAbnormal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepetitionFQCCheck)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepetitionFQCCheckCause)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQCCheckFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>



<div class="text-center">
    <div id="pagebar">
        @for (var i = 0; i < ViewBag.PageCount; i++)
        {
            if (i == ViewBag.PageIndex)
            {
                <span style="font-size:25px" class="currentpagenumber">  @(i + 1)  </span>
            }
            else
            {
                <a class="pagenumber" style="font-size:20px" href="javascript:;">  @(i + 1)  </a>
            }
        }
    </div>
</div>
@section scripts {
    <script>
        var queryColumn = new Vue({
            el: '#queryColumn',
            data: {
            },
            watch: {
            }
        });
    </script>
    <script>

        function submitForm(pagenumber) {
            pagenumber = parseInt(pagenumber, 10);
            $('#PageIndex').val(pagenumber - 1);
            $('#searchForm').submit();
        }
        $(function () {
            $('.selectpicker').selectpicker();
            $('#searchButton').click(function () {
                submitForm($('#pagebar .currentpagenumber').text());
            });

            $('#pagebar .pagenumber').click(function () {
                submitForm($(this).text());
            });
            $("#searchcButton").click(function (event) {
                if ($("#orderNum").val() != "") {
                    $("#searchButton").click();
                }
            })
        });
    </script>
}