@model JianHeMES.Models.Appearance

@{
    ViewBag.Title = "外观包装详细情况";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .titleRow div {
        font-size: 17px;
        padding: 10px;
    }

        .titleRow div span {
            font-weight: bold;
        }
</style>
@*<script src="~/Scripts/jquery-1.11.3.js"></script>*@
<h2>@ViewBag.Title</h2>
<h4>Appearance</h4>
<hr />
<div class="row titleRow">
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.OrderNum)
        </span>：
        @Html.DisplayFor(model => model.OrderNum)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.BarCodesNum)
        </span>：
        @Html.DisplayFor(model => model.BarCodesNum)
    </div>

    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.ModuleGroupNum)
        </span>：
        @Html.DisplayFor(model => model.ModuleGroupNum)
    </div>
</div>
<div class="row titleRow">
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckBT)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckBT)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckFT)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckFT)
    </div>
    @*<div class="col-md-4">
            <span>
                @Html.DisplayNameFor(model => model.OQCCheckTime)
            </span>：
            <span class="formatDate">
                @Html.DisplayFor(model => model.OQCCheckTime)
            </span>
        </div>*@
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckTimeSpan)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckTimeSpan)
    </div>
</div>
<div class="row titleRow">
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.OQCPrincipal)
        </span>：
        @Html.DisplayFor(model => model.OQCPrincipal)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.Appearance_OQCCheckAbnormal)
        </span>：
        @Html.DisplayFor(model => model.Appearance_OQCCheckAbnormal)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.RepairCondition)
        </span>：
        @Html.DisplayFor(model => model.RepairCondition)
    </div>
    
</div>
<div class="row titleRow">
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckFinish)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckFinish)
    </div>
    
</div>
<hr />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("返回", "Index")
</p>
<script>
    $(function () {
        $(".formatDate").each(function (index) {
            $(".formatDate")[index].textContent = $(this)[0].textContent.split(".")[0];
        });
    })
</script>