@model IEnumerable<JianHeMES.Models.Personnel_of_Contrast>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zhang_WorkingHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zhang_Pay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Staff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Overtime_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pay_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Daily_Pay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Week_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sunday)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zhang_WorkingHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zhang_Pay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Staff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Overtime_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pay_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Daily_Pay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator)
        </td>
        <th>
            @Html.DisplayFor(model => item.Year)
        </th>
        <th>
            @Html.DisplayFor(model => item.Month)
        </th>
        <th>
            @Html.DisplayFor(model => item.Week)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Week_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sunday)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
            @Html.ActionLink("修改2", "ContrastEdit", new { id = item.Id }) |
            @Html.ActionLink("详细", "Details", new { id = item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
