@model IEnumerable<JianHeMES.Models.Assemble>

@{
    ViewBag.Title = "Assemble_PassRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assemble_PassRate</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCode_Prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxBarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssemblePrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofMaintaince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterCardBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterCardPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterCardFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdapterCard_Power_List)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleViewCheckPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleElectricityCheckPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssemblePQCPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleLineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCRepairCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckFinish)
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCode_Prefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxBarCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssemblePrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterproofTestBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterproofTestPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterproofTestFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterproofTestTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterproofAbnormal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterproofMaintaince)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterproofTestFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleAdapterCardBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleAdapterCardPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleAdapterCardFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdapterCard_Power_List)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleAdapterTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleAdapterFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCheckBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleViewCheckPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCheckFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCheckTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCheckAbnormal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCheckFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElectricityCheckBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleElectricityCheckPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElectricityCheckFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElectricityCheckTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElectricityCheckAbnormal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElectricityCheckFinish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PQCCheckBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssemblePQCPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssembleLineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PQCCheckFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PQCCheckTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PQCCheckAbnormal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PQCRepairCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PQCCheckFinish)
                </td>
            </tr>
        }
    }


</table>
