@model JianHeMES.Models.OrderMgm

@{
    ViewBag.Title = "订单详细情况";
}
<style>
    .table1 {
        border-collapse: collapse;
        border-color: #ddd;
    }

        .table1 > tbody > tr > td {
            width: 82px;
            border-color: #ddd;
        }

        .table1 > tbody > tr {
            height: 35px;
            border-color: #ddd;
        }

            .table1 > tbody > tr:nth-child(1) > td {
                padding-left: 5px;
            }

            .table1 > tbody > tr:nth-child(2) > td {
                text-align: center;
            }

            .table1 > tbody > tr:nth-child(3) > td {
                text-align: center;
            }

            .table1 > tbody > tr:nth-child(4) > td {
                text-align: center;
            }

    body {
        overflow-y: scroll;
    }

    .titleRow div {
        font-size: 17px;
        padding: 10px;
    }

        .titleRow div span {
            font-weight: bold;
        }

    .modal-dialog {
        width: 80%;
        height: 100%;
        margin: 0px auto;
    }

    th {
        text-align: center;
    }

    @@media screen and (max-width:768px) {
        .modal-dialog {
            width: 100%;
        }

        .pdfViewer .page {
            margin: 0;
            border: 1px solid black;
        }

        #mainContainer {
            min-width: 300px;
        }
    }

    .cursor {
        cursor: pointer;
    }
</style>
<script src="~/Scripts/imgJS/exif.js"></script>
<script src="~/Scripts/imgJS/uploadImage.js"></script>
<h3>@ViewBag.Title</h3>
<hr />
<div class="row titleRow">
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.OrderNum)
        </span>：
        @Html.DisplayFor(model => model.OrderNum, new { @id = "OrderNum" })
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.CustomerName)
        </span>：
        @Html.DisplayFor(model => model.CustomerName, new { @id = "CustomerName" })
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.Area)
        </span>：
        @Html.DisplayFor(model => model.Area)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.PlatformType)
        </span>：
        @Html.DisplayFor(model => model.PlatformType)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.ProcessingRequire)
        </span>：
        @Html.DisplayFor(model => model.ProcessingRequire)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.StandardRequire)
        </span>：
        @Html.DisplayFor(model => model.StandardRequire)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.CapacityQ)
        </span>：
        @Html.DisplayFor(model => model.CapacityQ)
    </div>
    <div class="col-md-3">
        @if (((JianHeMES.Models.Users)Session["User"]).Role == "小样调试员" || ((JianHeMES.Models.Users)Session["User"]).Role == "系统管理员")
        {
        <div>
            <a href="../EditForSmallSample/@Model.ID" target="_blank">
                <span>
                    @Html.DisplayNameFor(model => model.HandSampleScedule)
                </span>：
                @Html.DisplayFor(model => model.HandSampleScedule)
            </a>
        </div>
        }
        else
        {
        <div>
            <span>
                @Html.DisplayNameFor(model => model.HandSampleScedule)
            </span>：
            @Html.DisplayFor(model => model.HandSampleScedule)
        </div>
        }
    </div>
</div>
<div class="row titleRow">
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.PlanInputTime)
        </span>：
        @Html.DisplayFor(model => model.PlanInputTime)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.PlanCompleteTime)
        </span>：
        @Html.DisplayFor(model => model.PlanCompleteTime)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.ContractDate)
        </span>：
        @Html.DisplayFor(model => model.ContractDate)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </span>：
        @Html.DisplayFor(model => model.DeliveryDate)
    </div>
</div>
<div class="row titleRow">
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.IsRepertory)
        </span>：
        @Html.DisplayFor(model => model.IsRepertory)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.IsAOD)
        </span>：
        @Html.DisplayFor(model => model.IsAOD)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.IsAbnormalOrder)
        </span>：
        @Html.DisplayFor(model => model.IsAbnormalOrder)
    </div>
</div>
<hr />
<table class="table1" border="1">
    <tr>
        <td colspan="5">订单生成日期：@Html.DisplayFor(model => model.OrderCreateDate, new { id = "BarCodeCreator" })</td>
        <td colspan="2">操作员：@Html.DisplayFor(model => model.BarCodeCreator, new { id = "BarCodeCreator" })</td>
        <td colspan="5">模组条码生成日期：@Html.DisplayFor(model => model.BarCodeCreateDate, new { id = "BarCodeCreateDate" })</td>
        <td colspan="2">备注：@Html.DisplayFor(model => model.Remark, new { id = "BarCodeCreator" })</td>
    </tr>
    <tr>
        <td colspan="2">模组</td>
        <td colspan="2">模块</td>
        <td colspan="2">额外预留模块</td>
        <td colspan="2">电源</td>
        <td colspan="2">额外预留电源</td>
        <td colspan="2">转接卡</td>
        <td colspan="2">额外预留转接卡</td>
    </tr>
    <tr>
        <td>数量</td>
        <td>条码生成</td>
        <td>数量</td>
        <td>条码生成</td>
        <td>数量</td>
        <td>条码生成</td>
        <td>数量</td>
        <td>条码生成</td>
        <td>数量</td>
        <td>条码生成</td>
        <td>数量</td>
        <td>条码生成</td>
        <td>数量</td>
        <td>条码生成</td>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Boxes, new { @id = "Boxes" })</td>
        <td>
            @if (Model.BarCodeCreated == 1)
            {
            <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
            <span class="glyphicon glyphicon-remove"></span>
            }
        </td>
        <td>@Html.DisplayFor(model => model.Models, new { id = "Models" })</td>
        <td>
            @if (Model.ModulePieceBarCodeCreated == 1)
            {
            <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
            <span class="glyphicon glyphicon-remove"></span>
            }
        </td>
        <td>@Html.DisplayFor(model => model.ModelsMore, new { id = "ModelsMore" })</td>
        <td>
            @if (Model.ModulePieceBarCodeCreated == 1 && Model.ModelsMore != 0)
            {
            <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
            <span></span>
            }
        </td>
        <td>@Html.DisplayFor(model => model.Powers, new { id = "Powers" })</td>
        <td>
            @if (Model.PowerBarCodeCreated == 1)
            {
            <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
                if (Model.Powers == 0)
                {
            <span></span>
                }
                else
                {
            <span class="glyphicon glyphicon-remove"></span>
                }
            }
        </td>
        <td>@Html.DisplayFor(model => model.PowersMore, new { id = "PowersMore" })</td>
        <td>
            @if (Model.PowerBarCodeCreated == 1 && Model.PowersMore != 0)
            {
            <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
            <span></span>
            }
        </td>
        <td>@Html.DisplayFor(model => model.AdapterCard, new { id = "AdapterCard" })</td>
        <td>
            @if (Model.AdapterCardBarCodeCreated == 1)
            {
            <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
                if (Model.AdapterCard == 0)
                {
            <span></span>
                }
                else
                {
            <span class="glyphicon glyphicon-remove"></span>
                }
            }
        </td>
        <td>@Html.DisplayFor(model => model.AdapterCardMore, new { id = "AdapterCardMore" })</td>
        <td>
            @if (Model.AdapterCardBarCodeCreated == 1 && Model.AdapterCardMore != 0)
            {
            <span class="glyphicon glyphicon-ok"></span>
            }
            else
            {
            <span></span>
            }
        </td>
    </tr>
    @if (Model.IsAOD == true)
    {
    <tr>
        <td colspan="2" style="padding:8px 5px;">转为特采订单原因：</td>
        <td colspan="6"><span>@Html.DisplayFor(model => model.AOD_Description)</span></td>
        <td colspan="2">转单人：<span>@Html.DisplayFor(model => model.AODConverter)</span></td>
        <td colspan="4">转单时间：<span>@Html.DisplayFor(model => model.AODConvertDate)</span></td>
    </tr>
    }
    @if (Model.IsAbnormalOrder == true)
    {
    <tr>
        <td colspan="2" style="padding:8px 5px;">转为异常订单原因：</td>
        <td colspan="6"><span>@Html.DisplayFor(model => model.AbnormalOrder_Description)</span></td>
        <td colspan="2">转单人：<span>@Html.DisplayFor(model => model.AbnormalOrderConverter)</span></td>
        <td colspan="4">转单时间：<span>@Html.DisplayFor(model => model.AbnormalOrderConvertDate)</span></td>
    </tr>
    }
</table>

<br />
<table id="summary" class="table table-bordered">
    <tr>
        <th>工段</th>
        <th>开始时间</th>
        <th>最后时间</th>
        <th>完成时间</th>
        <th>作业时长</th>
        <th>正常个数</th>
        <th>直通数</th>
        <th>直通率</th>
        <th>完成率</th>
        <th>合格率</th>
    </tr>
    <tr class="text-center">
        <td><span v-bind:class="ProductionDetailsJson.AssembleBeginTime==''?'':'cursor btn-link'">组装</span> <input id="detailsJson" value="@ViewBag.ProductionDetailsJson" style="display:none" /></td>
        <td>{{ProductionDetailsJson.AssembleBeginTime==""?'无记录':ProductionDetailsJson.AssembleBeginTime}}</td>
        <td>{{ProductionDetailsJson.AssembleEndTime}}</td>
        <td>{{ProductionDetailsJson.AssembleFinishTime}}</td>
        <td>{{newTime(ProductionDetailsJson.AssembleNewTime)}}</td>
        <td>{{ProductionDetailsJson.AssemblePassYieldCount=="0"?'':ProductionDetailsJson.AssemblePassYieldCount}}</td>
        <td>{{ProductionDetailsJson.AssembleFirstPassYieldCount=="0"?'':ProductionDetailsJson.AssembleFirstPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.AssembleFirstPassYield_Rate==""?'':ProductionDetailsJson.AssembleFirstPassYield_Rate+'%'}}</td>
        <td>{{ProductionDetailsJson.AssembleFinisthRate==""?'':ProductionDetailsJson.AssembleFinisthRate+'%'}}</td>
        <td>{{ProductionDetailsJson.AssemblePassRate==""?'':ProductionDetailsJson.AssemblePassRate+'%'}}</td>
    </tr>
    <tr class="text-center">
        <td><span v-bind:class="ProductionDetailsJson.FinalQCBeginTime==''?'':'cursor btn-link'">FQC</span><input id="detailsJson" value="@ViewBag.ProductionDetailsJson" style="display:none" /></td>
        <td>{{ProductionDetailsJson.FinalQCBeginTime==""?'无记录':ProductionDetailsJson.FinalQCBeginTime}}</td>
        <td>{{ProductionDetailsJson.FinalQCEndTime}}</td>
        <td>{{ProductionDetailsJson.FinalQCFinishTime}}</td>
        <td>{{newTime(ProductionDetailsJson.FinalQCNewTime)}}</td>
        <td>{{ProductionDetailsJson.FinalQCPassYieldCount=="0"?'':ProductionDetailsJson.FinalQCPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.FinalQCFirstPassYieldCount=="0"?'':ProductionDetailsJson.FinalQCFirstPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.FinalQCFirstPassYield_Rate==""?'':ProductionDetailsJson.FinalQCFirstPassYield_Rate+'%'}}</td>
        <td>{{ProductionDetailsJson.FinalQCFinisthRate==""?'':ProductionDetailsJson.FinalQCFinisthRate+'%'}}</td>
        <td>{{ProductionDetailsJson.FinalQCPassRate==""?'':ProductionDetailsJson.FinalQCPassRate+'%'}}</td>
    </tr>
    <tr class="text-center">
        <td><span v-bind:class="ProductionDetailsJson.Burn_inBeginTime==''?'':'cursor btn-link'">老化</span></td>
        <td>{{ProductionDetailsJson.Burn_inBeginTime==""?'无记录':ProductionDetailsJson.Burn_inBeginTime}}</td>
        <td>{{ProductionDetailsJson.Burn_inEndTime}}</td>
        <td>{{ProductionDetailsJson.Burn_inFinishTime}}</td>
        <td>{{newTime(ProductionDetailsJson.Burn_inNewTime)}}</td>
        <td>{{ProductionDetailsJson.Burn_inPassYieldCount=="0"?'':ProductionDetailsJson.Burn_inPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.Burn_inFirstPassYieldCount=="0"?'':ProductionDetailsJson.Burn_inFirstPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.Burn_inFirstPassYield_Rate==""?'':ProductionDetailsJson.Burn_inFirstPassYield_Rate+'%'}}</td>
        <td>{{ProductionDetailsJson.Burn_inFinisthRate==""?'':ProductionDetailsJson.Burn_inFinisthRate+'%'}}</td>
        <td>{{ProductionDetailsJson.Burn_inPassRate==""?'':ProductionDetailsJson.Burn_inPassRate+'%'}}</td>
    </tr>
    <tr class="text-center">
        <td><span v-bind:class="ProductionDetailsJson.CalibrationBeginTime==''?'':'cursor btn-link'">校正</span></td>
        <td>{{ProductionDetailsJson.CalibrationBeginTime==""?'无记录':ProductionDetailsJson.CalibrationBeginTime}}</td>
        <td>{{ProductionDetailsJson.CalibrationEndTime}}</td>
        <td>{{ProductionDetailsJson.CalibrationFinishTime}}</td>
        <td>{{newTime(ProductionDetailsJson.CalibrationNewTime)}}</td>
        <td>{{ProductionDetailsJson.CalibrationPassYieldCount=="0"?'':ProductionDetailsJson.CalibrationPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.CalibrationFirstPassYieldCount=="0"?'':ProductionDetailsJson.CalibrationFirstPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.CalibrationFirstPassYield_Rate==""?'':ProductionDetailsJson.CalibrationFirstPassYield_Rate+'%'}}</td>
        <td>{{ProductionDetailsJson.CalibrationFinisthRate==""?'':ProductionDetailsJson.CalibrationFinisthRate+'%'}}</td>
        <td>{{ProductionDetailsJson.CalibrationPassRate==""?'':ProductionDetailsJson.CalibrationPassRate+'%'}}</td>
    </tr>
    <tr class="text-center">
        <td><span v-bind:class="ProductionDetailsJson.AppearanceBeginTime==''?'':'cursor btn-link'">包装</span></td>
        <td>{{ProductionDetailsJson.AppearanceBeginTime==""?'无记录':ProductionDetailsJson.AppearanceBeginTime}}</td>
        <td>{{ProductionDetailsJson.AppearanceEndTime}}</td>
        <td>{{ProductionDetailsJson.AppearanceFinishTime}}</td>
        <td>{{newTime(ProductionDetailsJson.AppearanceNewTime)}}</td>
        <td>{{ProductionDetailsJson.AppearancePassYieldCount=="0"?'':ProductionDetailsJson.AppearancePassYieldCount}}</td>
        <td>{{ProductionDetailsJson.AppearanceFirstPassYieldCount=="0"?'':ProductionDetailsJson.AppearanceFirstPassYieldCount}}</td>
        <td>{{ProductionDetailsJson.AppearanceFirstPassYield_Rate==""?'':ProductionDetailsJson.AppearanceFirstPassYield_Rate+'%'}}</td>
        <td>{{ProductionDetailsJson.AppearanceFinisthRate==""?'':ProductionDetailsJson.AppearanceFinisthRate+'%'}}</td>
        <td>{{ProductionDetailsJson.AppearancePassRate==""?'':ProductionDetailsJson.AppearancePassRate+'%'}}</td>
    </tr>
</table>
<hr />
<div class="row" id="app">
    <div class="col-md-3 form-group">
        @if (((JianHeMES.Models.Users)Session["User"]).Role == "经理" && ((JianHeMES.Models.Users)Session["User"]).Department == "PC" || ((JianHeMES.Models.Users)Session["User"]).Role == "PC计划员" || ((JianHeMES.Models.Users)Session["User"]).Role == "PC组长" || ((JianHeMES.Models.Users)Session["User"]).Role == "系统管理员")
        {
            if (Model.BarCodeCreated != 1)
            {
        @Html.RouteLink("根据订单创建全部条码", "Default", new { Controller = "BarCodes", Action = "CreateBarCodes", id = Model.ID }, new { @class = "btn btn-default" })
        <br /><br />
            }

            if (Model.BarCodeCreated != 1 && Model.Boxes > 0)
            {
                using (Html.BeginForm("CreateModuleGroupBarCodes", "BarCodes", FormMethod.Post, new { style = "display:inline-block" }))
                {
        <button class="btn btn-default btn-sm">创建模组条码</button>
        @Html.TextBox("id", Model.ID, new { style = "display:none" })
                }
            }
            if (Model.ModulePieceBarCodeCreated != 1 && Model.Models > 0)
            {
                using (Html.BeginForm("CreateModulePieceBarCodes", "BarCodes", FormMethod.Post, new { style = "display:inline-block" }))
                {
        <button class="btn btn-default btn-sm">创建模块条码</button>
        @Html.TextBox("id", Model.ID, new { style = "display:none" })
                }
            }
        <br />
            if (Model.PowerBarCodeCreated != 1 && Model.Powers > 0)
            {
                using (Html.BeginForm("CreatePowerBarCodes", "BarCodes", FormMethod.Post, new { style = "display:inline-block" }))
                {
        <button class="btn btn-default btn-sm">创建电源条码</button>
        @Html.TextBox("id", Model.ID, new { style = "display:none" })
                }
            }
            if (Model.AdapterCardBarCodeCreated != 1 && Model.AdapterCard > 0)
            {
                using (Html.BeginForm("CreateAdapterCardBarCodes", "BarCodes", FormMethod.Post, new { style = "display:inline-block" }))
                {
        <button class="btn btn-default btn-sm">创建转接卡条码</button>
        @Html.TextBox("id", Model.ID, new { style = "display:none" })
                }
        <br /><br />
            }

        @Html.ActionLink("修改订单信息", "Edit", new { id = Model.ID }, new { @class = "btn btn-default", style = "display:inline-block" })

            using (Html.BeginForm("DeleteOrderNum", "OrderMgms", FormMethod.Post, new { style = "display:inline-block" }))
            {
        @Html.TextBox("orderNum", Model.OrderNum, new { style = "display:none" })
        <button class="btn btn-default">删除订单</button>
            }
        }

        &nbsp; &nbsp;<br /><br />
        @Html.ActionLink("返回", "Index", new { @class = "btn btn-default" })
    </div>
    <div class="col-md-3 form-group">
        @if (Model.BarCodeCreated == 1)
        {
            //特采订单
            <div>特采订单<span style="width:0;height:0;border:10px solid white;border-top-color:#398000;border-bottom:none;float:left;margin:5px"></span></div>
            <hr style="margin:10px 0" />
            <div>
                @if (Model.IsAOD == false)
                {
                    <div v-show="changeAOD" class="text-center">
                        <button class="btn btn-default" v-on:click="changeAOD=!changeAOD">转为特采订单</button>
                    </div>
                    <div v-show="!changeAOD" class="text-center">
                        <form action="/OrderMgms/AODConvert" method="post">
                            <p class="text-success">请选择转为特采订单原因</p>
                            <input type="hidden" value="@Model.ID" name="id" />
                            @*<textarea cols="20" v-model.trim="AOD_Description" name="AOD_Description" rows="2" class="form-control" style="display: inline-block;"></textarea>*@
                            <select v-model="AOD_Description" name="AOD_Description" class="form-control text-center" style="margin:0 auto">
                                <option value="">请选择</option>
                                <option>老化时间</option>
                                <option>墨色</option>
                                <option>波浪形</option>
                                <option>偏色</option>
                                <option>现场校正</option>
                                <option>暗斑</option>
                                <option>网格状</option>
                                <option>底壳柱子断</option>
                                <option>面罩鼓起</option>
                                <option>面罩变形</option>
                                <option>平整度</option>
                                <option>箱门干涉</option>
                                <option>螺丝花</option>
                                <option>其他</option>
                            </select><br />
                            <button class="btn btn-default" v-bind:disabled="AOD_Description!=''?false:''">确认转为特采订单</button>
                            <button class="btn btn-default" v-on:click.stop.prevent="changeAOD=!changeAOD">取消</button>
                        </form>
                    </div>
                    <br />
                }
                @if (Model.IsAOD == true)
                {
                    <button class="btn btn-warning" v-on:click="selectFile_AOD">选择文件</button>
                    <button class="btn btn-primary" v-on:click="postFile_AOD">上传</button>
                    <p id="filecontent_AOD" class="text-primary" style="margin-left:10px;font-size:17px;margin:0"></p>
                    <br />
                    <button class="btn btn-default btn-sm" v-on:click="showIMG_AOD=!showIMG_AOD,showIMG_Abnormal=false,showIMG_Sample=false" v-show="( '@ViewBag.Picture'=='Exists')?true:false">显示特采单照片</button>
                    <button v-on:click="showModal_AOD" class="btn btn-default btn-sm" v-show="('@ViewBag.PDf'=='Exists')?true:false">查看特采PDF文档</button>
                    <button id="showModal_AOD" class="btn btn-default hidden" data-toggle="modal" data-target="#myModal"></button>
                    @*<div class="btn btn-default" v-show="('@ViewBag.PDf'=='Exists')?true:false">
                            @Html.ActionLink("直接查看pdf文档", "preview_pdf", new { ordernum = Model.OrderNum }, new { Target = "_blank" })
                        </div>*@
                }
            </div>
        }
    </div>
    <div class="col-md-3 form-group">
        @if (Model.BarCodeCreated == 1)
        {
            //异常订单
            <div>异常订单<span style="width:0;height:0;border:10px solid white;border-top-color:red;border-bottom:none;float:left;margin:5px"></span></div>
            <hr style="margin:10px 0" />
            <div>
                @if (Model.IsAbnormalOrder == false)
                {
                    <div v-show="changeAbnormalOrder" class="text-center">
                        <button class="btn btn-default" v-on:click="changeAbnormalOrder=!changeAbnormalOrder">转为异常订单</button>
                    </div>
                    <div v-show="!changeAbnormalOrder" class="text-center">
                        <form action="/OrderMgms/AbnormalOrderConvert" method="post">
                            <p class="text-success">请选择转为异常订单原因</p>
                            <input type="hidden" value="@Model.ID" name="id" />
                            @*<textarea cols="20" v-model.trim="AbnormalOrder_Description" name="AbnormalOrder_Description" rows="2" class="form-control" style="display: inline-block;"></textarea>*@
                            <select v-model="AbnormalOrder_Description" name="AbnormalOrder_Description" class="form-control text-center" style="margin:0 auto">
                                <option value="">请选择</option>
                                <option>老化时间</option>
                                <option>墨色</option>
                                <option>波浪形</option>
                                <option>偏色</option>
                                <option>现场校正</option>
                                <option>暗斑</option>
                                <option>网格状</option>
                                <option>底壳柱子断</option>
                                <option>面罩鼓起</option>
                                <option>面罩变形</option>
                                <option>平整度</option>
                                <option>箱门干涉</option>
                                <option>螺丝花</option>
                                <option>其他</option>
                            </select><br />
                            <button class="btn btn-default" v-bind:disabled="AbnormalOrder_Description!=''?false:''">确认转为异常订单</button>
                            <button class="btn btn-default" v-on:click.stop.prevent="changeAbnormalOrder=!changeAbnormalOrder">取消</button>
                        </form>
                    </div>
                    <br />
                }
                @if (Model.IsAbnormalOrder == true)
                {
                    <button class="btn btn-warning" v-on:click="selectFile_Abnormal">选择文件</button>
                    <button class="btn btn-primary" v-on:click="postFile_Abnormal">上传</button>
                    <p id="filecontent_Abnormal" class="text-primary" style="margin-left:10px;font-size:17px;margin:0"></p>
                    <br />
                    <button class="btn btn-default btn-sm" v-on:click="showIMG_Abnormal=!showIMG_Abnormal,showIMG_Sample=false,showIMG_AOD=false" v-show="( '@ViewBag.AbnormalOrder_Picture'=='Exists')?true:false">显示异常单照片</button>
                    <button v-on:click="showModal_Abnormal" class="btn btn-default btn-sm" v-show="('@ViewBag.AbnormalOrder_PDf'=='Exists')?true:false">查看异常PDF文档</button>
                    <button id="showModal_Abnormal" class="btn btn-default hidden" data-toggle="modal" data-target="#myModal"></button>
                }
            </div>

        }
    </div>
    <div class="col-md-3 form-group">
        @if (Model.HandSampleScedule == "进行中" || Model.HandSampleScedule == "待产" || Model.HandSampleScedule == "完成")
        {
            if (((JianHeMES.Models.Users)Session["User"]).Role == "小样调试员" || ((JianHeMES.Models.Users)Session["User"]).Role == "系统管理员")
            {
                <div>小样订单<span style="width:0;height:0;border:10px solid white;border-top-color:#0078ff ;border-bottom:none;float:left;margin:5px"></span></div>
                <hr style="margin:10px 0" />
                <button class="btn btn-warning" v-on:click="selectFile_Sample">选择文件</button>
                <button class="btn btn-primary" v-on:click="postFile_Sample">上传</button>
                <p id="filecontent_Sample" class="text-primary" style="margin-left:10px;font-size:17px;margin:0"></p>
                <br />
                <button class="btn btn-default btn-sm" v-on:click="showIMG_Sample=!showIMG_Sample,showIMG_Abnormal=false,showIMG_AOD=false" v-show="( '@ViewBag.SmallSample_Picture'=='Exists')?true:false">显示小样单照片</button>
                    <button v-on:click="showModal_Sample" class="btn btn-default btn-sm" v-show="('@ViewBag.SmallSample_PDf'=='Exists')?true:false">查看小样PDF文档</button>
                    <button id="showModal_Sample" class="btn btn-default hidden" data-toggle="modal" data-target="#myModal"></button>
            }
        }
    </div>
    <div class="col-md-12 form-group">
        <div class="row text-center" v-show="previewIMG">
            <p class="text-info">待上传图片预览</p>
            <img src="" id="imgPreview" style="width:40%;" alt="只能预览图片文件..." />
            <br />
            <hr />
        </div>
        @if (Model.BarCodeCreated == 1 && Model.IsAOD == true)
        {
            <div class="row text-center" v-show="showIMG_AOD">
                <h4>特采订单已存在图片</h4>
                @if (ViewBag.jpgjson != null)
                {
                    foreach (var it in ViewBag.jpgjson)
                    {
                        <img src="/AOD_Files/@Model.OrderNum/@it.Value" style="width:80%;" /><br /><br />
                    }
                }
            </div>
        }
        @if (Model.BarCodeCreated == 1 && Model.IsAbnormalOrder == true)
        {
            <div class="row text-center" v-show="showIMG_Abnormal">
                <h4>异常订单已存在图片</h4>
                @if (ViewBag.AbnormalOrder_jpgjson != null)
                {
                    foreach (var it in ViewBag.AbnormalOrder_jpgjson)
                    {
                        <img src="/AbnormalOrder_Files/@Model.OrderNum/@it.Value" style="width:80%;" /><br /><br />
                    }
                }
            </div>
        }
        @if (Model.HandSampleScedule == "进行中" || Model.HandSampleScedule == "待产" || Model.HandSampleScedule == "完成")
        {
            <div class="row text-center" v-show="showIMG_Sample">
                <h4>小样订单已存在图片</h4>
                @if (ViewBag.SmallSample_jpgjson != null)
                {
                    foreach (var it in ViewBag.SmallSample_jpgjson)
                    {
                        <img src="/SmallSample_Files/@Model.OrderNum/@it.Value" style="width:80%;" /><br /><br />
                    }
                }
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding:10px">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center" id="myModalLabel">
                        #
                    </h4>
                </div>
                <div class="modal-body text-center" style="padding:0px">
                    <iframe id="pdfIframe" name="pdfIframe" src="" style="width:100%;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="setForm" action="" method="post" target="_blank" style="display:none">
    @Html.AntiForgeryToken()
    <input type="text" name="orderNum" value="@Model.OrderNum" id="formOrderNum" />
    <input type="text" name="BoxBarCode" value="" />
    <input type="text" name="PQCNormal" value="" />
    <input type="text" name="Remark" value="" />
    <input type="text" name="repetition" value="" />
    <input type="text" name="FQCNormal" value="" />
    <input type="text" name="OQCNormal" value="" />
    <input type="text" name="FinishStatus" value="" />
    <input type="text" name="SearchString" value="" />
    <input type="text" name="moduleGroupNum" value="" />
    <input type="text" name="barcodenum" value="" />
    <input type="text" name="AppearancesNormal" value="" />
</form>
<div id="setA"></div>
<form id="uploadForm_AOD" enctype="multipart/form-data" method="post" style="display:none">
    <input type="hidden" value="@Model.ID" name="id" />
    <input type="text" name="ordernum" value="@Model.OrderNum" class="hidden" />
    <input type="file" id="uploadfile_AOD" name="uploadfile" accept="image/jpeg,application/pdf" />
</form>

<form id="uploadForm_Abnormal" enctype="multipart/form-data" method="post" style="display:none">
    <input type="hidden" value="@Model.ID" name="id" />
    <input type="text" name="ordernum" value="@Model.OrderNum" class="hidden" />
    <input type="file" id="uploadfile_Abnormal" name="uploadAbnormalOrder" accept="image/jpeg,application/pdf" />
</form>

<form id="uploadForm_Sample" action="/OrderMgms/UploadSmallSample" enctype="multipart/form-data" method="post" style="display:none">
    <input type="hidden" value="@Model.ID" name="id" />
    <input type="text" name="ordernum" value="@Model.OrderNum" class="hidden" />
    <input type="file" id="uploadfile_Sample" name="uploadfile" accept="image/jpeg,application/pdf" />
</form>

@*Model.IsAbnormalOrder: @Model.IsAbnormalOrder<br />
ViewBag.AbnormalOrder_Directory: @ViewBag.AbnormalOrder_Directory<br />
ViewBag.AbnormalOrder_PDf: @ViewBag.AbnormalOrder_PDf<br />
ViewBag.AbnormalOrder_Picture: @ViewBag.AbnormalOrder_Picture<br />
ViewBag.AbnormalOrder_jpgjson: @ViewBag.AbnormalOrder_jpgjson<br />
转为异常订单方法：AbnormalOrderConvert(int? id, string AbnormalOrder_Description) <br />
上传异常单文件(jpg、pdf)方法: UploadAbnormalOrder(int id, string ordernum) <br />
下载异常订单pdf文件: GetAbnormalOrderPDF(string ordernum)<br />
下载异常订单图片预览: GetAbnormalOrderImg(string ordernum)<br />
查看异常订单pdf文档页面: AbnormalOrder_pdf(string ordernum) <br />*@


<script>
    var summary = new Vue({
        el: "#summary",
        data: {
            ProductionDetailsJson: JSON.parse($("#detailsJson").val())
        },
        computed: {
            newTime() {
                return function (value) {
                    var newtimelength = value.split('.');
                    if (newtimelength.length == 1) {
                        if (value == "") {
                            return value;
                        } else {
                            var newtimeval = value.split(':');
                            return newtimeval[0] + "时" + newtimeval[1] + "分" + newtimeval[2] + "秒";
                        }
                    } else if (newtimelength.length == 2) {
                        var newtimeval = newtimelength[0].split(':');
                        return newtimeval[0] + "时" + newtimeval[1] + "分" + newtimeval[2] + "秒";
                    } else {
                        var newtimeval = newtimelength[1].split(':');
                        return newtimelength[0] + "天" + newtimeval[0] + "时" + newtimeval[1] + "分" + newtimeval[2] + "秒";
                    }
                }
            }
        }
    });
</script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            changeAOD: true,
            changeAbnormalOrder: true,
            showIMG_AOD: false,
            showIMG_Abnormal: false,
            showIMG_Sample: false,
            previewIMG: false,
            AOD_Description: "",
            AbnormalOrder_Description: ""
        },
        mounted: function () {
            var fileInput = $('#uploadfile_AOD').get(0).files[0];
            if (fileInput) {
                $('#uploadfile_AOD').replaceWith('<input type="file" id="uploadfile_AOD" name="uploadfile" accept="image/jpeg,application/pdf" />');
            };
            var fileInput = $('#uploadfile_Abnormal').get(0).files[0];
            if (fileInput) {
                $('#uploadfile_Abnormal').replaceWith('<input type="file" id="uploadfile_Abnormal" name="uploadAbnormalOrder" accept="image/jpeg,application/pdf" />');
            };
            var fileInput = $('#uploadfile_Sample').get(0).files[0];
            if (fileInput) {
                $('#uploadfile_Sample').replaceWith('<input type="file" id="uploadfile_Sample" name="uploadfile" accept="image/jpeg,application/pdf" />');
            };
        },
        methods: {
            selectFile_AOD: function () {
                $("#uploadfile_AOD").click();
            },
            selectFile_Abnormal: function () {
                $("#uploadfile_Abnormal").click();
            },
            selectFile_Sample: function () {
                $("#uploadfile_Sample").click();
            },
            postFile_AOD: function () {
                var fileInput = $('#uploadfile_AOD').get(0).files[0];
                if (fileInput) {
                    var form = document.getElementById('uploadForm_AOD'),
                    formData = new FormData(form);
                    $.ajax({
                        url: "/OrderMgms/UploadFile",
                        type: "post",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            if (res) { alert("上传成功！"); }
                            //$("#imgReturn").attr("src", "/OrderMgms/GetImg" + "?ordernum=" + "@Model.OrderNum");
                            window.location.reload();
                        },
                        error: function (err) {
                            alert("上传失败", err);
                        }
                    })
                } else {
                    alert("请先选择上传文件！");
                }
            },
            postFile_Abnormal: function () {
                var fileInput = $('#uploadfile_Abnormal').get(0).files[0];
                if (fileInput) {
                    var form = document.getElementById('uploadForm_Abnormal'),
                    formData = new FormData(form);
                    $.ajax({
                        url: "/OrderMgms/UploadAbnormalOrder",
                        type: "post",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            if (res) { alert("上传成功！"); }
                            //$("#imgReturn").attr("src", "/OrderMgms/GetImg" + "?ordernum=" + "@Model.OrderNum");
                            window.location.reload();
                        },
                        error: function (err) {
                            alert("上传失败", err);
                        }
                    })
                } else {
                    alert("请先选择上传文件！");
                }
            },
            postFile_Sample: function () {
                var fileInput = $('#uploadfile_Sample').get(0).files[0];
                if (fileInput) {
                    $("#uploadForm_Sample").submit();
                } else {
                    alert("请先选择上传文件！");
                }
            },
            showModal_AOD: function () {
                $.ajax({
                    url: "/OrderMgms/GetPDF",
                    type: "post",
                    cache: false,
                    data: {
                        ordernum: '@Model.OrderNum',
                    },
                    success: function (address) {
                        $("#setA").append('<a id="temporary" href="../../Scripts/pdf.js/web/viewer.html?file=\\AOD_Files\\' + '@Model.OrderNum\\' + '@Model.OrderNum' + '_AOD.pdf?' + Math.random() + '" target="pdfIframe" style="display:none"></a>');
                        document.getElementById("temporary").click();
                        $("#temporary").remove();
                        $("#myModalLabel").text("特采订单");
                        $("#pdfIframe").css({ "height": $(window).height() - 60 })//.attr("src", "");
                        $("#showModal_AOD").click();
                    },
                    error: function (err) {
                        alert("查看PDF失败", err);
                    }
                });
            },
            showModal_Abnormal: function () {
                $.ajax({
                    url: "/OrderMgms/GetAbnormalOrderPDF",
                    type: "post",
                    cache: false,
                    data: {
                        ordernum: '@Model.OrderNum',
                    },
                    success: function (address) {
                        $("#setA").append('<a id="temporary" href="../../Scripts/pdf.js/web/viewer.html?file=\\AbnormalOrder_Files\\' + '@Model.OrderNum\\' + '@Model.OrderNum' + '_AbnormalOrder.pdf?' + Math.random() + '" target="pdfIframe" style="display:none"></a>');
                        document.getElementById("temporary").click();
                        $("#temporary").remove();
                        $("#myModalLabel").text("异常订单");
                        $("#pdfIframe").css({ "height": $(window).height() - 60 })//.attr("src", "");
                        $("#showModal_Abnormal").click();
                    },
                    error: function (err) {
                        alert("查看PDF失败", err);
                    }
                });
            },
            showModal_Sample: function () {
                $.ajax({
                    url: "/OrderMgms/preview_SmallSample_pdf",
                    type: "post",
                    cache: false,
                    data: {
                        ordernum: '@Model.OrderNum',
                    },
                    success: function (address) {
                        $("#setA").append('<a id="temporary" href="../../Scripts/pdf.js/web/viewer.html?file=\\SmallSample_Files\\' + '@Model.OrderNum\\' + '@Model.OrderNum' + '_SmallSample.pdf?' + Math.random() + '" target="pdfIframe" style="display:none"></a>');
                        document.getElementById("temporary").click();
                        $("#temporary").remove();
                        $("#myModalLabel").text("小样订单");
                        $("#pdfIframe").css({ "height": $(window).height() - 60 })//.attr("src", "");
                        $("#showModal_Sample").click();
                    },
                    error: function (err) {
                        alert("查看PDF失败", err);
                    }
                });
            }
        }
    });
    $(function () {
        if ($("#createdBarcode").text() == 1) {
            $("#createdBarcode").text("是")
        } else {
            $("#createdBarcode").text("否")
        };
        //点击跳转到工段首页
        $(".cursor").click(function (event) {
            event.preventDefault();
            switch (event.target.textContent) {
                case "组装": postOrder("/Assembles/AssembleIndex"); break;
                case "FQC": postOrder("/FinalQCs/Index"); break;
                case "老化": postOrder("/Burn_in/Index"); break;
                case "校正": postOrder("/CalibrationRecords/Index"); break;
                case "包装": postOrder("/Appearances/Index"); break;
            };
        });
    });
    $("#uploadfile_AOD").change(function () {
        selectFileImage(this)
        var file = this.files['0'];
        if (file) {
            $("#filecontent_AOD").text(file.name);
            $("#imgPreview").attr("src", URL.createObjectURL(file));
            app.previewIMG = true;
        }
    });
    $("#uploadfile_Abnormal").change(function () {
        selectFileImage(this)
        var file = this.files['0'];
        if (file) {
            $("#filecontent_Abnormal").text(file.name);
            $("#imgPreview").attr("src", URL.createObjectURL(file));
            app.previewIMG = true;
        }
    });
    $("#uploadfile_Sample").change(function () {
        selectFileImage(this)
        var file = this.files['0'];
        if (file) {
            $("#filecontent_Sample").text(file.name);
            $("#imgPreview").attr("src", URL.createObjectURL(file));
            app.previewIMG = true;
        }
    });

    function postOrder(url) {
        $("#setForm").attr("action", url)
        $("#setForm").submit();
        $("#setForm").removeAttr("action")
    };
</script>