@model JianHeMES.Models.Personnel_Reasons_for_leaving

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Personnel_Reasons_for_leaving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department_leaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_leaving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DP_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DP_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.levelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.levelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department_of_conclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_of_conclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HR_conclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_conclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pay_dissatisfaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay_dissatisfaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notmanagement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notmanagement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jobenvironment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jobenvironment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Better_development)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Better_development)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
