@model JianHeMES.Models.Personnel_Recruitment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Personnel_Recruitment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department_weekly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department_weekly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demand_jobs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demand_jobs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demand_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demand_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unfinished_nember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unfinished_nember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Application_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Work_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Work_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invite_Plan_Cycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invite_Plan_Cycle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invite_Actaul_Cycle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invite_Actaul_Cycle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Week_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sunday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sunday)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
