@model IEnumerable<JianHeMES.Models.Assemble>

@{
    ViewBag.Title = "Assemble";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.js"></script>

<style>
    .barcodeFrame {
        width: 250px;
        height: 100px;
        border: 1px solid #000000;
        overflow: auto;
    }
    .abnormalFrame{
        width: 350px;
        height: 400px;
        border: 1px solid #000000;
        overflow: auto;
    }
    .titlerow div {
        font-size: 15px;
        font-weight: bold;
    }
    .titlerowone div {
        font-size: 16px;
        font-weight: bold;
    }
</style>
<h2>@ViewBag.OrderNum 组装工序详细情况</h2>
@{
    var JsonObj = ViewBag.JsonObj;
}
<hr />
@*以下是JsonObj的abnormalList内容：<br />
@JsonObj.abnormalList<br />
<hr />
以下是JsonObj的finishedAnd2record内容：<br />
@JsonObj.finishedAnd2record_temp;<br />
<hr />
以下是JsonObj的unfinishAndRecord内容：<br />
@JsonObj.unfinishAndRecord_temp;<br />
<hr />
以下是未开始PQC的条码清单、个数内容：<br />
@JsonObj.unbeginRecord<br />
<hr />
以下是JsonObj的going内容：<br />
@JsonObj.going_temp<br />
<hr />
以下是ViewBag.passed_temp内容：<br />
@ViewBag.passed_temp*@

<div class="row titlerowone">
    <div class="col-md-3">
        订单号：<a href="#" class="aOrderNum" myAttr="">@JsonObj.OrderNum</a>
    </div>
    <div class="col-md-3">
        平台类型：@ViewBag.PlatformType
    </div>
    <div class="col-md-3">
        出货日期：<span id="deliveryDate"></span>
    </div>
    <div class="col-md-3">
        模组数：@JsonObj.modelGroupQuantity
    </div>
</div>
<br />
<div class="row titlerow">
    <div class="col-md-3">
        异常次数：<a href="#" class="aOrderNum" myAttr="异常">@JsonObj.abnormal_Count</a>
    </div>
    <div class="col-md-3">
        已完成PQC数：<a href="#" class="aOrderNum" myAttr="正常">@JsonObj.finished</a>
   </div>
    <div class="col-md-3">
        总PQC次数：<a href="#" class="aOrderNum" myAttr="">@JsonObj.assemblePQC_Count</a>
   </div>
    <div class="col-md-3">
        直通个数：@JsonObj.firstPassYieldCount
    </div>
</div>
<br />
<div class="row titlerow">
    <div class="col-md-3">
        异常工时：@JsonObj.abnormal_time
    </div>
    <div class="col-md-3">
        完成率：@JsonObj.finisthRate %
    </div>
    <div class="col-md-3">
        合格率：@JsonObj.passRate %
    </div>
    <div class="col-md-3">
        直通率：@JsonObj.firstPassYield_Rate %
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            正在进行PQC条码清单：（@JsonObj.goingNum 个）
            <div class="barcodeFrame">
                <ul>
                    @foreach (var item in ViewBag.going_temp as List<JianHeMES.Models.Assemble>)
                    {
                        <li>@Html.RouteLink(item.BoxBarCode, "Default", new { Controller = "Assembles", Action = "Details", id = item.Id },new {target="_blank" })</li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <div>
            未开始PQC条码清单：（@JsonObj.unbeginRecordNum 个）
            <div class="barcodeFrame">
                <ul>
                    @foreach (var item in ViewBag.unbeginRecord_temp as List<string>)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <div>
            已完成PQC条码清单：（@JsonObj.passedNum 个）
            <div class="barcodeFrame">
                <ul>
                    @foreach (var item in ViewBag.passed_temp as List<JianHeMES.Models.Assemble>)
                    {
                        <li>@Html.RouteLink(item.BoxBarCode, "Default", new { Controller = "Assembles", Action = "Details", id = item.Id }, new { target = "_blank" })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            经过2次及以上PQC已完成的条码清单：（@JsonObj.finishedAnd2recordNum 个）
            <div class="barcodeFrame">
                <ul>
                    @foreach (var item in ViewBag.finishedAnd2record_temp as List<JianHeMES.Models.Assemble>)
                    {
                        <li>@Html.RouteLink(item.BoxBarCode, "Default", new { Controller = "Assembles", Action = "Details", id = item.Id }, new { target = "_blank" })</li>
                    }
                </ul>
            </div>
        </div>
        <br />
        <div>
            经过1次以上PQC未通过的条码清单：（@JsonObj.unfinishAndRecordNum 个）
            <div class="barcodeFrame">
                <ul>
                    @foreach (var item in ViewBag.unfinishAndRecord_temp as List<JianHeMES.Models.Assemble>)
                    {
                        <li>@Html.RouteLink(item.BoxBarCode, "Default", new { Controller = "Assembles", Action = "Details", id = item.Id }, new { target = "_blank" })</li>
                    }
                </ul>
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-4">
        <div>
            异常记录清单与异常信息：（@JsonObj.abnormalListNum 个）
            <div class="abnormalFrame">
                <ol>
                    @foreach (var item in ViewBag.abnormalList_temp as List<JianHeMES.Models.Assemble>)
                    {
                        <li>@Html.RouteLink(item.BoxBarCode, "Default", new { Controller = "Assembles", Action = "Details", id = item.Id }, new { target = "_blank" })<br />@item.PQCCheckAbnormal</li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
<form action="/Assembles/AssembleIndex" method="post" target="_blank" style="display:none">
    <input type="text" name="orderNum" value="@JsonObj.OrderNum" id="formOrderNum" />
    <input type="text" name="BoxBarCode" value="" />
    <input type="text" name="PQCNormal" value="" id="formNormal" />
</form>

<script>
    $(function () {
        $(".aOrderNum").click(function (event) {
            event.preventDefault();
            $("#formNormal").val($(this).attr("myAttr"));
            //$("form").attr("action", event.target.pathname).submit();
            $("form").submit();
        });
        $("#deliveryDate").text('@ViewBag.DeliveryDate'.split(" ")[0]);
    });
    //formpost(event.target.pathname, event.target.text)
    //function formpost(url,params) {
    //    var newForm = $("<form action=" + url + " target='_blank' method='post' style='display:none' ><input name='OrderNum' value=" + params + " ><input type='text' name='BoxBarCode' value='' /></form>");
    //    $("#setForm").append(newForm);
    //    newForm.submit();
    //    newForm.remove();
    //}
</script>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCode_Prefix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoxBarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssemblePrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofMaintaince)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterproofTestFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterCardBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterCardPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterCardFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdapterCard_Power_List)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleAdapterFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleViewCheckPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCheckFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleElectricityCheckPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ElectricityCheckFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssemblePQCPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssembleLineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCRepairCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PQCCheckFinish)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.abnormalList_temp as List<JianHeMES.Models.Assemble>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCode_Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoxBarCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssemblePrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleFT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterproofTestBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterproofTestPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterproofTestFT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterproofTestTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterproofAbnormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterproofMaintaince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterproofTestFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleAdapterCardBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleAdapterCardPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleAdapterCardFT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdapterCard_Power_List)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleAdapterTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleAdapterFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCheckBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleViewCheckPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCheckFT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCheckTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCheckAbnormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCheckFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectricityCheckBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleElectricityCheckPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectricityCheckFT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectricityCheckTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectricityCheckAbnormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectricityCheckFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCCheckBT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssemblePQCPrincipal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssembleLineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCCheckFT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCCheckTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCCheckAbnormal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCRepairCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PQCCheckFinish)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
