@model JianHeMES.Models.CalibrationRecord

@{
    ViewBag.Title = "校正详细情况";
}
<style>
    .titleRow div {
        font-size: 17px;
        padding: 10px;
    }

        .titleRow div span {
            font-weight: bold;
        }
</style>
<script src="~/Scripts/jquery-1.11.3.js"></script>
<h2>@ViewBag.Title</h2>
<h4>CalibrationRecord</h4>
<hr />
<div class="row titleRow">
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.OrderNum)
        </span>：
        @Html.DisplayFor(model => model.OrderNum)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.BarCodesNum)
        </span>：
        @Html.DisplayFor(model => model.BarCodesNum)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.ModuleGroupNum)
        </span>：
        @Html.DisplayFor(model => model.ModuleGroupNum)
    </div>
    
    
</div>
<div class="row titleRow">
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.BeginCalibration)
        </span>：
        @Html.DisplayFor(model => model.BeginCalibration)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.FinishCalibration)
        </span>：
        @Html.DisplayFor(model => model.FinishCalibration)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.CalibrationTimeSpan)
        </span>：
        @Html.DisplayFor(model => model.CalibrationTimeSpan)
    </div>
    
</div>
<div class="row titleRow">
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.Operator)
        </span>：
        @Html.DisplayFor(model => model.Operator)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.AbnormalDescription)
        </span>：
        @Html.DisplayFor(model => model.AbnormalDescription)
    </div>
    <div class="col-md-4">
        <span>
            @Html.DisplayNameFor(model => model.Normal)
        </span>：
        @Html.DisplayFor(model => model.Normal)
    </div>
</div>
<hr />
<p>
    @*@Html.ActionLink("编辑", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("返回", "Index")
</p>