@*@model IEnumerable<JianHeMES.Models.CalibrationRecord>*@
@model JianHeMES.Models.ModuleGroupCalibrationViewModel


@{
    ViewBag.Title = "校正信息查询";
}
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/highcharts-3d.js"></script>
<script src="~/Scripts/modules/exporting.js"></script>

@*引入EasyUI框架*@
<script type="text/javascript" src="~/Scripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.easyui.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/easyui.css">
<link rel="stylesheet" type="text/css" href="~/Content/icon.css">
<script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

@*引入Vue.js框架*@
<script src="~/Scripts/vue.js"></script>           

@*引入Bootstrap框架*@
<link rel="stylesheet" href="~/Scripts/bootstrap.min.css" />
<script type="text/javascript" src="~/Scripts/bootstrap-paginator.js"></script>

<h3 class="text-center">@ViewBag.Title</h3>
<br class="hidden-xs"/>
<div class="text-center">
    <p class="text-success text-center btn btn-default hidden-xs">
        @Html.RouteLink("订单信息", "Default", new { controller = "OrderInformations", Action = "Index" })
    </p>
    <p class="text-success text-center btn btn-default">
        @Html.ActionLink("开始校正工作", "CreateCal")
    </p>
</div>
<br/>

@using (Html.BeginForm("Index", "CalibrationRecords", FormMethod.Post, new { id = "searchForm" ,@class="text-center"}))
{
    @Html.AntiForgeryToken()
<form asp-controller="CalibrationRecords" asp-action="Index" method="post" class="text-center"> 
    <p>
        <span>订单号：@Html.DropDownList("orderNum", (List<SelectListItem>)ViewBag.OrderList, "全部")</span>
        @*订单号：<input type="text" name="orderNum"/>*@
        <span>模组号：<input type="text" name="moduleGroupNum" /></span>
        <span class="hidden-xs">描述:<input type="text" name="SearchString" /></span>
        <input type="hidden" id="PageIndex" name="PageIndex" value="0" />
        <input type="submit" id="searchButton" value="查找" />
    </p>
</form>
<br/>
}

<div class="container">
    <div class="row">
        <div id="details" style="@ViewBag.Display">
            <div class="col-md-4">
                <h4>订单<span id="title" v-bind:title="floatmessage"> @ViewBag.orderNum </span>模组校正基本情况 </h4>
                订单的模组总量：@ViewBag.Quantity，经过校正数量：@ViewBag.RecordCount<br />
                正常数量：@ViewBag.NormalCount，异常数量：@ViewBag.AbnormalCount，完成率：<span id="Rate">{{FinishRate}}</span>% <br />  @*@ViewData["FinishRate"]%。*@
                校正总时长：@ViewBag.TotalTimeSpan<br/>
                平均校正时长：@ViewBag.AvgTimeSpan<br/>
                查询时间：<span id="Querytime">{{message}}</span>   @*输出查询时间*@
            </div>
            @*<div id="main_pie" class="col-md-3" style="width: 375px;height:250px;"></div>*@
            <div id="container2" class="col-md-4"  style="width: auto;height:300px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript" >
    var app = new Vue({
        el: '#Querytime',    //与div中的id名对应
        data: {
            message: new Date().toLocaleString()  //输出查询时间
        }
    })
    var app2 = new Vue({     //悬停显示内容<span v-bind:title="floatmessage">内容</span>
        el: '#title',
        data: {
            floatmessage: '订单号'+'@ViewBag.orderNum',
        }
    })

    var app3 = new Vue ({
        el:'#Rate',
        data:{
            Quantity:@ViewBag.Quantity,
            NormalCount:@ViewBag.NormalCount,
        },
        computed:{
            FinishRate: function (){
                return (this.NormalCount/this.Quantity*100).toFixed(1)
            }}
    })


    var CalibrationRecordsViewModel = {
        orderNum:'',
        Quantity: 0,
        Count: 0,
        NeverFinish: 0,
        OrderList:[]
    }

    CalibrationRecordsViewModel.orderNum = '@ViewBag.orderNum';
    CalibrationRecordsViewModel.Quantity=@ViewBag.Quantity;
    CalibrationRecordsViewModel.Count=@ViewBag.NormalCount;


    Highcharts.chart('container2', {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 30,
                beta: 0
            }
        },
        title: {
            text: '订单 @ViewBag.orderNum 基本情况'
        },
        tooltip: {
            pointFormat: '<b>{point.percentage:.1f}%</b>'//'{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    formatter:function(){           // '{point.name}'
                        if(this.percentage >0 )
                        { return this.point.name;}
                        else if (this.percentage >=100 )
                        { return '已全部完成';}
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '',
            data: [
                ['已完成 @ViewBag.NormalCount 块',@ViewBag.NormalCount],
                ['未完成 @ViewBag.NeverFinish 块',@ViewBag.NeverFinish]
            ]
        }]
    });
  </script>

<hr style="@ViewBag.Display" />

<br class=""/>

<div class="" style="@ViewBag.Display">
    <h4> 订单 @ViewBag.orderNum 详细校正记录：</h4>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].BarCodesNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].ModuleGroupNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].BeginCalibration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].FinishCalibration)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].CalibrationTime)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].CalibrationTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].Normal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].AbnormalDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].Operator)
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.AllCalibrationRecord[0].CalibrationTime)
    </th>*@

        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model.AllCalibrationRecord)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCodesNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleGroupNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginCalibration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishCalibration)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CalibrationTime)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CalibrationTimeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Normal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbnormalDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator)
            </td>

            @*<td>
                    @Html.DisplayFor(modelItem => item.CalibrationTime)
                </td>*@

            <td>
                @Html.ActionLink("编辑", "Edit1", new { id = item.ID }) |
                @Html.ActionLink("详细", "Details", new { id = item.ID }) @*|*@
                @*@Html.ActionLink("删除", "Delete", new { id=item.ID })*@
            </td>
        </tr>
    }

}
</table>

@*-----------------------分页功能----------------------------------------------------------------------------------------*@
<div class="text-center">
    <div id="pagebar">
        @for (var i = 0; i < ViewBag.PageCount; i++)
        {
            if (i == ViewBag.PageIndex)
            {
                <span style="font-size:25px" class="currentpagenumber">  @(i + 1)  </span>
            }
            else
            {
                <a class="pagenumber" style="font-size:20px" href="javascript:;">  @(i + 1)  </a>
            }
        }
    </div>
</div>
@section scripts {
    <script>
        function submitForm(pagenumber) {
            pagenumber = parseInt(pagenumber, 10);
            $('#PageIndex').val(pagenumber - 1);
            $('#searchForm').submit();
        }

        $(function () {

            $('#searchButton').click(function () {
                submitForm($('#pagebar .currentpagenumber').text());
            });

            $('#pagebar .pagenumber').click(function () {
                submitForm($(this).text());
            });

        });
    </script>
    }






