@model JianHeMES.Models.Personnel_daily

@{
    ViewBag.Title = "添加今天本部门人事日报信息";
}

<h3 class="col-xs-offset-3">@ViewBag.Title</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (ViewBag.address != null)
    {
        <a href="../Personnel/Edit/@ViewBag.address">修改</a>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
            <select id="gll" class="form-control" style="display:none">
                <option value="">请选择</option>
                <option value="PC部">PC部</option>
                <option value="MC部">MC部</option>
            </select>
            <select id="lll" class="form-control" style="display:none">
                <option value="">请选择</option>
                <option value="人力资源部">人力资源部</option>
                <option value="财务部">财务部</option>
                <option value="制造中心总监">制造中心总监</option>
                <option value="工厂厂长">工厂厂长</option>
            </select>
            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Principal, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Principal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Principal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Aurhorized_personnel, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Aurhorized_personnel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Aurhorized_personnel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Need_personnel, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Need_personnel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Need_personnel, "", new { @class = "text-danger" })
            若无刚需人数，则刚需人数填＝编制人数。
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Employees_personnel, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Employees_personnel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Employees_personnel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Workers_personnel, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Workers_personnel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Workers_personnel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Today_on_board_employees, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Today_on_board_employees, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Today_on_board_employees, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Today_on_board_workers, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Today_on_board_workers, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Today_on_board_workers, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Interview, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Interview, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Interview, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="form-group">
        @Html.LabelFor(model => model.Todoy_dimission_employees, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Todoy_dimission_employees, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Todoy_dimission_employees, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.Todoy_dimission_employees_over7days, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Todoy_dimission_employees_over7days, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Todoy_dimission_employees_over7days, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Todoy_dimission_employees_nvever_over7days, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Todoy_dimission_employees_nvever_over7days, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Todoy_dimission_employees_nvever_over7days, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Todoy_dimission_workers, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Todoy_dimission_workers, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Todoy_dimission_workers, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Resigned_that_month, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Resigned_that_month, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Resigned_that_month, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Resigned_workers_that_month, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Resigned_workers_that_month, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Resigned_workers_that_month, "", new { @class = "text-danger" })
        </div>
    </div>


    @*<div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Reporter, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Reporter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reporter, "", new { @class = "text-danger" })
            </div>
        </div>



    *@

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="添加今天人事日报信息" class="btn btn-default" />
            <br /><br />
            <div>
                @Html.ActionLink("返回", "Daily")
            </div>
        </div>
    </div>
</div>
}


@{
    var UserName = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserName;
    var UserRole = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Role;
    var UserDepartment = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Department;
}
<script>
    $(function () {
        switch ("@UserName") {
            case '程嘉盟':
                $("#Department").val("@UserDepartment");
                $("#Principal").val("李险峰");
                $("#Aurhorized_personnel").val("159");
                break;
            case '王青云':
                $("#Department").val("@UserDepartment");
                $("#Principal").val("彭陆坤");
                $("#Aurhorized_personnel").val("40");
                break;
            case '余良梅':
                $("#Department").val("@UserDepartment");
                $("#Principal").val("肖卓良");
                $("#Aurhorized_personnel").val("138");
                break;
            case '高连':
                $("#Department").val("@UserDepartment");
                $("#Principal").val("夏天");
                $("#Aurhorized_personnel").val("230");
                break;
            case '黄仕欢':
                $("#Department").val("@UserDepartment");
                $("#Principal").val("张波");
                $("#Aurhorized_personnel").val("89");
                break;
            case '李霞':
                $("#Department").val("@UserDepartment");
                $("#Principal").val("解涛");
                $("#Aurhorized_personnel").val("184");
                break;
            case '张小伟':
                $("#Department").val("@UserDepartment");
                $("#Principal").val("刘学礼");
                $("#Aurhorized_personnel").val("28");
                break;
            case '桂玲玲':
                $("#gll").show();
                $("#Department").hide();
                $("#gll").change(function (val) {
                    if ($(this).val() == "PC部") {
                        $("#Department").val($(this).val());
                        $("#Principal").val("汪维");
                        $("#Aurhorized_personnel").val("21");
                    } else if ($(this).val() == "MC部") {
                        $("#Department").val($(this).val());
                        $("#Principal").val("韩志贤");
                        $("#Aurhorized_personnel").val("42");
                    } else {
                        $("#Department").val("");
                        $("#Principal").val("");
                        $("#Aurhorized_personnel").val("");
                    }
                });
                break;
            case '刘露露':
                $("#lll").show();
                $("#Department").hide();
                $("#lll").change(function (val) {
                    if ($(this).val() == "人力资源部") {
                        $("#Department").val($(this).val());
                        $("#Principal").val("翟远红");
                        $("#Aurhorized_personnel").val("7");
                    } else if ($(this).val() == "财务部") {
                        $("#Department").val($(this).val());
                        $("#Principal").val("李春林");
                        $("#Aurhorized_personnel").val("5");
                    } else if ($(this).val() == "制造中心总监") {
                        $("#Department").val($(this).val());
                        $("#Principal").val("周金成");
                        $("#Aurhorized_personnel").val("1");
                    } else if ($(this).val() == "工厂厂长") {
                        $("#Department").val($(this).val());
                        $("#Principal").val("钟胜雄");
                        $("#Aurhorized_personnel").val("1");
                    } else {
                        $("#Department").val("");
                        $("#Principal").val("");
                        $("#Aurhorized_personnel").val("");
                    }
                });
                break;
            default:
                break;
        };
    });
</script>