@model JianHeMES.Models.UserInformationTips

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserInformationTips</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
