<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 健和光电MES</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryform")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalAll")
    @Scripts.Render("~/bundles/home")
    @Scripts.Render("~/bundles/common")
    @Styles.Render("~/Scripts/easyui")
    @Styles.Render("~/Content/easyuicss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/echarts")
    @Scripts.Render("~/Scripts/vue")
    @Scripts.Render("~/Scripts/highcharts")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<img src="~/Views/Images/CompanyLogo.png"/>*@
                @Html.ActionLink("健和光电MES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        @*全厂温湿度*@
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            全厂温湿度
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                            <li>@Html.RouteLink("一楼", "KongYaHT", new { Controller = "KongYa", Action = "FirstFloor" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("三楼", "KongYaHT", new { Controller = "KongYa", Action = "ThirdFloor" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("四楼", "KongYaHT", new { Controller = "KongYa", Action = "FourthFloor" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("五楼", "KongYaHT", new { Controller = "KongYa", Action = "FifthFloor" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("六楼", "KongYaHT", new { Controller = "KongYa", Action = "Sixthfloor" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("汇总表", "KongYaHT", new { Controller = "KongYa", Action = "FloorDataShow" })</li>
                        </ul>
                    </li>
                    @*空压机房*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            空压机房
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                            <li>@Html.RouteLink("空压机房", "KongYaHT", new { Controller = "KongYa", Action = "KongYaIndex" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("汇总表", "KongYaHT", new { Controller = "KongYa", Action = "KYDataShow" })</li>
                        </ul>
                    </li>
                    @*生产管控*@
                    <li>@Html.RouteLink("生产管控", "Default", new { controller = "ProductionControl", Action = "Index" })</li>
                    @*@{var UserRole = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Role; }
                        @if (UserRole == "系统管理员")
                        {
                            <li>@Html.RouteLink("生产管控", "Default", new { controller = "ProductionControl", Action = "Index" })</li>
                        }*@
                    @*订单*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            PC部
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                            <li>@Html.RouteLink("订单管理", "Default", new { controller = "OrderMgms", Action = "Index" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("条码管理", "Default", new { controller = "BarCodes", Action = "Index" })</li>
                        </ul>
                    </li>

                    @*装配部*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            装配一部
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                            <li>@Html.RouteLink("组装产线", "Default", new { controller = "Assembles", Action = "AssembleIndex" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("校正信息", "Default", new { controller = "CalibrationRecords", Action = "Index" })</li>
                        </ul>
                    </li>

                    @*品质部*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            品质部
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                            @*<li>@Html.RouteLink("组装PQC", "Default", new { controller = "Assembles", Action = "AssembleIndex" })</li>
                            <li class="divider"></li>*@
                            <li>@Html.RouteLink("老化OQC", "Default", new { controller = "Burn_in", Action = "Index" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("外观包装", "Default", new { controller = "Appearances", Action = "Index" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("IQC管理", "Default", new { controller = "IQCReports", Action = "Index" })</li>
                        </ul>
                    </li>
                    @*<li>@Html.RouteLink("老化OQC管理", "Default", new { controller = "Burn_in", Action = "Index" })</li>
                        <li>@Html.RouteLink("外观OQC管理", "Default", new { controller = "Appearance", Action = "Index" })</li>
                        <li>@Html.RouteLink("包装OQC管理", "Default", new { controller = "Packaging", Action = "Index" })</li>*@

                    @*<li>@Html.RouteLink("订单信息", "Default", new { controller = "OrderInformations", Action = "Index" })</li>*@
                    @{var UserRoles = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Role; }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            SMT部
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                            <li>@Html.RouteLink("看板管理", "Default", new { controller = "SMT", Action = "SMT_Mangage" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("生产信息", "Default", new { controller = "SMT", Action = "SMT_ProductionInfo" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("产线操作", "Default", new { controller = "SMT", Action = "SMT_Operator" })</li>
                        </ul>
                    </li>
                    @if (UserRoles == "系统管理员")
                    {

                        <li>@Html.RouteLink("用户管理", "Default", new { controller = "Users", Action = "Index" })</li>
                    }
                    @*<li>@Html.RouteLink("用户管理", "Default", new { controller = "Users", Action = "Index" })</li>
                        <li>@Html.RouteLink("关于", "Default", new { controller = "Home", Action = "About" })</li>
                        <li>@Html.RouteLink("技术支持", "Default", new { controller = "Home", Action = "Contact" })</li>*@
                </ul>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar navbar-nav navbar-right">
                        <li>
                            @{
                                var UserName = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserName;
                                var Userid = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).ID.ToString();
                            }
                            @*<a href="#" })">@UserName</a>*@
                            @if (Session["User"] == null)
                            {
                                <a href="#"></a>
                            }
                            else
                            {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    @UserName
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu collapse" style="text-align: center; min-width: 100px;">
                                    <li>
                                        @Html.RouteLink("修改密码", "Default", new { id = Userid, Controller = "Users", Action = "Modifypwd" })
                                    </li>
                                </ul>
                            </li>
                            }
                            <li>
                                @if (Session["User"] == null)
                                {<a href="/Users/Login">登录</a>}
                                else
                                {<a href="/Users/Logoff">退出</a>}
                            </li>
                        </ul>
                    </div>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            @RenderSection("scripts", false)
            <hr class="hidden-xs" />
            <footer class="hidden-xs">
                <p align="center">&copy; @DateTime.Now.Year - 健和光电MES</p>
            </footer>
        </div>

    </body>
</html>
