@model JianHeMES.Models.IQCReport
@{
    ViewBag.Title = "IQC报告详细内容";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.js"></script>
<style>
    tr {
        height: 22px;
        font-size: 14px;
        text-align: center;
    }

    input {
        max-width: none;
    }

    td {
        border: 1px solid black;
    }

    #C3, #C4, #C5, #C6, #C7, #C8,
    #D3, #D4, #D5, #D6, #D7, #D8,
    #E3, #E4, #E5, #E6, #E7, #E8,
    #F3, #F4, #F5, #F6, #F7, #F8 {
        width: 65%;
        height: 21px;
        float: right;
    }

    .Dfive span {
        width: 20%;
        float: left;
    }

    .Dthree span {
        width: 33.3%;
        float: left;
    }

    label {
        font-weight: normal;
    }

    #P0, #R0, #AM0 {
        padding: 0;
    }

    #RoHS_REACH,#SamplingPlan,#NGD,#NGHandle,#ApprovePass,#AssessorPass,#SRJson,#MaterialName{
        display:none;
    }
    textarea{
        border:none;
        width:100%;
        max-width:initial;
        line-height:14px;
        font-size:14px;
        padding:3px 6px;
        resize: none;
    }
    .srgb span{
        width: 10%;
        float: left;
    }
    #EquipmentNumShow{
        text-align:left;
        padding:0;
        line-height:13px;
        font-size:13px;
        color:#555;
    }

</style>

<h3>@ViewBag.Title</h3>
    <div class="form-horizontal">
        <table id="tableApp" style="margin:0 auto;border-collapse:collapse;">
            <colgroup>
                <col width="100 ">
                <col width="80 ">
                <col width="80 ">
                <col width="80 ">
                <col width="80 ">
                <col width="80 ">
                <col width="80 ">
                <col width="160 ">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="8" style="border-left: none;border-right: none;border-bottom:none"><b style="font-size:28px">进料检验报告</b><b>--通用</b></td>
                </tr>
                <tr>
                    <td colspan="1" style="border:none;">物料编号：</td>
                    <td colspan="3" style="border:none;">
                        @Html.TextAreaFor(model => model.Material_SN, new {  @readonly = "readonly" })
                    </td>
                    <td colspan="2" style="border:none;text-align:right">订单号：</td>
                    <td colspan="2" style="border:none;text-align:right ">
                        @Html.TextAreaFor(model => model.OrderNumber, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                    </td>

                    
                </tr>
                <tr style="height:60px">
                    <td colspan="4" style="border:none" class="form-group">
                        <span style="float: left">
                            物料需要符合RoHS、REACH要求：
                            <label><input type="checkbox" name="RoHS_REACHcheck" value="是">是&nbsp;</label>
                            <label><input type="checkbox" name="RoHS_REACHcheck" value="否">否</label>
                        </span>
                        @Html.EditorFor(model => model.RoHS_REACH)
                    </td>
                    <td colspan="2" style="border:none;text-align:right ">测试设备编号：</td>
                    <td colspan="2" style="border:none;">
                        <div id="EquipmentNumShow">
                            @Html.DisplayFor(model => model.EquipmentNum)
                        </div>
                    </td>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>供应商</td>
                    <td colspan="2" class="form-group">
                        @Html.DisplayFor(model => model.Provider)
                    </td>
                    <td>物料名称</td>
                    <td colspan="2" class="form-group">
                        @Html.DisplayFor(model => model.MaterialName)
                        @Html.EditorFor(model => model.MaterialName, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>型号</td>
                    <td colspan="1" class="form-group">
                        @Html.TextAreaFor(model => model.ModelNumber, new {  @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td>规格</td>
                    <td colspan="2" class="form-group">
                        @Html.DisplayFor(model => model.Specification)
                    </td>
                    <td>来料数量</td>
                    <td colspan="2" class="form-group">
                        @Html.DisplayFor(model => model.MaterialQuantity)
                    </td>
                    <td>来料日期</td>
                    <td colspan="1" class="form-group">
                        @Html.DisplayFor(model => model.IncomingDate)
                    </td>
                </tr>
                <tr>
                    <td>请购单号</td>
                    <td colspan="2" class="form-group">
                        @Html.TextAreaFor(model => model.ApplyPurchaseOrderNum, new { @readonly = "readonly" })
                    </td>
                    <td>批号</td>
                    <td colspan="2" class="form-group">
                        @Html.TextAreaFor(model => model.BatchNum, new {  @readonly = "readonly" })
                    </td>
                    <td>检验日期</td>
                    <td colspan="1" class="form-group">
                        @Html.DisplayFor(model => model.InspectionDate)
                    </td>
                </tr>
                <tr style="height: 40px">
                    <td>抽样方案</td>
                    <td colspan="4" class="form-group">
                        <label><input type="checkbox" name="SamplingPlancheck" value="全检">全检 &nbsp;</label>
                        <label><input type="checkbox" name="SamplingPlancheck" value="加严">加严 &nbsp;</label>
                        <label><input type="checkbox" name="SamplingPlancheck" value="正常">正常 &nbsp;</label>
                        <label><input type="checkbox" name="SamplingPlancheck" value="放宽">放宽</label>
                        @Html.EditorFor(model => model.SamplingPlan)
                    </td>
                    <td colspan="2">承认书或图纸号/版本</td>
                    <td colspan="1" class="form-group">
                        @Html.DisplayFor(model => model.MaterialVersion)
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">检验内容</td>
                    <td rowspan="2">检验水平</td>
                    <td rowspan="2">抽样数量</td>
                    <td colspan="3">判定标准</td>
                    <td colspan="2" rowspan="2">检验判定</td>
                </tr>
                <tr>
                    <td>严重缺陷<br>AQL：0</td>
                    <td>一般缺陷<br>AQL：0.4</td>
                    <td>轻微缺陷<br>AQL：0.65</td>
                </tr>
                <tr>
                    <td rowspan="2">标识</td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.C1)
                    </td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.C2)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.C3)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.C5)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.C7)
                    </td>
                    <td colspan="2" rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.C9)
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.C4)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.C6)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.C8)
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">包装、外观</td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.D1)
                    </td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.D2)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.D3)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.D5)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.D7)
                    </td>
                    <td colspan="2" rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.D9)
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.D4)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.D6)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.D8)
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">尺寸</td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.E1)
                    </td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.E2)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.E3)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.E5)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.E7)
                    </td>
                    <td colspan="2" rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.E9)
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.E4)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.E6)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.E8)
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">性能/参数</td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.F1)
                    </td>
                    <td rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.F2)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.F3)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.F5)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">AC：</span>
                        @Html.DisplayFor(model => model.F7)
                    </td>
                    <td colspan="2" rowspan="2" class="form-group">
                        @Html.DisplayFor(model => model.F9)
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.F4)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.F6)
                    </td>
                    <td class="form-group">
                        <span style="width:30%;float:left">Re：</span>
                        @Html.DisplayFor(model => model.F8)
                    </td>
                </tr>
                <tr>
                    <td>不良项目<br>(检测项目)</td>
                    <td>规格要求</td>
                    <td colspan="6">检验结果描述</td>
                </tr>
                <tr class="s0show">
                    <td class="form-group">
                        @Html.DisplayFor(model => model.S0)
                    </td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.S1)
                    </td>
                    <td colspan="6" class="Dfive">
                        <span>@Html.DisplayFor(model => model.S11)</span>
                        <span>@Html.DisplayFor(model => model.S12)</span>
                        <span>@Html.DisplayFor(model => model.S13)</span>
                        <span>@Html.DisplayFor(model => model.S14)</span>
                        <span>@Html.DisplayFor(model => model.S15)</span>
                    </td>
                </tr>
                <tr class="s0show">
                    <td></td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.S2)
                    </td>
                    <td colspan="6" class="Dfive">
                        <span>@Html.DisplayFor(model => model.S21)</span>
                        <span>@Html.DisplayFor(model => model.S22)</span>
                        <span>@Html.DisplayFor(model => model.S23)</span>
                        <span>@Html.DisplayFor(model => model.S24)</span>
                        <span>@Html.DisplayFor(model => model.S25)</span>
                    </td>
                </tr>
                <tr class="s0show">
                    <td></td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.S3)
                    </td>
                    <td colspan="6" class="Dfive">
                        <span>@Html.DisplayFor(model => model.S31)</span>
                        <span>@Html.DisplayFor(model => model.S32)</span>
                        <span>@Html.DisplayFor(model => model.S33)</span>
                        <span>@Html.DisplayFor(model => model.S34)</span>
                        <span>@Html.DisplayFor(model => model.S35)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.R0)
                    </td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.R1)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.R11)</span>
                        <span>@Html.DisplayFor(model => model.R12)</span>
                        <span>@Html.DisplayFor(model => model.R13)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.P0)
                    </td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.P1)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.P11)</span>
                        <span>@Html.DisplayFor(model => model.P12)</span>
                        <span>@Html.DisplayFor(model => model.P13)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.P2)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.P21)</span>
                        <span>@Html.DisplayFor(model => model.P22)</span>
                        <span>@Html.DisplayFor(model => model.P23)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.P3)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.P31)</span>
                        <span>@Html.DisplayFor(model => model.P32)</span>
                        <span>@Html.DisplayFor(model => model.P33)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6" class="form-group">
                        我司测试条件R=G=B=8mA
                        @Html.DisplayFor(model => model.AM)
                    </td>
                </tr>
                <tr>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.AM0)
                    </td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.AM1)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.AM11)</span>
                        <span>@Html.DisplayFor(model => model.AM12)</span>
                        <span>@Html.DisplayFor(model => model.AM13)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.AM2)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.AM21)</span>
                        <span>@Html.DisplayFor(model => model.AM22)</span>
                        <span>@Html.DisplayFor(model => model.AM23)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.AM3)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.AM31)</span>
                        <span>@Html.DisplayFor(model => model.AM32)</span>
                        <span>@Html.DisplayFor(model => model.AM33)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.AM4)
                    </td>
                    <td colspan="6" class="Dthree">
                        <span>@Html.DisplayFor(model => model.AM41)</span>
                        <span>@Html.DisplayFor(model => model.AM42)</span>
                        <span>@Html.DisplayFor(model => model.AM43)</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6"></td>
                </tr>
                <tr class="sRshow">
                    <td class="form-group">
                        @Html.DisplayFor(model => model.SR, new { @class = "form-control", @readonly = "readonly" })
                    </td>
                    <td>
                        <span class="form-control srgb"></span>
                        @Html.TextAreaFor(model => model.SRJson, new { @class = "form-control", @readonly = "readonly" })
                    </td>
                    <td colspan="6" class="srgb">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </td>
                </tr>
                <tr class="sRshow">
                    <td class="form-group"></td>
                    <td>
                        <span class="form-control srgb"></span>
                    </td>
                    <td colspan="6" class="srgb">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </td>
                </tr>
                <tr class="sRshow">
                    <td class="form-group"></td>
                    <td>
                        <span class="form-control srgb"></span>
                    </td>
                    <td colspan="6" class="srgb">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </td>
                </tr>
                <tr class="sRshow">
                    <td class="form-group"></td>
                    <td>
                        <span class="form-control srgb"></span>
                    </td>
                    <td colspan="6" class="srgb">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </td>
                </tr>
                <tr class="sRshow">
                    <td class="form-group"></td>
                    <td>
                        <span class="form-control srgb"></span>
                    </td>
                    <td colspan="6" class="srgb">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <td rowspan="3">总不良数</td>
                    <td>严重缺陷</td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.NG1)
                    </td>
                    <td colspan="5" rowspan="3" class="form-group">
                        最终判定：
                        <label>&nbsp;<input type="checkbox" name="NGDcheck" value="允收">允收（AC） </label>
                        <label>&nbsp;<input type="checkbox" name="NGDcheck" value="拒收">拒收（Re）</label>
                        @Html.EditorFor(model => model.NGD)
                    </td>
                </tr>
                <tr>
                    <td>一般缺陷</td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.NG2)
                    </td>
                </tr>
                <tr>
                    <td>轻微缺陷</td>
                    <td class="form-group">
                        @Html.DisplayFor(model => model.NG3)
                    </td>
                </tr>
                <tr>
                    <td colspan="8" class="form-group">
                        不合格批处理：
                        <label>&nbsp;&nbsp;<input type="checkbox" name="NGHandlecheck" value="退货">退货； </label>
                        <label>&nbsp;&nbsp;<input type="checkbox" name="NGHandlecheck" value="挑选">挑选； </label>
                        <label>&nbsp;&nbsp;<input type="checkbox" name="NGHandlecheck" value="特采">特采； </label>
                        <label>&nbsp;&nbsp;<input type="checkbox" name="NGHandlecheck" value="维修">维修； </label>
                        <label>&nbsp;&nbsp;<input type="checkbox" name="NGHandlecheck" value="其他">其他； </label>
                        @Html.EditorFor(model => model.NGHandle)
                    </td>
                </tr>
                <tr style="text-align: left;height: 40px">
                    <td style="text-align:center;border-right: none">备注：</td>
                    <td colspan="7" style="border-left:none" class="form-group">
                        @Html.DisplayFor(model => model.ReportRemark)
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td style="text-align:center;border-right: none">批准：</td>
                    <td colspan="2" style="border-left: none;border-right: none" class="form-group">
                        @Html.EditorFor(model => model.ApprovePass)
                        <select class="list-box tri-state" id="ApprovePassSelect" disabled="disabled">
                            <option value="">未批准</option>
                            <option value="true">通过</option>
                            <option value="false">未通过</option>
                        </select>
                        @Html.DisplayFor(model => model.Approve)
                    </td>
                    <td style="text-align:center;border-left: none;border-right: none">审核：</td>
                    <td colspan="2" style="border-left: none;border-right: none" class="form-group">
                        @Html.EditorFor(model => model.AssessorPass)
                        <select class="list-box tri-state" id="AssessorPassSelect" disabled="disabled">
                            <option value="">未审核</option>
                            <option value="true">通过</option>
                            <option value="false">未通过</option>
                        </select>
                        @Html.DisplayFor(model => model.Assessor)
                    </td>
                    <td style="text-align:center;border-left: none;border-right: none">检验：</td>
                    <td style="border-left: none" class="form-group">
                        @Html.DisplayFor(model => model.Inspector)
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" style="text-align: right;border: none">表单编号：QD-007-B</td>
                </tr>


                <tr>
                    <td colspan="8" style="border: none;text-align:left">
                        <p>
                            @{var UserRole = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Role; }

                            @if (UserRole == "IQC检验员" || UserRole == "系统管理员" && Model.AssessorPass == null)
                            {
                                <span class="text-success text-center btn btn-default">
                                    @Html.ActionLink("编辑", "IQCReportEdit", new { id = Model.Id })
                                </span>
                            }
                            @if (UserRole == "IQC组长" || UserRole == "系统管理员" && Model.AssessorPass == null)
                            {
                                <span class="text-success text-center btn btn-default">
                                    @Html.ActionLink("审核", "IQCReportAssessor", new { id = Model.Id })
                                </span>
                            }
                            @if (UserRole == "品质部经理" || UserRole == "系统管理员" && Model.AssessorPass != null && Model.ApprovePass == null)
                            {
                                <span class="text-success text-center btn btn-default">
                                    @Html.ActionLink("批准", "IQCReportApprove", new { id = Model.Id })
                                </span>
                            }
                            <span class="text-success text-center btn btn-default">
                                @Html.ActionLink("返回IQC首页", "Index")
                            </span>
                        </p>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

<script>
    $(document).ready(function () {
        var sRGB = $("span.srgb,.srgb span");
        function isJsonFormat(str) {
            try {
                $.parseJSON(str);
            } catch (e) {
                return false;
            }
            return true;
        }
        if (isJsonFormat($("#SRJson").val())) {
            var rgbJSON = JSON.parse($("#SRJson").val())
            //console.log(rgbJSON)
            for (var i = 0; i < sRGB.length / 11; i++) {
                //console.log(i)
                sRGB.each(function (index) {
                    if (index / 11 >= i && index / 11 < i + 1) {
                        try {
                            $(this).text(rgbJSON.SR[i][index - 11 * i]);
                        } catch (e) {
                            return;
                        }
                    } else {
                        return;
                    }
                    //console.log(index + ":" + index / 11);
                });
            }

        } else {
            //alert("SRJson格式错啦")
        }

        if ($("#MaterialName").val() == "三合一贴片灯") {
            $(".s0show").show();$(".sRshow").hide();
        } else if ($("#MaterialName").val() == "LED插件灯") {
            $(".s0show").hide();$(".sRshow").show();
        } else {
            $(".s0show").hide();$(".sRshow").hide();
        }

        $("#EquipmentNumShow").html($("#EquipmentNumShow").text().replace(/,/g, "<br>"))

        if ($("#ApprovePass").val() == "true") {
            $("#ApprovePassSelect").val($("#ApprovePass").val());
        } else if ($("#ApprovePass").val() == "false") {
            $("#ApprovePassSelect").val($("#ApprovePass").val());
        } else {
            $("#ApprovePassSelect").val($("#ApprovePass").val());
        }
        if ($("#AssessorPass").val() == "true") {
            $("#AssessorPassSelect").val($("#AssessorPass").val());
        } else if ($("#AssessorPass").val() == "false") {
            $("#AssessorPassSelect").val($("#AssessorPass").val());
        } else {
            $("#AssessorPassSelect").val($("#AssessorPass").val());
        }
        if ($("#RoHS_REACH").val() == "true") {
            $("input[name=RoHS_REACHcheck]:eq(0)").attr("checked", true)
        } else {
            $("input[name=RoHS_REACHcheck]:eq(1)").attr("checked", true)
        };
        if ($("#SamplingPlan").val() == "全检") {
            $("input[name=SamplingPlancheck]:eq(0)").attr("checked", true)
        } else if ($("#SamplingPlan").val() == "加严") {
            $("input[name=SamplingPlancheck]:eq(1)").attr("checked", true)
        } else if ($("#SamplingPlan").val() == "正常") {
            $("input[name=SamplingPlancheck]:eq(2)").attr("checked", true)
        } else if ($("#SamplingPlan").val() == "放宽") {
            $("input[name=SamplingPlancheck]:eq(3)").attr("checked", true)
        };
        if ($("#NGD").val() == "true") {
            $("input[name=NGDcheck]:eq(0)").attr("checked", true)
        } else {
            $("input[name=NGDcheck]:eq(1)").attr("checked", true)
        };
        if ($("#NGHandle").val() == "退货") {
            $("input[name=NGHandlecheck]:eq(0)").attr("checked", true)
        } else if ($("#NGHandle").val() == "挑选") {
            $("input[name=NGHandlecheck]:eq(1)").attr("checked", true)
        } else if ($("#NGHandle").val() == "特采") {
            $("input[name=NGHandlecheck]:eq(2)").attr("checked", true)
        } else if ($("#NGHandle").val() == "维修") {
            $("input[name=NGHandlecheck]:eq(3)").attr("checked", true)
        } else if ($("#NGHandle").val() == "其他") {
            $("input[name=NGHandlecheck]:eq(4)").attr("checked", true)
        }
        $(':checkbox').bind('click', function () {
            return false;
        });
        $(':checkbox,label').css('cursor', "not-allowed");
    });
</script>