@model JianHeMES.Models.Personnel_daily

@{
    ViewBag.Title = "删除人事日报信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dl-horizontal dd {
        margin-left: 220px;
    }

    .dl-horizontal dt {
        width: 200px;
    }
</style>
<h2>删除人事日报信息</h2>

<h4>确定要删除吗？</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aurhorized_personnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aurhorized_personnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Need_personnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Need_personnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees_personnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees_personnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workers_personnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workers_personnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Today_on_board_employees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Today_on_board_employees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Today_on_board_workers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Today_on_board_workers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interview)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Todoy_dimission_employees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Todoy_dimission_employees)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Todoy_dimission_employees_over7days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Todoy_dimission_employees_over7days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Todoy_dimission_employees_nvever_over7days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Todoy_dimission_employees_nvever_over7days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Todoy_dimission_workers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Todoy_dimission_workers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resigned_that_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resigned_that_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resigned_workers_that_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resigned_workers_that_month)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reporter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reporter)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Daily")
        </div>
    }
</div>
