@model JianHeMES.Models.SMT_ProductionPlan

@{
    ViewBag.Title = "SMT_ProductionPlanDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>SMT生产计划删除</h4>

<h5 class="text-danger">您确定要删除这条记录?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LineNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "SMT_ProductionPlan")
        </div>
    }
</div>
