@model IEnumerable<JianHeMES.Models.SMT_ProductionData>

@{
    ViewBag.Title = "SMT_历史生产记录查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/highcharts")
<link href="~/Scripts/Bootstraps/bootstrap-select.css" rel="stylesheet" />
<script src="~/Scripts/Bootstraps/bootstrap-select.js"></script>

<style>
    /*标题+搜索框+按钮样式*/
    .top-title {
        text-align: center;
    }

    .create-button > p {
        width: 80px;
        height: 32px;
        transition: all linear .2s;
    }

        .create-button > p > a {
            text-decoration: none;
        }

    .fqc-index-content {
        margin-bottom: 18px;
        margin-top: 20px;
        text-align: center;
    }

    .fqc-index-content-inner {
        display: inline-block;
    }

        .fqc-index-content-inner:nth-child(1) {
            width: 216px;
        }

        .fqc-index-content-inner:nth-child(2) {
            width: 220px;
            height: 34px;
        }

    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 150px;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        border-radius: 4px;
        padding-bottom: 2px;
        z-index: 1000;
    }



    .fqc-index-content-inner:nth-child(3) > select {
        width: 80px;
        height: 34px;
    }

    .fqc-index-content-inner:nth-child(3) {
        width: 235px;
        height: 34px;
    }

    .fqc-index-content-inner:nth-child(4) {
        width: 200px;
        text-align: left;
    }

        .fqc-index-content-inner:nth-child(4) > input {
            width: 115px;
            display: inline-block;
            padding: 0px;
        }

    .fqc-index-content-inner:nth-child(5) {
        width: 60px;
        text-align: left;
    }

        .fqc-index-content-inner:nth-child(5) > button {
            margin-left: 10px;
            height: 34px;
            border: none;
            background-color: #e0e0e0;
            border-radius: 5px;
            transition: all linear .1s;
        }

            .fqc-index-content-inner:nth-child(5) > button:hover {
                background-color: burlywood;
                color: #fff;
                box-shadow: 0 2px 3px #888888;
            }

    /*表格样式*/
    .table-title > table {
        width: 100%;
    }

    .table-title, .table-bottom {
        margin-left: 42px;
    }

    .firsttable > tbody > tr {
        border-bottom: 1px solid #888888;
    }

    .table > tbody > tr > td {
        border: none;
    }

    .table > tbody > tr {
        border-bottom: 1px solid #888888;
    }

        .firsttable > tbody > tr > th, .table > tbody > tr > td {
            display: inline-block;
            text-align: center;
        }

            .firsttable > tbody > tr > th:nth-child(1), .table > tbody > tr > td:nth-child(1) {
                width: 35px;
            }

            .firsttable > tbody > tr > th:nth-child(2), .table > tbody > tr > td:nth-child(2) {
                width: 115px;
            }

            .firsttable > tbody > tr > th:nth-child(3), .table > tbody > tr > td:nth-child(3) {
                width: 60px;
            }

            .firsttable > tbody > tr > th:nth-child(4), .table > tbody > tr > td:nth-child(4) {
                width: 65px;
            }

            .firsttable > tbody > tr > th:nth-child(5), .table > tbody > tr > td:nth-child(5) {
                width: 85px;
            }

            .firsttable > tbody > tr > th:nth-child(6), .table > tbody > tr > td:nth-child(6) {
                width: 140px;
            }

            .firsttable > tbody > tr > th:nth-child(7), .table > tbody > tr > td:nth-child(7) {
                width: 140px;
            }

            .firsttable > tbody > tr > th:nth-child(8), .table > tbody > tr > td:nth-child(8) {
                width: 120px;
            }

            .firsttable > tbody > tr > th:nth-child(9), .table > tbody > tr > td:nth-child(9) {
                width: 56px;
            }

            .firsttable > tbody > tr > th:nth-child(10), .table > tbody > tr > td:nth-child(10) {
                width: 140px;
            }

            .firsttable > tbody > tr > th:nth-child(11), .table > tbody > tr > td:nth-child(11) {
                width: 70px;
            }

            .firsttable > tbody > tr > th:nth-child(12), .table > tbody > tr > td:nth-child(12) {
                width: 50px;
            }

    .formedia {
        margin-left: 42px;
    }

    .onlyOrderNum {
        margin-left: 100px;
    }

        .onlyOrderNum span {
            font-weight: bold;
        }

        .onlyOrderNum div {
            display: inline-block;
            width: 260px;
        }
    /*手机端样式*/
    @@media (max-width:400px) {
        .fqc-index-content {
            text-align: left;
        }

        .fqc-index-content-inner {
            margin-top: 5px;
        }

        .table-title, .formedia, .onlyOrderNum {
            margin-left: 0px;
        }
    }
</style>
<h3 class="top-title">SMT_历史生产记录查询</h3>

@using (Html.BeginForm("SMT_ProductionData", "SMT", FormMethod.Post, new { id = "searchForm", @class = "text-center" }))
{
    @Html.AntiForgeryToken()
    //更新版本
    <div class="container fqc-index-content">
        <div class="fqc-index-content-inner">
            <span>产线号：</span>@Html.DropDownList("lineNum", (List<SelectListItem>)ViewBag.LineNumList, "全部", new { @class = "form-control", style = "display:inline; width: 80px" })
        </div>
        <div class="fqc-index-content-inner">
            <span>订单号：</span>@Html.DropDownList("orderNum", (List<SelectListItem>)ViewBag.OrderList, "全部", new { @class = "selectpicker", data_live_search = "true", data_style = "form-control" })
        </div>
        <div class="fqc-index-content-inner">
            <span>工作内容：</span>@Html.DropDownList("jobContent", (List<SelectListItem>)ViewBag.JobContentList, "全部", new { @class = "selectpicker", id = "orderNum", data_live_search = "true", data_style = "form-control" })
        </div>
        <div class="fqc-index-content-inner">
            <span> 生产日期：</span>
            <input class="form-control everyDate" type="date" name="ProductionDate">
        </div>
        <div class="fqc-index-content-inner">
            <input type="submit" id="searchButton" class="btn btn-default hidden" value="查找" />
            <button id="searchcButton" data-val="12">查找</button>
        </div>
    </div>
}
@if (ViewBag.OrderInfo != null)
{
    var OrderModel = ViewBag.OrderInfo as JianHeMES.Models.OrderMgm;
    <div class="row onlyOrderNum">
        <div><span> 订单号：</span>@Html.DisplayName(OrderModel.OrderNum)</div>
        <div><span>模块数：</span>@Html.DisplayName(OrderModel.Models.ToString())</div>
        <div><span> 计划投入时间： </span> @Html.DisplayName(OrderModel.PlanInputTime.ToLongDateString()) </div>
        <div><span> 出货日期：</span> @Html.DisplayName(OrderModel.DeliveryDate.ToLongDateString())</div>
        <br />
        <div><span>平台类型：</span>@Html.DisplayName(OrderModel.PlatformType)</div>
        <div><span>制程要求：</span> @Html.DisplayName(OrderModel.ProcessingRequire == null ? "" : OrderModel.ProcessingRequire) </div>
        <div><span>标准要求：</span> @Html.DisplayName(OrderModel.StandardRequire == null ? "" : OrderModel.StandardRequire) </div>
    </div>
    <hr class="onlyOrderNum" style="margin-top:10px;margin-bottom:10px;" />
    if (Model != null)
    {
        var jobContent_list = Model.Select(c => c.JobContent).Distinct().ToList();
        <div class="row onlyOrderNum">
            @foreach (var it in jobContent_list)
            {
                <div><span> @it (良品总数)：</span>@Html.DisplayName(Model.Where(c => c.JobContent == it).Sum(c => c.NormalCount).ToString())</div>
                <div><span>@it (不良品总数)：</span>@Html.DisplayName(Model.Where(c => c.JobContent == it).Sum(c => c.AbnormalCount).ToString())</div>
            }
        </div>

    }
}

<hr class="onlyOrderNum" style="margin-top:10px;margin-bottom:10px;" />

<div class="formedia">
    <table class="firsttable" style="width:1150px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LineNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbnormalCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarcodeNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>操作</th>
        </tr>

    </table>
</div>
<div class="table-title" style="width:1150px;height:600px;overflow:auto;">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LineNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AbnormalCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarcodeNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
                <td>
                    @if (((JianHeMES.Models.Users)Session["User"]).Role == "SMT看板管理员" || ((JianHeMES.Models.Users)Session["User"]).Department == "SMT部" && ((JianHeMES.Models.Users)Session["User"]).Role == "主管" || ((JianHeMES.Models.Users)Session["User"]).Role == "系统管理员")
                    {
                        @Html.ActionLink("修改", "SMT_ProductionDataEdit", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("返回", "SMT_Mangage")
</p>