@model JianHeMES.Models.Burn_in
@{
    ViewBag.Title = "完成老化工作";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.11.3.js"></script>
<style>
    #AbnormalTable .table > tbody > tr > th, #AbnormalTable .table > tbody > tr > td {
        padding: 2px;
        line-height: 1.2;
    }
    #AbnormalTable .table {
        margin-bottom: 5px;
    }
    #AbnormalTable .panel-title {
        text-align: center;
    }
    #AbnormalTable label {
        font-weight: normal;
    }
    #AbnormalTable {
        display: none;
    }
    .abnormalFrame {
        width: 280px;
        height: 200px;
        border: 1px solid #000000;
        overflow: auto;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()   
<div id="app" class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OrderNum)
    @Html.HiddenFor(model => model.BarCodesNum)
    @Html.HiddenFor(model => model.OQCCheckBT)

    <div class="col-md-4">
        <h3>@ViewBag.Title</h3>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.OrderNum, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.OrderNum)
                @*@Html.EditorFor(model => model.OrderNum, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.OrderNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BarCodesNum, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.BarCodesNum)
                @*@Html.EditorFor(model => model.BarCodesNum, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.BarCodesNum, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OQCCheckBT, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DisplayFor(model => model.OQCCheckBT)
                @*@Html.EditorFor(model => model.OQCCheckBT, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.OQCCheckBT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepairCondition, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.RepairCondition,
            ViewBag.RepairList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                @*@Html.EditorFor(model => model.RepairCondition, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.RepairCondition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="AbnormalShow" class="form-group" style="display:none">
            @Html.LabelFor(model => model.Burn_in_OQCCheckAbnormal, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @*<textarea v-model="abnormalarea" style="width:280px;height:100px;"></textarea>*@
                @Html.EditorFor(model => model.Burn_in_OQCCheckAbnormal, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                <div class="abnormalFrame">
                    <ol>
                        <li v-for="abnormal in abnormalarea">
                            {{abnormal}}
                        </li>
                    </ol>
                </div>
                @Html.ValidationMessageFor(model => model.Burn_in_OQCCheckAbnormal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="结束老化" class="btn btn-default" />
            </div>
        </div>
        <div>
            @Html.ActionLink("返回", "Index")
        </div>
    </div>

    <div id="AbnormalTable" class="col-md-offset-1 col-md-7">
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">异常列表</h6>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <table class="table">
                        <tr><th colspan="4">样屏效果</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="2" value="（样屏效果）-显示不一致" v-model="abnormalarea">
                                <label for="2">显示不一致</label>
                            </td>
                            <td>
                                <input type="checkbox" id="3" value="（样屏效果）-花屏" v-model="abnormalarea">
                                <label for="3">花屏</label>
                            </td>
                            <td>
                                <input type="checkbox" id="4" value="（样屏效果）-亮点" v-model="abnormalarea">
                                <label for="4">亮点</label>
                            </td>
                            <td>
                                <input type="checkbox" id="5" value="（样屏效果）-暗点" v-model="abnormalarea">
                                <label for="5">暗点</label>
                            </td>
                        </tr>
                    </table>
                    <table class="table">
                        <tr><th colspan="3">灰度确认</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="6" value="（灰度确认）-颜色跳变" v-model="abnormalarea">
                                <label for="6">颜色跳变</label>
                            </td>
                            <td>
                                <input type="checkbox" id="7" value="（灰度确认）-亮度跳变" v-model="abnormalarea">
                                <label for="7">亮度跳变</label>
                            </td>
                            <td>
                                <input type="checkbox" id="8" value="（灰度确认）-色块" v-model="abnormalarea">
                                <label for="8">色块</label>
                            </td>
                        </tr>
                        <tr><th colspan="3">死点确认</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="9" value="（死点确认）-瞎灯" v-model="abnormalarea">
                                <label for="9">瞎灯</label>
                            </td>
                            <td>
                                <input type="checkbox" id="10" value="（死点确认）-高亮" v-model="abnormalarea">
                                <label for="10">高亮</label>
                            </td>
                            <td>
                                <input type="checkbox" id="11" value="（死点确认）-暗灯" v-model="abnormalarea">
                                <label for="11">暗灯</label>
                            </td>
                        </tr>
                    </table>

                    <table class="table">
                        <tr><th colspan="2">其他</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="20" value="（老化时间）" v-model="abnormalarea">
                                <label for="20">老化时间</label>
                            </td>
                            <td>
                                <input type="checkbox" id="21" value="（参数）" v-model="abnormalarea">
                                <label for="21">参数</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="22" value="（黑屏检验）" v-model="abnormalarea">
                                <label for="22">黑屏检验</label>
                            </td>
                            <td>
                                <input type="checkbox" id="23" value="（扫描检验）" v-model="abnormalarea">
                                <label for="23">扫描检验</label>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <input type="checkbox" id="24" value="（均匀性）" v-model="abnormalarea">
                                <label for="24">均匀性</label>
                            </td>
                            <td>
                                <input type="checkbox" id="50" value="（温控）" v-model="abnormalarea">
                                <label for="50">温控</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="18" value="（系统确认）-控制版本" v-model="abnormalarea">
                                <label for="18">系统确认-控制版本</label>
                            </td>
                            <td>
                                <input type="checkbox" id="19" value="（系统确认）-软件版本" v-model="abnormalarea">
                                <label for="19">系统确认-软件版本</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tr><th colspan="2">灯管外观</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="27" value="（灯管外观）-外观破损" v-model="abnormalarea">
                                <label for="27">外观破损</label>
                            </td>
                            <td>
                                <input type="checkbox" id="28" value="（灯管外观）-错灯" v-model="abnormalarea">
                                <label for="28">错灯</label>
                            </td>
                        </tr>
                        <tr><th colspan="2">视频效果</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="29" value="（视频效果）-闪烁" v-model="abnormalarea">
                                <label for="29">闪烁</label>
                            </td>
                            <td>
                                <input type="checkbox" id="30" value="（视频效果）-消隐" v-model="abnormalarea">
                                <label for="30">消隐</label>
                            </td>
                        </tr>
                        <tr><th colspan="2">断电测试</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="31" value="（断电测试）-电源不良" v-model="abnormalarea">
                                <label for="31">电源不良</label>
                            </td>
                            <td>
                                <input type="checkbox" id="32" value="（断电测试）-预存画面" v-model="abnormalarea">
                                <label for="32">预存画面</label>
                            </td>
                        </tr>
                        <tr><th colspan="2">光盘确认系数上传</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="33" value="（光盘确认系数上传）-显示异常" v-model="abnormalarea">
                                <label for="33">显示异常</label>
                            </td>
                            <td>
                                <input type="checkbox" id="34" value="（光盘确认系数上传）-系数错误" v-model="abnormalarea">
                                <label for="34">系数错误</label>
                            </td>
                        </tr>
                        <tr><th colspan="2">光盘确认软件参数加载</th></tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="35" value="（光盘确认软件参数加载）-显示异常" v-model="abnormalarea">
                                <label for="35">显示异常</label>
                            </td>
                            <td>
                                <input type="checkbox" id="36" value="（光盘确认软件参数加载）-系数错误" v-model="abnormalarea">
                                <label for="36">系数错误</label>
                            </td>
                        </tr>
                        
                    </table>
                </div>

            </div>
        </div>
    </div>


    @*//防位移*@
    <div class="form-group"><div class="col-md-offset-2 col-md-8"></div></div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        var app = new Vue({
            el: "#app",
            data: {
                abnormalarea: [],
                selectrepair: ""
            },
            watch: {
                selectrepair: function (val) {
                    if (val == "") {
                        $("#AbnormalShow").hide();
                        $("#AbnormalTable").hide();
                        this.abnormalarea = [];
                    } else if (val == "正常") {
                        $("#AbnormalShow").hide();
                        $("#AbnormalTable").hide();
                        this.abnormalarea = ["正常"];
                    } else {
                        $("#AbnormalShow").show();
                        $("#AbnormalTable").show();
                        this.abnormalarea = [];
                    }
                },
                abnormalarea: function (val) {
                    $('#Burn_in_OQCCheckAbnormal').attr('value', val);
                    console.log(val);
                    console.log(JSON.stringify(val));
                }
            }
        });
        $("select").change(function () {
            app.selectrepair = $("select option:checked").val();
        });
</script>
}
