@model JianHeMES.Models.Burn_in

@{
    ViewBag.Title = "老化详细情况";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .titleRow div {
        font-size: 17px;
        padding: 10px;
    }

        .titleRow div span {
            font-weight: bold;
        }
</style>
<h2>@ViewBag.Title</h2>
<h4>Burn_in</h4>
<hr />
<div class="row titleRow">
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.OrderNum)
        </span>：
        @Html.DisplayFor(model => model.OrderNum)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.BarCodesNum)
        </span>：
        @Html.DisplayFor(model => model.BarCodesNum)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckBT)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckBT)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckFT)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckFT)
    </div>
</div>
<div class="row titleRow">
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.OQCPrincipal)
        </span>：
        @Html.DisplayFor(model => model.OQCPrincipal)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckTimeSpan)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckTimeSpan)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.Burn_in_OQCCheckAbnormal)
        </span>：
        @Html.DisplayFor(model => model.Burn_in_OQCCheckAbnormal)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.RepairCondition)
        </span>：
        @Html.DisplayFor(model => model.RepairCondition)
    </div>
    <div class="col-md-3">
        <span>
            @Html.DisplayNameFor(model => model.OQCCheckFinish)
        </span>：
        @Html.DisplayFor(model => model.OQCCheckFinish)
    </div>
</div>
@*<dt>
        @Html.DisplayNameFor(model => model.OQCCheckTime)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OQCCheckTime)
    </dd>*@
<hr />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("返回", "Index")
</p>
