<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 健和光电MES</title>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/jqueryval")
    @*@Scripts.Render("~/Scripts_home")*@
    @*@Scripts.Render("~/Scripts/echarts")*@
    @*@Scripts.Render("~/Scripts/easyui")*@
    @*@Scripts.Render("~/Scripts/modernizr")*@
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/vue")
    @*@Scripts.Render("~/Scripts/highcharts")*@
    @Styles.Render("~/Content/easyuicss")
    @Styles.Render("~/Content/css")
    <style>
        @@media (min-width:768px) and (max-width: 992px) {
            .navbar .dropdownToolbarButton a {
                font-size: 13px;
                padding: 15px 10px;
            }
        }

        @@media (min-width: 768px) {
            .titleul {
                width: 718px;
            }
        }

        @@media (min-width: 992px) {
            .titleul {
                width: 930px;
            }

            .loginlabel {
                text-align: right;
            }
        }

        @@media (min-width: 1200px) {
            .titleul {
                width: 1000px;
            }
        }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("健和光电MES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-sm hidden-md" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="dropdownToolbarButton">
                    <ul class="nav navbar-nav titleul">
                        @*全厂温湿度*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                全厂温湿度
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                                <li>@Html.RouteLink("一楼", "KongYaHT", new { Controller = "KongYa", Action = "FirstFloor" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("三楼", "KongYaHT", new { Controller = "KongYa", Action = "ThirdFloor" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("四楼", "KongYaHT", new { Controller = "KongYa", Action = "FourthFloor" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("五楼", "KongYaHT", new { Controller = "KongYa", Action = "FifthFloor" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("六楼", "KongYaHT", new { Controller = "KongYa", Action = "Sixthfloor" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("汇总表", "KongYaHT", new { Controller = "KongYa", Action = "FloorDataShow" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("导出数据", "KongYaHT", new { Controller = "KongYa", Action = "OutputTHDataToExcel" })</li>
                            </ul>
                        </li>

                        @*空压机房*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                空压机房
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                                <li>@Html.RouteLink("空压机房", "KongYaHT", new { Controller = "KongYa", Action = "KongYaIndex" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("汇总表", "KongYaHT", new { Controller = "KongYa", Action = "KYDataShow" })</li>
                            </ul>
                        </li>

                        @*生产管控*@
                        <li>@Html.RouteLink("生产管控", "Default", new { controller = "ProductionControl", Action = "Index" })</li>
                        @*订单*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                PC部
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                                <li>@Html.RouteLink("订单管理", "Default", new { controller = "OrderMgms", Action = "Index" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("条码管理", "Default", new { controller = "BarCodes", Action = "Index" })</li>
                            </ul>
                        </li>

                        @*装配部*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                装配部
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                                <li>@Html.RouteLink("组装产线", "Default", new { controller = "Assembles", Action = "AssembleIndex" }, new { @class = "checkstatus" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("校正信息", "Default", new { controller = "CalibrationRecords", Action = "Index" }, new { @class = "checkstatus" })</li>
                            </ul>
                        </li>

                        @*品质部*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                品质部
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                                <li>@Html.RouteLink("老化OQC", "Default", new { controller = "Burn_in", Action = "Index" }, new { @class = "checkstatus" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("外观包装", "Default", new { controller = "Appearances", Action = "Index" }, new { @class = "checkstatus" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("IQC管理", "Default", new { controller = "IQCReports", Action = "Index" })</li>
                            </ul>
                        </li>
                        @{var UserRoles = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Role; }
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                SMT部
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                                <li>@Html.RouteLink("看板管理", "Default", new { controller = "SMT", Action = "SMT_Mangage" })</li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("生产信息", "Default", new { controller = "SMT", Action = "SMT_ProductionInfo" })</li>
                                @*<li class="divider"></li>
                                    <li>@Html.RouteLink("生产信息(以前)", "Default", new { controller = "SMT", Action = "SMT_ProductionInfo_old" })</li>*@
                                <li class="divider"></li>
                                <li>@Html.RouteLink("产线操作", "Default", new { controller = "SMT", Action = "SMT_Operator" }, new { @class = "checkstatus" })</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                人力资源部
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu collapse" style="text-align: center; min-width: 114px;">
                                <li>@Html.RouteLink("人事日报表", "Default", new { controller = "Personnel", Action = "Daily" })</li>
                                <li>@Html.RouteLink("人事日报表2", "Default", new { controller = "Personnel", Action = "Daily2" })</li>
                                @if (UserRoles == "系统管理员")
                                {
                                    <li class="divider"></li>
                                    <li>@Html.RouteLink("日报明细查询", "Default", new { controller = "Personnel", Action = "Index" })</li>
                                    @*<li class="divider"></li>
                                        <li>@Html.RouteLink("部门提交日报信息", "Default", new { controller = "Personnel", Action = "Create" })</li>*@
                                }
                            </ul>
                        </li>
                        @if (UserRoles == "系统管理员")
                        {
                            <li>@Html.RouteLink("用户管理", "Default", new { controller = "Users", Action = "Index" })</li>
                        }
                        @{
                            var UserName = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserName;
                            var Userid = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).ID.ToString();
                        }
                        @if (Session["User"] == null)
                        {
                            <li class="navbar-right">
                                @*<a href="/Users/Login"><span class="glyphicon glyphicon-log-in"></span>  登录</a>*@
                                <a id="logingo" data-toggle="modal" data-target="#login" href=""><span class="glyphicon glyphicon-log-in"></span>  登录</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown navbar-right">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>  @UserName
                                    <b class="caret"></b>
                                </a>

                                <ul class="dropdown-menu collapse" style="min-width: 104px;">
                                    <li>
                                        @Html.RouteLink("修改密码", "Default", new { id = Userid, Controller = "Users", Action = "Modifypwd" })
                                    </li>
                                    <li>
                                        <a href="/Users/Logoff">退出</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("scripts", false)
        <footer class="footer hidden-xs hidden-sm text-center">
            <hr />
            <p align="center">&copy; @DateTime.Now.Year - 健和光电MES</p>
        </footer>
    </div>

    <div id="login" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title text-center" id="myModalLabel">
                        登录
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-md-3 loginlabel" style="padding:8px"><label for="UserNum">员工编号</label></div>
                        <input autofocus="autofocus" class="form-control" id="UserNum" v-model="UserNum" placeholder="请输入员工编号" type="text" value="">
                    </div>
                    <div class="form-group ">
                        <div class="col-md-3 loginlabel" style="padding:8px"><label for="PassWord">密码</label></div>
                        <input class="form-control" id="PassWord" v-model="PassWord" placeholder="请输入密码" type="password">
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 hidden-xs hidden-sm" style="padding:8px"><label></label></div>
                        <span class="text-danger">{{loginPrompt}}</span>
                    </div>
                    <div class="form-group">
                        <input id="nowfocus" type="button" v-on:click="userlogin" class="btn btn-primary" value="登录">
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var login = new Vue({
            el: "#login",
            data: {
                UserNum: "",
                PassWord: "",
                clickAddress: "",
                loginPrompt: ""
            },
            mounted: function () {
                $("#UserNum").keypress(function (e) {
                    if (e.which == 13) {// 判断所按是否回车键
                        $("#PassWord").focus(); // 设置焦点
                        return false;// 取消默认的提交行为
                    };
                });
                $("#PassWord").keypress(function (e) {
                    if (e.keyCode == 13) {// 判断所按是否回车键
                        login.$options.methods.userlogin();
                    };
                });
                $('.dropdown').mouseover(function () {
                    $(this).addClass('open');
                }).mouseout(function () { $(this).removeClass('open'); });

                $(".checkstatus").click(function () {
                    if ("@Session["User"]" == "") {
                        login.clickAddress = $(this).attr("href");
                        $("#login").modal();
                        return false;
                    } else {
                        return true;
                    }
                });

                $('#login').on('show.bs.modal', function () {
                    login.loginPrompt = "";
                    if (login.clickAddress == "") {
                        login.clickAddress = window.location.pathname == "/Users/Login" ? "" : window.location.pathname;
                    };
                });
                $('#login').on('shown.bs.modal', function () {
                    if ($("#UserNum").val() == "") {
                        $("#UserNum").focus(); 
                    } else if ($("#PassWord").val() == "") {
                        $("#PassWord").focus(); 
                    } else {
                        $("#nowfocus").focus();
                    }
                });
                $('#login').on('hide.bs.modal', function () {
                    login.clickAddress = "";
                    login.loginPrompt = "";
                });
            },
            methods: {
                userlogin: function () {
                    login.loginPrompt = "";
                    $.ajax({
                        url: "/Users/loginCheck",
                        type: "post",
                        data: {
                            user: {
                                UserNum: login.UserNum,
                                PassWord: login.PassWord,
                            }
                        },
                        success: function (returnVal) {
                            if (returnVal == "success") {
                                window.location.href = "http://" + window.location.host + login.clickAddress;
                            } else if (returnVal == "error") {
                                login.loginPrompt = "登录失败，请检查员工编号及密码是否有误！";
                            }
                        },
                        error: function (err) {
                            alert("登录出错！");
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>
