@model JianHeMES.Models.Burn_in
@{
    ViewBag.Title = "模组老化过程记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-1.11.3.js"></script>*@
<style>
    #AbnormalTable .table > tbody > tr:hover {
        background-color: rgba(219, 70, 70, 0.15);
    }

    #AbnormalTable .table > tbody > tr > th, #AbnormalTable .table > tbody > tr > td {
        padding: 5px;
        line-height: 1.5;
    }

    #AbnormalTable .table {
        margin-bottom: 5px;
    }

    #AbnormalTable .panel-title {
        text-align: center;
    }

    #AbnormalTable label {
        font-weight: normal;
    }

    #BarCodesNum {
        display: inline;
    }

    .abnormalFrame {
        width: 300px;
        height: 200px;
        border: 1px solid #000000;
        overflow: auto;
    }

    .abnormalCount {
        display: inline;
        margin: 5px;
        padding: 3px;
        width: 33px;
        height: 20px;
    }
</style>

<h2 class="hidden-xs">@ViewBag.Title</h2>
<h4 class="text-center visible-xs" >模组老化异常信息记录</h4>
<div id="app" class="form-horizontal">
    <h4 class="hidden-xs">老化异常</h4>
    <hr class="hidden-xs" />
    <div class="form-group">
        @Html.LabelFor(model => model.OrderNum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.OrderNum,
            ViewBag.OrderList as IEnumerable<SelectListItem>, new { @class = "form-control" })
            @*@Html.DropDownList("OrderNum", (List<SelectListItem>)ViewBag.OrderList, new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.OrderNum, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BarCodesNum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BarCodesNum, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus", onkeyup = "this.value=this.value.toUpperCase()" } })
            <button class="btn btn-default hidden-xs" v-on:click="postBarCode" style="margin:5px 0;">打开模组记录</button>
            @Html.ValidationMessageFor(model => model.BarCodesNum, "", new { @class = "text-danger" })
        </div>
    </div>

    @*//防位移*@
    <div class="form-group"><div class="col-md-12"></div></div>
    <div id="showNORecord" class="form-group" style="display:none;border-top:1px solid #808080;width:100%;">
        <div class="form-group">
            <div class="text-center" style="font-size:20px;padding:20px;margin:10px">
                <p>在订单 <span class="text-danger" id="ONum"></span> 中找不到正在进行老化的 <span class="text-danger" id="BNum"></span>，请检查条码是否正确！"</p>
            </div>
        </div>
    </div>
    <div id="showOKRecord" class="form-group" style="display:none;border-top:1px solid #808080;">
        <form action="/Burn_in/AbnormalRecordInput" method='post'>
            <div class="col-md-4">
                <hr class="hidden-xs" />
                <div class="form-group" style="display:none">
                    <input id="OQCID" name="id" />
                </div>
                <div class="form-group hidden-xs">
                    <label class="control-label col-md-4 col-xs-4">订单号</label>
                    <div class="col-md-8 col-xs-8 labeltop" id="OQCorderNum">
                    </div>
                </div>
                <div class="form-group hidden-xs">
                    <label class="control-label col-md-4 col-xs-4">条码号</label>
                    <div class="col-md-8 col-xs-8 labeltop" id="OQCbarcodeNum">
                    </div>
                </div>
                <div class="form-group hidden-xs">
                    <label class="control-label col-md-4 col-xs-4">开始时间</label>
                    <div class="col-md-8 col-xs-8 labeltop" id="OQCBT">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-md-4">历史异常记录</label>
                    <div class="col-md-8 labeltop" id="OQColdAbnormal">
                    </div>
                </div>
                <div class="form-group hidden-xs">
                    @Html.LabelFor(model => model.Burn_in_OQCCheckAbnormal, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Burn_in_OQCCheckAbnormal, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                        @*@Html.EditorFor(model => model.Burn_in_OQCCheckAbnormal, new { @class = "form-control", @style = "display:none" })*@
                        <div class="abnormalFrame">
                            <ol>
                                <li v-for="abnormal in abnormalarea">
                                    {{abnormal}}
                                </li>
                            </ol>
                        </div>
                        @Html.ValidationMessageFor(model => model.Burn_in_OQCCheckAbnormal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group visible-xs">
                    @Html.LabelFor(model => model.Burn_in_OQCCheckAbnormal, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <div>
                            <ol>
                                <li v-for="abnormal in abnormalarea">
                                    {{abnormal}}
                                </li>
                            </ol>
                        </div>
                        @Html.ValidationMessageFor(model => model.Burn_in_OQCCheckAbnormal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <div class="visible-xs visible-xs-inline"><button class="btn btn-default addAbnormal">添加异常信息</button></div>
                        <input v-show="abnormalarea.length>0" type="submit" value="老化异常录入" class="btn btn-default" />
                    </div>
                </div>
                <div class="hidden-xs">
                    @Html.ActionLink("返回", "Index")
                </div>
            </div>
        </form>
        <div id="AbnormalTable" class="col-md-offset-1 col-md-7">
            <br class="hidden-xs" /><br />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="panel-title">异常列表</h6>
                </div>
                <div class="panel-body">
                    
                    <div class="col-md-6">
                        <table class="table abnormalX">
                            <tr>
                                <td>
                                    <label for="1">撞灯（</label><input id="1" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="1">）颗</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="2">瞎灯（</label><input id="2" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="2">）颗</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="3">常亮灯（</label><input id="3" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="3">）颗</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="4">灯暗（</label><input id="4" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="4">）颗</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="5">灯闪（</label><input id="5" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="5">）颗</label>
                                </td>
                            <tr>
                                <td>
                                    <label for="6">高亮（</label><input id="6" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="6">）颗</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="7">扫描同亮（</label><input id="7" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="7">）颗</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="8">瞎条（</label><input id="8" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="8">）条</label>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table abnormalX">
                            <tr>
                                <td>
                                    <label for="9">常亮条（</label><input id="9" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="9">）条</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="10">暗条（</label><input id="10" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="10">）条</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="11">扫描同亮（</label><input id="11" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="11">）条</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="12">瞎块（</label><input id="12" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="12">）IC为单位</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="13">瞎块（</label><input id="13" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="13">）模块</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="14">常亮块（</label><input id="14" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="14">）块</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="15">不亮（</label><input id="15" class="form-control abnormalCount" maxlength="3" onkeyup="value=value.replace(/[^\d]/g,'')" /><label for="15">）箱</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="16">PPM（</label><input id="16" class="form-control abnormalCount" style="width:50px;" /><label for="16">）</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="17">其他异常（</label><input id="17" class="form-control abnormalCount" style="width:100px;height:30px" /><label for="17">）</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="hidden-xs"><button class="form-control btn btn-default addAbnormal">添加异常信息</button></div>
                </div>
            </div>
            <div class="visible-xs">
                @Html.ActionLink("返回", "Index")
            </div>
        </div>
    </div>
    @*//防位移*@
    <div class="form-group"><div class="col-md-12"></div></div>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                abnormalareab: ["撞灯（", "瞎灯（", "常亮灯（", "灯暗（", "灯闪（", "高亮（", "扫描同亮（", "瞎条（", "常亮条（", "暗条（", "扫描同亮（", "瞎块（", "瞎块（", "常亮块（", "不亮（", "PPM（", "其他异常（"],
                abnormalareaf: ["）颗", "）颗", "）颗", "）颗", "）颗", "）颗", "）颗", "）条", "）条", "）条", "）条", "）IC为单位", "）模块", "）块", "）箱", "）", "）"],
                abnormalarea: [],
                oldabnormal: ''
            },
            methods: {
                postBarCode: function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: 'post',
                        url: '/Burn_in/Get_Burn_in_Record',
                        data: {
                            OrderNum: $("#OrderNum").val(),
                            BarCodeNum: $("#BarCodesNum").val()
                        },
                        success: function (data) {
                            //console.log(data);
                            if (data == "不存在正在进行老化的此模组") {
                                $("#showNORecord").show();
                                $("#showOKRecord").hide();
                                $("#ONum").html($("#OrderNum").val());
                                $("#BNum").html($("#BarCodesNum").val());
                                $("#BarCodesNum").select();
                            } else {
                                $("#showOKRecord").show();
                                $("#showNORecord").hide();
                                $("#OQCID").val(data[0].RecordId);
                                $("#OQCorderNum").html(data[0].RecordOrderNum);
                                $("#OQCbarcodeNum").html(data[0].RecordBarCodesNum);
                                $("#OQCBT").html(data[0].RecordOQCCheckBT);
                                $("#OQColdAbnormal").html(data[0].RecordBurn_in_OQCCheckAbnormal_old);
                                app.oldabnormal = data[0].RecordBurn_in_OQCCheckAbnormal_old;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("不存在正在进行老化的此模组");
                            $("#content").focus();
                        }
                    });
                }
            },
            watch: {
                abnormalarea: function (val) {
                    var newdate = new Date().format('yyyy-MM-dd hh:mm:ss'); //将日期格式串,转换成先要的格式
                    //alert("格式化日期类型 \n" + new Date() + "\n 为字符串：" + da);
                    //var date = new Date();
                    //var newdate = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds("00");
                    $('#Burn_in_OQCCheckAbnormal').val(" [" + val + "] " + " [" + newdate + "] ")
                }
            }
        });

        Date.prototype.format = function (format) {
            var date = {
                "M+": this.getMonth() + 1,
                "d+": this.getDate(),
                "h+": this.getHours(),
                "m+": this.getMinutes(),
                "s+": this.getSeconds(),
                "q+": Math.floor((this.getMonth() + 3) / 3),
                "S+": this.getMilliseconds()
            };
            if (/(y+)/i.test(format)) {
                format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
            }
            for (var k in date) {
                if (new RegExp("(" + k + ")").test(format)) {
                    format = format.replace(RegExp.$1, RegExp.$1.length == 1
                                    ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
                }
            }
            return format;
        }
        Date.daysInMonth = function (year, month) {
            if (month == 1) {
                if (year % 4 == 0 && year % 100 != 0)
                    return 29;
                else
                    return 28;
            } else if ((month <= 6 && month % 2 == 0) || (month = 6 && month % 2 == 1))
                return 31;
            else
                return 30;
        };
        Date.prototype.addMonth = function (addMonth) {
            var y = this.getFullYear();
            var m = this.getMonth();
            var nextY = y;
            var nextM = m;
            //如果当前月+要加上的月>11 这里之所以用11是因为 js的月份从0开始
            if (m > 11) {
                nextY = y + 1;
                nextM = parseInt(m + addMonth) - 11;
            } else {
                nextM = this.getMonth() + addMonth
            }
            var daysInNextMonth = Date.daysInMonth(nextY, nextM);
            var day = this.getDate();
            if (day > daysInNextMonth) {
                day = daysInNextMonth;
            }
            return new Date(nextY, nextM, day);
        };
    </script>
    <script>
        var localOrder = localStorage.getItem('BurnInBarchB');
        if (localOrder != null) {
            $("#OrderNum").val(localOrder);
        }
        $("#OrderNum").change(function (val) {
            localStorage.setItem('BurnInBarchB', val.target.value);
            $("#BarCodesNum").select();
        })
        $("#BarCodesNum").select();

        $(function () {
            $(".addAbnormal").click(function (e) {
                e.preventDefault();
                app.abnormalarea = [];
                $(".abnormalX tr td input").each(function (index, val) {
                    //console.log($(this).val())
                    //console.log(index)
                    if ($(this).val() != "" && $(this).val() != 0) {
                        app.abnormalarea.push(app.abnormalareab[index] + $(this).val() + app.abnormalareaf[index])
                    }
                })
            });
            $("#BarCodesNum").keypress(function (val) {
                if (val.keyCode == 13) {
                    app.postBarCode(val);
                };
            });

        });
        //$("#BarCodesNum").keyup(function (val) {
        //    console.log(val.target.value)
        //})
    </script>
}
