@model IEnumerable<JianHeMES.Models.Burn_in>

@{
    ViewBag.Title = "BurnInShelfQuery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BurnInShelfQuery</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BurnInShelfNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCodesNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OQCCheckBT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OQCPrincipal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OQCCheckFT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OQCCheckDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OQCCheckTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OQCCheckTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Burn_in_OQCCheckAbnormal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepairCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OQCCheckFinish)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        { 
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BurnInShelfNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BarCodesNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OQCCheckBT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OQCPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OQCCheckFT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OQCCheckDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OQCCheckTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OQCCheckTimeSpan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Burn_in_OQCCheckAbnormal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepairCondition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OQCCheckFinish)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
