@model JianHeMES.Models.IQCReport
@{
    ViewBag.Title = "编辑";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/jquery-1.11.3.js"></script>
<style>
    tr {
        height: 22px;
        font-size: 14px;
        text-align: center;
    }
    input {
        max-width: none;
    }
    td {
        border: 1px solid black;
    }
    .form-control {
        padding: 0;
    }
</style>

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="app" class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Material_SN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Material_SN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Material_SN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoHS_REACH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.RoHS_REACH)
                    @Html.ValidationMessageFor(model => model.RoHS_REACH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EquipmentNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EquipmentNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EquipmentNum, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Provider, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Provider, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Provider, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaterialName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaterialName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModelNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModelNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ModelNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Specification, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Specification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Specification, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaterialQuantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaterialQuantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncomingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>{{Name}}</span>
                <input class="form-control text-box single-line input-validation-error" data-val="true" data-val-date="字段 来料日期 必须是日期。" data-val-required="来料日期 字段是必需的。"  id="IncomingDate" name="IncomingDate"  aria-describedby="IncomingDate-error" aria-invalid="true" type="hidden" v-model="Name" />
                @Html.ValidationMessageFor(model => model.IncomingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApplyPurchaseOrderNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ApplyPurchaseOrderNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ApplyPurchaseOrderNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BatchNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BatchNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BatchNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InspectionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InspectionDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InspectionDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SamplingPlan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SamplingPlan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SamplingPlan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialVersion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaterialVersion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaterialVersion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.D9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.D9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.D9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.E9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.E9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F6, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F7, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F8, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.F9, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.F9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S0, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S0, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S14, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S15, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S21, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S21, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S21, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S22, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S22, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S22, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S23, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S23, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S23, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S24, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S24, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S24, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S25, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S25, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S25, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S31, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S31, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S31, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S32, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S32, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S32, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S33, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S34, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S34, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S34, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.S35, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.S35, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.S35, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R0, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R0, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R21, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R21, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R21, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R22, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R22, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R22, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R23, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R23, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R23, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R31, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R31, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R31, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R32, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R32, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R32, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.R33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.R33, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.R33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P0, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P0, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P21, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P21, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P21, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P22, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P22, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P22, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P23, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P23, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P23, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P31, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P31, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P31, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P32, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P32, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P32, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.P33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.P33, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM0, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM0, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM0, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM11, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM12, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM13, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM21, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM21, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM21, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM22, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM22, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM22, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM23, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM23, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM23, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM31, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM31, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM31, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM32, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM32, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM32, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM33, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM33, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM33, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM41, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM41, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM41, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM42, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM42, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM42, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AM43, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AM43, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AM43, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NG1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NG1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NG1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NG2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NG2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NG2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NG3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NG3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NG3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @Html.EditorFor(model => model.NGD)
                    @Html.ValidationMessageFor(model => model.NGD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGHandle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGHandle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGHandle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReportRemark, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReportRemark, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReportRemark, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Approve, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Approve, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Approve, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Assessor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Assessor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Assessor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Inspector, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inspector, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inspector, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="save"></div>
    <table id="tableApp" style="margin:0 auto;border-collapse:collapse;table-layout:fixed;">
        <caption style="text-align: left">惠州市健和光电有限公司</caption>
        <colgroup>
            <col width="80 ">
            <col width="80 ">
            <col width="80 ">
            <col width="80 ">
            <col width="80 ">
            <col width="80 ">
            <col width="80 ">
            <col width="80 ">
            <col width="80 ">
        </colgroup>
        <thead>
            <tr>
                <td colspan="7" style="border:none; text-align:right">设备编号：</td>
                <td colspan="2" style="border:none;"></td>
            </tr>
            <tr>
                <td colspan="3" style="border-left: none;border-right: none;border-bottom:none;text-align:left" class="changeContent">物料编号：</td>
                <td colspan="6" style="border-left: none;border-right: none;border-bottom:none;text-align:left"><b style="font-size:28px">进料检验报告</b><b>--通用</b></td>
            </tr>
            <tr>
                <td colspan="9" style="border:none"><span style="float: left">物料需要符合RoHS、REACH要求：<input type="checkbox">是<input type="checkbox">否</span></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td for="Provider">供应商</td>
                <td colspan="2" class="changeContent" id="Provider"></td>
                <td>物料名称</td>
                <td colspan="2" class="changeContent" id=""></td>
                <td>型号</td>
                <td colspan="2" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td>规格</td>
                <td colspan="2" class="changeContent" id=""></td>
                <td>来料数量</td>
                <td colspan="2" class="changeContent" id=""></td>
                <td>来料日期</td>
                <td colspan="2" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td>请购单号</td>
                <td colspan="2" class="changeContent" id=""></td>
                <td>批号</td>
                <td colspan="2" class="changeContent" id=""></td>
                <td>检验日期</td>
                <td colspan="2" class="changeContent" id=""></td>
            </tr>
            <tr style="height: 40px">
                <td>抽样方案</td>
                <td colspan="4"><input type="checkbox">全检 &nbsp;<input type="checkbox">加严 &nbsp;<input type="checkbox">正常 &nbsp;<input type="checkbox">放宽</td>
                <td colspan="2">承认书或图纸号/版本</td>
                <td colspan="2" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td rowspan="2">检验内容</td>
                <td rowspan="2">检验水平</td>
                <td rowspan="2">抽样数量</td>
                <td colspan="3">判定标准</td>
                <td colspan="3" rowspan="2">检验判定</td>
            </tr>
            <tr>
                <td>严重缺陷<br>AQL：0</td>
                <td>一般缺陷<br>AQL：0.4</td>
                <td>轻微缺陷<br>AQL：0.65</td>
            </tr>
            <tr>
                <td rowspan="2">标识</td>
                <td rowspan="2" class="changeContent" id=""></td>
                <td rowspan="2" class="changeContent" id=""></td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td colspan="3" rowspan="2" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>

            </tr>
            <tr>
                <td rowspan="2">包装、外观</td>
                <td rowspan="2" class="changeContent"></td>
                <td rowspan="2" class="changeContent"></td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td colspan="3" rowspan="2" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>

            </tr>
            <tr>
                <td rowspan="2">尺寸</td>
                <td rowspan="2" class="changeContent"></td>
                <td rowspan="2" class="changeContent"></td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td colspan="3" rowspan="2" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
            </tr>
            <tr>
                <td rowspan="2">性能/参数</td>
                <td rowspan="2" class="changeContent"></td>
                <td rowspan="2" class="changeContent"></td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">AC：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td colspan="3" rowspan="2" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
                <td>
                    <span style="width:30%;float:left">Re：</span>
                    <span style="width:70%;height:21px;float:left" class="changeContent" id=""></span>
                </td>
            </tr>
            <tr>
                <td>不良项目<br>(检测项目)</td>
                <td>规格要求</td>
                <td colspan="7">检验结果描述</td>
            </tr>
            <tr>
                <td id="AM0">尺寸</td>
                <td id="AM1">亮度 IV</td>
                <td colspan="2" style="border-right:none" class="changeContent" id="AM11"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM12"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM13"></td>
                <td style="border-left:none"></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td id="AM0">我司实测值</td>
                <td id="AM1">亮度 IV</td>
                <td colspan="2" style="border-right:none" class="changeContent" id="AM11"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM12"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM13"></td>
                <td style="border-left:none"></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" id="AM">我司测试条件R=G=B=8MA</td>
            </tr>
            <tr>
                <td id="AM0">我司实测值</td>
                <td id="AM1">亮度 IV</td>
                <td colspan="2" style="border-right:none" class="changeContent" id="AM11"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM12"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM13"></td>
                <td style="border-left:none"></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" id="AM">我司测试条件R=G=B=8MA</td>
            </tr>
            <tr>
                <td id="AM0">我司实测值</td>
                <td id="AM1">亮度 IV</td>
                <td colspan="2" style="border-right:none" class="changeContent" id="AM11"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM12"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM13"></td>
                <td style="border-left:none"></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td id="AM2">信率</td>
                <td colspan="2" style="border-right:none" class="changeContent" id="AM21"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM22"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM23"></td>
                <td style="border-left:none"></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td id="AM3">波长 WD</td>
                <td colspan="2" style="border-right:none" class="changeContent" id="AM31"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM32"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM33"></td>
                <td style="border-left:none"></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td id="AM4">电压 VF</td>
                <td colspan="2" style="border-right:none" class="changeContent" id="AM41"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM42"></td>
                <td colspan="2" style="border-left:none;border-right:none" class="changeContent" id="AM43"></td>
                <td style="border-left:none"></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>
            <tr>
                <td class="changeContent" id=""></td>
                <td class="changeContent" id=""></td>
                <td colspan="7" class="changeContent" id=""></td>
            </tr>            
            <tr>
                <td rowspan="3">总不良数</td>
                <td>严重缺陷</td>
                <td class="changeContent" id="NG1"></td>
                <td colspan="6" rowspan="3" id="NGD">最终判定：&nbsp;<input type="checkbox">允收（AC） &nbsp;<input type="checkbox">拒收（Re）</td>
            </tr>
            <tr>
                <td>一般缺陷</td>
                <td class="changeContent" id="NG2"></td>
            </tr>
            <tr>
                <td>轻微缺陷</td>
                <td class="changeContent" id="NG3"></td>
            </tr>

            <tr>
                <td colspan="9" id="NGHandle">不合格批处理：&nbsp;&nbsp;<input type="checkbox">退货； &nbsp;&nbsp;<input type="checkbox">挑选； &nbsp;&nbsp;<input type="checkbox">特采； &nbsp;&nbsp;<input type="checkbox">维修； &nbsp;&nbsp;<input type="checkbox">其他； </td>
            </tr>
            <tr style="text-align: left;height: 40px">
                <td style="text-align:right;border-right: none">备注：</td>
                <td colspan="8" style="border-left:none" class="changeContent" id="ReportRemark"></td>
            </tr>
            <tr style="text-align: left;">
                <td style="text-align:right;border-right: none">批准：</td>
                <td colspan="2" style="border-left: none;border-right: none" class="changeContent" id="Approve"></td>
                <td style="text-align:right;border-left: none;border-right: none">审核：</td>
                <td colspan="2" style="border-left: none;border-right: none" class="changeContent" id="Assessor"></td>
                <td style="text-align:right;border-left: none;border-right: none">检验：</td>
                <td colspan="2" style="border-left: none" class="changeContent" id="Inspector"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9" style="text-align: right;border: none">表单编号：QD-007-B</td>
            </tr>
        </tfoot>
    </table>
    
    <div>
        <a id="print-click">导出表格</a>
        <input type="button" onclick="printout()" value="打印">
    </div>
}
<div>
    @Html.ActionLink("返回", "Index")
</div>

<script>
    var app = new Vue({ //创建Vue对象实例
        el: "#app", //挂载DOM元素的ID
        data: {
            Name: '2018-10-1',
            Provider: "",
        },
        methods: {

        }
    });
    var tableApp = new Vue({ //创建Vue对象实例
        el: "#tableApp", //挂载DOM元素的ID
        data: {
            Name: '2018-10-1',
            Provider: "",
        },
        methods: {

        }
    })
</script>
<script>
    // 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
    var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("tableApp").outerHTML + "</body></html>";
    // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
    var blob = new Blob([html], {
        type: "application/vnd.ms-excel"
    });
    var a = document.getElementById("print-click");
    // 利用URL.createObjectURL()方法为a元素生成blob URL
    a.href = URL.createObjectURL(blob);
    // 设置文件名，目前只有Chrome和FireFox支持此属性
    a.download = "检验报告.xls";

    //打印具体实现代码
    function printout() {
        debugger;
        var newWindow;
        //打开一个新的窗口
        newWindow = window.open();
        // 是新窗口获得焦点
        newWindow.focus();
        //保存写入内容
        var newContent = "<html><head><meta charset='utf-8'/><title>打印</title></head><body>"
        newContent += document.getElementById("tableApp").outerHTML;
        newContent += "</body></html>"
        // 将HTML代码写入新窗口中
        newWindow.document.write(newContent);
        newWindow.print();
        // close layout stream
        newWindow.document.close();
        //关闭打开的临时窗口
        newWindow.close();
        return false;
    };


    $(document).ready(function() {
        $(".changeContent").each(function(){
            $(this).click(function () {
                //$(this).dblclick(function(){
                var inputTD=$(this);
                //var inputParent=$(this).parents("tr");
                console.log(inputTD);
                var tdInputId=$(this).attr("id");
                //inputParent.css("backgroundColor","yellow");
                console.log(tdInputId);

                if(inputTD.children("input").length>0){
                    return false;
                }

                var inputIns = $("<input id=\"" + tdInputId + "\" name=\"" + tdInputId + "\" class=\"form-control text-box single-line\" style=\"text-align:center\"  type=\"text\">"); //需要插入的输入框代码
                inputIns.width(inputTD[0].clientWidth-2);//设置input与td宽度一致
                inputIns.height(inputTD[0].clientHeight-2);
                inputIns.val(inputTD.html());//将本来单元格td内容copy到插入的文本框input中

                inputTD.html(""); //删除原来单元格td内容
                inputIns.appendTo(inputTD).focus().select(); //将需要插入的输入框代码插入dom节点中

                inputIns.click(function(){
                    return false;
                });

                //处理Enter和Esc事件
                inputIns.blur(function(){
                    inputTD.html($(this).val());
                    //inputIns.attr('type', 'hidden').appendTo($("#save"));
                    $("input[id="+tdInputId+"]").remove();
                    inputIns.appendTo($("#save"));

                    //inputParent.css("background-color","white");
                    //alert(tdInputId);
                    //$.ajax({
                    //    type:"post",
                    //    url:"/KongYaHT/KongYa/HTChartsLeft",
                    //    data:{
                    //        "loginName":inputTD.html(),
                    //        "id":tdInputId
                    //    },
                    //    success:function(data){
                    //        alert(data);
                    //    },
                    //    error : function() {
                    //        //alert("通讯有问题,请稍候刷新...");
                    //    }
                    //});
                });
                inputIns.keydown(function (e) {
                    if(e.keyCode=='13'){
                        inputTD.html($(this).val());
                        inputIns.attr('type', 'hidden').appendTo($("#save"));
                        $.ajax({
                            type:"post",
                            url: "/IQCReports/ajaxForm",
                            data:{
                                "content":inputTD.html(),
                                "id":tdInputId
                            },
                            success:function(data){
                                alert(data);
                            },
                            error : function() {
                                //alert("通讯有问题,请稍候刷新...");
                            }
                        });
                    }
                })
            });
        });
    });

</script>