@model JianHeMES.Models.BarCodes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>你确定要删除吗?</h3>
<div>
    <h4>BarCodes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCodesNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCodesNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCodeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCodeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
