@model JianHeMES.Models.BarCodes

@{
    ViewBag.Title = "条码详情";
}
<style>
    .table{
        margin-bottom:0px;
    }
    .backgrounds{
        background-color:rgba(255, 255, 0, 0.8);
        margin:0px;
        text-align:center;
    }
    .titlerow div {
        font-size: 16px;
        margin: 5px 0;
    }

        .titlerow div span {
            font-weight: bold;
        }
    table>tbody>th{
        display:inline-block;
        padding:2px;
    }
    h2{
        font-size:22px;
        height:25px;
        text-align:left;
        margin-top:10px;
        margin-bottom:5px;
    }

   .table > tbody > tr > td,.table > tbody > tr > th{
        word-break:break-all
    }

   /*.table ,.container>div {
       min-width:600px;
    }*/
</style>
<h2>@ViewBag.Title</h2>
<div class="row titlerow">
    @*<div class="col-md-2"></div>*@
    <div class="col-md-3">
        <span>@Html.DisplayNameFor(model => model.OrderNum)</span> ：@Html.DisplayFor(model => model.OrderNum)
    </div>
    <div class="col-md-3">

        <span>@Html.DisplayNameFor(model => model.BarCodesNum)</span>：@Html.DisplayFor(model => model.BarCodesNum)
    </div>
    <div class="col-md-3">
        <span>@Html.DisplayNameFor(model => model.BarCodeType)</span>：@Html.DisplayFor(model => model.BarCodeType)
    </div>
    <div class="col-md-3">
        <span>@Html.DisplayNameFor(model => model.ModuleGroupNum)</span>：@Html.DisplayFor(model => model.ModuleGroupNum)
    </div>
</div>
<div class="row titlerow">
    <div class="col-md-3">
        <span>@Html.DisplayNameFor(model => model.Creator)</span>：@Html.DisplayFor(model => model.Creator)
    </div>
    <div class="col-md-3">
        <span>@Html.DisplayNameFor(model => model.CreateDate)</span>：@Html.DisplayFor(model => model.CreateDate)
    </div>
    <div class="col-md-3">
        <span>@Html.DisplayNameFor(model => model.IsRepertory)</span>：@Html.DisplayFor(model => model.IsRepertory)
    </div>
    <div class="col-md-3">
        <span>@Html.DisplayNameFor(model => model.Remark)</span>：@Html.DisplayFor(model => model.Remark)
    </div>
</div>
<div style="border:1px solid green">
    @*<div class="text-center backgrounds"><h4>此 @Model.BarCodeType PQC情况</h4></div>*@
    <table class="table table-bordered">
        <thead>
            <tr class="text-center backgrounds">
                <th colspan="9" style="text-align:center;"><h4 style="margin-bottom:3px;margin-top:3px;">此 @Model.BarCodeType PQC情况</h4></th>
            </tr>
        </thead>
        <colgroup>
            <col style="width:16%" />
            <col style="width:10%" />
            <col style="width:16%" />
            <col style="width:10%" />
            <col style="width:10%" />
            <col style="width:10%" />
            <col style="width:8%" />
            <col style="width:10%" />
            <col style="width:10%" />
        </colgroup>
        <tr>
            <th>开始时间</th>
            <th>PQC负责人</th>
            <th>完成时间</th>
            <th>PQC时长</th>
            <th>条码前缀</th>
            <th>产线</th>
            <th>PQC异常</th>
            <th>维修情况</th>
            <th>PQC是否完成</th>
        </tr>
        @foreach (var item in ViewBag.assemble as List<JianHeMES.Models.Assemble>)
        {
            <tr class="assembleRecord">
                <td>@item.PQCCheckBT</td>
                <td>@item.AssemblePQCPrincipal</td>
                <td>@item.PQCCheckFT</td>
                <td class="formatDate">@item.PQCCheckTime</td>
                <td>@item.BarCode_Prefix</td>
                <td>@item.AssembleLineId</td>
                <td>@item.PQCCheckAbnormal</td>
                <td>@item.PQCRepairCondition</td>
                <td class="finishState">@item.PQCCheckFinish</td>
            </tr>
        }
        <tr class="assembleRecord" style="text-align:center;display:none">
            <td colspan="9">无记录</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center backgrounds">
                <th colspan="9" style="text-align:center;"><h4 style="margin-bottom:3px;margin-top:3px;">此 @Model.BarCodeType FQC情况</h4></th>
            </tr>
        </thead>
        <colgroup>
            <col style="width:16%" />
            <col style="width:10%" />
            <col style="width:16%" />
            <col style="width:15%" />
            <col style="width:23%" />
            <col style="width:10%" />
            <col style="width:10%" />
        </colgroup>
        <tr>
            @*<th>模块条码清单</th>*@
            <th>开始时间</th>
            <th>FQC负责人</th>
            <th>完成时间</th>
            <th>FQC时长</th>
            <th>FQC异常</th>
            <th>维修情况</th>
            <th>FQC是否完成</th>
        </tr>
        @foreach (var item in ViewBag.FinalQC as List<JianHeMES.Models.FinalQC>)
        {
            <tr class="FinalQCRecord">
                @*<td>@item.ModelList</td>*@
                <td>@item.FQCCheckBT</td>
                <td>@item.FQCPrincipal</td>
                <td>@item.FQCCheckFT</td>
                <td class="formatDate">@item.FQCCheckTime</td>
                <td>@item.FinalQC_FQCCheckAbnormal</td>
                <td>@item.RepetitionFQCCheckCause</td>
                <td class="finishState">@item.FQCCheckFinish</td>
            </tr>
        }
        <tr class="FinalQCRecord" style="text-align:center;display:none">
            <td colspan="7">无记录</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center backgrounds">
                <th colspan="9" style="text-align:center;"><h4 style="margin-bottom:3px;margin-top:3px;">此 @Model.BarCodeType 老化情况</h4></th>
            </tr>
        </thead>
        <colgroup>
            <col style="width:16%" />
            <col style="width:10%" />
            <col style="width:16%" />
            <col style="width:15%" />
            <col style="width:23%" />
            <col style="width:10%" />
            <col style="width:10%" />
        </colgroup>
        <tr>
            <th>开始时间</th>
            <th>老化检验员</th>
            <th>完成时间</th>
            @*<th>OQC时长</th>*@
            <th>老化用时</th>
            <th>老化异常</th>
            <th>维修情况</th>
            <th>老化是否完成</th>
        </tr>
        @foreach (var item in ViewBag.burn_in as List<JianHeMES.Models.Burn_in>)
        {
            <tr class="burn_inRecord">
                <td>@item.OQCCheckBT</td>
                <td>@item.OQCPrincipal</td>
                <td>@item.OQCCheckFT</td>
                @*<td>@item.OQCCheckTime</td>*@
                <td>@item.OQCCheckTimeSpan</td>
                <td>@item.Burn_in_OQCCheckAbnormal</td>
                <td>@item.RepairCondition</td>
                <td class="finishState">@item.OQCCheckFinish</td>
            </tr>
        }
        <tr class="burn_inRecord" style="text-align:center;display:none">
            <td colspan="7">无记录</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center backgrounds">
                <th colspan="9" style="text-align:center;"><h4 style="margin-bottom:3px;margin-top:3px;">此 @Model.BarCodeType 校正情况</h4></th>
            </tr>
        </thead>
        <colgroup>
            <col style="width:15%" />
            <col style="width:9%" />
            <col style="width:15%" />
            <col style="width:24%" />
            <col style="width:21%" />
            <col style="width:9%" />
        </colgroup>
        <tr>
            <th>开始时间</th>
            <th>校正员</th>
            <th>完成时间</th>
            @*<th>校正时长</th>*@
            <th>校正用时</th>

            <th>异常描述</th>
            <th>校正是否完成</th>
        </tr>
        @foreach (var item in ViewBag.calibration as List<JianHeMES.Models.CalibrationRecord>)
        {
            <tr class="calibrationRecordRecord">
                <td>@item.BeginCalibration</td>
                <td>@item.Operator</td>
                <td>@item.FinishCalibration</td>
                @*<td class="formatDate">@item.CalibrationTime</td>*@
                <td>@item.CalibrationTimeSpan</td>

                <td>@item.AbnormalDescription</td>
                <td class="finishState">@item.Normal</td>
            </tr>
        }
        <tr class="calibrationRecordRecord" style="text-align:center;display:none">
            <td colspan="7">无记录</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center backgrounds">
                <th colspan="9" style="text-align:center;"><h4 style="margin-bottom:3px;margin-top:3px;">此 @Model.BarCodeType 包装情况</h4></th>
            </tr>
        </thead>
        <colgroup>
            <col style="width:16%" />
            <col style="width:10%" />
            <col style="width:16%" />
            <col style="width:15%" />
            <col style="width:23%" />
            <col style="width:10%" />
            <col style="width:10%" />
        </colgroup>
        <tr>
            <th>开始时间</th>
            <th>包装检验员</th>
            <th>完成时间</th>
            @*<th>包装时长</th>*@
            <th>包装用时</th>
            <th>包装异常</th>
            <th>维修情况</th>
            <th>包装是否完成</th>
        </tr>
        @foreach (var item in ViewBag.appearance as List<JianHeMES.Models.Appearance>)
        {
            <tr class="appearanceRecord">
                <td>@item.OQCCheckBT</td>
                <td>@item.OQCPrincipal</td>
                <td>@item.OQCCheckFT</td>
                @*<td class="formatDate">@item.OQCCheckTime</td>*@
                <td>@item.OQCCheckTimeSpan</td>
                <td>@item.Appearance_OQCCheckAbnormal</td>
                <td>@item.RepairCondition</td>
                <td class="finishState">@item.OQCCheckFinish</td>
            </tr>
        }
        <tr class="appearanceRecord" style="text-align:center;display:none">
            <td colspan="7">无记录</td>
        </tr>
    </table>
</div>
<p>
    @*@Html.ActionLink("修改", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("返回", "Index")
</p>
<script src="~/Scripts/jquery-1.11.3.js"></script>
<script>
    $(function () {
        $(".formatDate").each(function (index) {
            $(".formatDate")[index].textContent = $(this)[0].textContent.split(".")[0];
        });
        $(".finishState").each(function (index) {
            if ($(this)[0].textContent == "True") {
                $(".finishState")[index].textContent = "完成";
            } else {
                $(".finishState")[index].textContent = "未完成";
            }
        });
        if ($(".assembleRecord").length == 1) {
            $(".assembleRecord").show();
        }
        if ($(".FinalQCRecord").length == 1) {
            $(".FinalQCRecord").show();
        }
        if ($(".burn_inRecord").length == 1) {
            $(".burn_inRecord").show();
        }
        if ($(".calibrationRecordRecord").length == 1) {
            $(".calibrationRecordRecord").show();
        }
        if ($(".appearanceRecord").length == 1) {
            $(".appearanceRecord").show();
        }
    })
</script>