@model JianHeMES.Models.Small_Sample
@{
    ViewBag.Title = "小样测试报告";
    Layout = "";
}
<link href="~/Content/styleFile/packaging/index.css" rel="stylesheet" />
<script src="~/Content/styleFile/packaging/index.js"></script>
<script src="~/Scripts/axios.min.js"></script>
<script src="~/Scripts/jsPdf.debug.js"></script>
<script src="~/Scripts/html2canvas_0.5.0-beta4.js"></script>

<style>
    #app {
        width: 880px;
        margin: 0 auto;
    }

    table td {
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        height: 26px;
    }

    .red {
        color: red;
        border-color: black;
    }

    .pass {
        color: green;
    }

    .tdco {
        border-left: solid 1px #ffffff;
        border-right: solid 1px #ffffff;
    }

    .el-upload__input {
        display: none !important;
    }

    .el-upload-list__item:first-child {
        margin-left: 50px;
        height: 20px;
        margin-top: 2px;
    }

    .color {
        color: red;
    }

    .red1 {
        background-color: red;
    }

    .tdco1 {
        border-left: solid 1px #ffffff;
        border-right: solid 1px #ffffff;
        border-bottom: solid 1px #ffffff;
    }

    .tdsty {
        text-align: left;
        border: none
    }

    .bt {
        margin: 0px
    }

    .divid {
        margin: 0px;
        justify-content: flex-end;
        display: flex;
    }

    #testid {
        font-size: 14px;
        margin-left: 650px;
    }

    .returnid {
        margin-left: 40px;
        margin-bottom: 2px;
        margin-top: 5px;
    }
</style>
@{
    var UserName = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserName;
    var UserIds = Session["User"] == null ? 0 : ((JianHeMES.Models.Users)Session["User"]).UserNum;
    var aa = ViewBag.aa;
}

<div id="app">
    <div id="htmlId">
        <h5 style="margin-left:36px;border-bottom: 1px solid black ;padding: 0px;width:808px;margin-bottom:2px">&nbsp;惠州市健和光电有限公司</h5>
        <div class="divid">
            <h2 class="bt" style="text-align:center"><u>小样光电参数测试报告</u></h2>
            <span id="testid">报告日期:@Html.DisplayFor(m => m.ReportDate.Value.Year)年 @Html.DisplayFor(m => m.ReportDate.Value.Month)月 @Html.DisplayFor(m => m.ReportDate.Value.Day)日</span>
        </div>
        @{ if (ViewBag.aa == "B版本")
            {
                <div>
                    <table border="1" cellspacing="0" style="margin:0 auto;width:822px;border-left:none;border-right:none;border-bottom:none;">
                        <colgroup>
                            <col width="40">
                            <col width="78">
                            <col width="90">
                            <col width="85">
                            <col width="85">
                            <col width="85">
                            <col width="85">
                            <col width="90">
                            <col width="98">
                            <col width="85">
                            <col width="85">
                            <col width="82">
                        </colgroup>
                        <tr>
                            <td colspan="2">客户名称</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Customer)</td>
                            <td>生产单号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.OrderNumber)</td>
                            <td>规格型号</td>
                            <td>@Html.DisplayFor(m => m.Mo1)</td>
                            <td colspan="2">模块数量(单位:PCS)</td>
                            <td>@Html.DisplayFor(m => m.Module_Number)</td>
                        </tr>
                        <tr>
                            <td colspan="12" class="tdco">&nbsp</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align:left">@Html.DisplayFor(m => m.Te1)</td>
                            <td>实际点间距</td>
                            <td>@Html.DisplayFor(m => m.Actual_point)</td>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:left">@Html.DisplayFor(m => m.Te2)</td>
                            <td>订单接收卡:</td>
                            <td colspan="3">@Html.DisplayFor(m => m.ReceivingCard)</td>
                        </tr>
                        <tr>
                            <td colspan="2">模块型号：</td>
                            <td colspan="2" class="moduleNum">@Html.DisplayFor(m => m.Mo2)</td>
                            <td>点数：</td>
                            <td>@Html.DisplayFor(m => m.Points)</td>
                            <td>扫描数</td>
                            <td>@Html.DisplayFor(m => m.Scanningway)</td>
                            <td>调试系统</td>
                            <td colspan="3">@Html.DisplayFor(m => m.system)</td>
                        </tr>
                        <tr>
                            <td colspan="2">测试条件:</td>
                            <td class="tdspan">@Html.DisplayFor(m => m.Te3)</td>
                            <td>@Html.DisplayFor(m => m.fixed_value)</td>
                            <td colspan="2">驱动板电压(V)</td>
                            <td>@Html.DisplayFor(m => m.Driveplate)</td>
                            <td>电源型号</td>
                            <td colspan="4">@Html.DisplayFor(m => m.Mo3)</td>
                        </tr>
                        <tr>
                            <td colspan="12" class="tdco">样品参数实测值</td>
                        </tr>
                        <tr>
                            <td colspan="2">角度</td>
                            <td>颜色</td>
                            <td colspan="2">R</td>
                            <td colspan="2">G</td>
                            <td colspan="2">B</td>
                            <td colspan="3">W</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">0°</td>
                            <td>亮度</td>
                            <td colspan="2" class="luminance">@Html.DisplayFor(m => m.Angle_R1)</td>
                            <td colspan="2" class="luminance">@Html.DisplayFor(m => m.Angle_G1)</td>
                            <td colspan="2" class="luminance">@Html.DisplayFor(m => m.Angle_B1)</td>
                            <td colspan="3">@Html.DisplayFor(m => m.Angle_W1)</td>
                        </tr>
                        <tr>
                            <td>坐标</td>
                            <td>@Html.DisplayFor(m => m.Angle_R2)</td>
                            <td>@Html.DisplayFor(m => m.Angle_R3)</td>
                            <td>@Html.DisplayFor(m => m.Angle_G2)</td>
                            <td>@Html.DisplayFor(m => m.Angle_G3)</td>
                            <td>@Html.DisplayFor(m => m.Angle_B2)</td>
                            <td>@Html.DisplayFor(m => m.Angle_B3)</td>
                            <td colspan="2" class="colorTmin">@Html.DisplayFor(m => m.Angle_W2)</td>
                            <td class="colorTmax">@Html.DisplayFor(m => m.Angle_W3)</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">客户要求</td>
                            <td>亮度</td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Client_R1).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.Client_R1).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Client_G1).ToString() == "0.00")
                                    {<span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.Client_G1).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Client_B1).ToString() == "0.00")
                                    {<span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.Client_B1).ToString()}}
                            </td>
                            <td>@Html.DisplayFor(m => m.Client_W1)</td>
                            <td class="front">
                                @{if (@Html.DisplayFor(m => m.Client_W1_V).ToString() == "0")
                                    {<span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W1_V).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_W2).ToString() == "0")
                                    {<span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W2).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td>坐标</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_R2).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_R2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_R3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_R3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_G2).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_G2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_G3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_G3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_B2).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_B2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_B3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_B3).ToString()} }
                            </td>
                            <td colspan="2">
                                @{ if (@Html.DisplayFor(m => m.Client_W3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_W4).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W4).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">@ViewBag.Points_R_G_B_W</td>
                            @{ Int32 tempnumber = Convert.ToInt32(@Html.DisplayFor(m => m.Points_R).ToString());}
                            <td colspan="2">
                                @{if (tempnumber == -1)
                                    { <span>/</span>}
                                    else
                                    {
                                        <span>@tempnumber.ToString()</span>
                                    }
                                }
                            </td>
                            <td colspan="2">/</td>
                            <td colspan="2">/</td>
                            <td colspan="3">/</td>
                        </tr>
                        <tr>
                            <td colspan="3">可调用电阻阻值(欧)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Adju_R)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Adju_G)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Adju_B)</td>
                            <td colspan="3">/</td>
                        </tr>
                        <tr>
                            <td colspan="3">单IC引脚电流(mA)</td>
                            <td class="targetOne" colspan="2">@Html.DisplayFor(m => m.IC_R1)</td>
                            <td class="targetTwo" colspan="2">@Html.DisplayFor(m => m.IC_G1)</td>
                            <td class="targetThree" colspan="2">@Html.DisplayFor(m => m.IC_B1)</td>
                            <td colspan="3">
                                @{if (@Html.DisplayFor(m => m.IC_W1).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.IC_W1).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">IC   VDS</td>
                            <td colspan="2">@Html.DisplayFor(m => m.IC_R2)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.IC_G2)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.IC_B2)</td>
                            <td colspan="3">
                                @{if (@Html.DisplayFor(m => m.IC_W2).ToString() == "0.00")
                                    {<span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.IC_W2).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">模 块 电 流(A)</td>
                            <td colspan="4" class="electricity">@Html.DisplayFor(m => m.Module_current)</td>
                            <td colspan="2">IC 型号</td>
                            <td colspan="3" class="icstyle">@Html.DisplayFor(m => m.IC3)</td>
                        </tr>
                        <tr>
                            <td colspan="3">刷新频率</td>
                            <td colspan="2">@Html.DisplayFor(m => m.R1)</td>
                            <td colspan="2">接收卡Data包</td>
                            <td colspan="5">@Html.DisplayFor(m => m.R2)</td>
                        </tr>
                        <tr>
                            <td colspan="3">接收卡带载点数</td>
                            <td>@Html.DisplayFor(m => m.R3)</td>
                            <td>@Html.DisplayFor(m => m.R4)</td>
                            <td colspan="2">LCT版本</td>
                            <td colspan="5">@Html.DisplayFor(m => m.LCT)</td>
                        </tr>
                        <tr>
                            <td colspan="3">亮度有效率(%)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.De1_dec)</td>
                            <td colspan="2">灰度等级</td>
                            <td colspan="2">@Html.DisplayFor(m => m.De2)</td>
                            <td>DCLK</td>
                            <td colspan="2">@Html.DisplayFor(m => m.DCLK)</td>
                        </tr>
                        <tr>
                            <td colspan="3">电源带载率(%)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Load)</td>
                            <td colspan="2">每平方最大功耗(W/m²)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Per)</td>
                            <td>GCLK</td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.GCLK).ToString() == "0.00")
                                    {<span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.GCLK).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">MOS管型号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.MOS1)</td>
                            <td colspan="2">MOS压降(V)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.MOS2)</td>
                            <td>电流增益</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Current)</td>
                        </tr>

                        <tr>
                            <td colspan="12" class="tdco">小样灯管及参数(供应商测试值)</td>
                        </tr>
                        <tr>
                            <td colspan="3">LED厂家及型号</td>
                            <td colspan="2"></td>
                            <td colspan="2">IV(mcd)</td>
                            <td colspan="2">WD(nm)</td>
                            <td colspan="2">正向电压（vf）</td>
                            <td>IV@IF(mA)</td>
                        </tr>
                        <tr>
                            <td rowspan="2">R</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.LED_R1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R4).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R6).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R7).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R9).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R10).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R11).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R5).ToString()} }
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R8).ToString()} }
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">G</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.LED_G1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G4).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G6).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G7).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G9).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G10).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G11).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G5).ToString()} }
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G8).ToString()} }
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">B</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.LED_B1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B4).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B6).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B7).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B9).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B10).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B11).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B5).ToString()} }
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B8).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="tdco">小样灯管及参数(联建测试值)</td>
                        </tr>
                        <tr>
                            <td colspan="3">LED厂家及型号</td>
                            <td colspan="2"></td>
                            <td colspan="2">IV(mcd)</td>
                            <td colspan="2">WD(nm)</td>
                            <td colspan="2">正向电压（vf）</td>
                            <td>IV@IF(mA)</td>
                        </tr>
                        <tr>
                            <td rowspan="2">R</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.Small_R1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R4).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R6).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R7).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R9).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R10).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R11).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_R3).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_R5).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R8).ToString()}}
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">G</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.Small_G1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G4).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G6).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G7).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G9).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G10).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G11).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G3).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G5).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G8).ToString()}}
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">B</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.Small_B1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B4).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B6).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B7).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B9).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B10).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B11).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_B3).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_B5).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B8).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" style="text-align:left">&nbsp;@Html.DisplayFor(m => m.ReportRemark)</td>
                        </tr>
                        <tr class="tdco1">
                            <td class="tdsty"></td>
                            <td colspan="4" class="tdsty">
                                核准：@ViewBag.ApprovedResult
                                @Html.DisplayFor(m => m.Approved)
                            </td>
                            <td colspan="4" class="tdsty">
                                审核: @ViewBag.AssessorResult  @Html.DisplayFor(m => m.Assessor)
                            </td>
                            <td colspan="3" class="tdsty" style="text-align:left">测试：@Html.DisplayFor(m => m.Tester)</td>
                        </tr>

                        <tr class="tdco1">
                            <td class="tdsty"></td>
                            <td colspan="3" class="tdsty">@Html.DisplayFor(m => m.ApprovedDate.Value.Year)年 @Html.DisplayFor(m => m.ApprovedDate.Value.Month)月 @Html.DisplayFor(m => m.ApprovedDate.Value.Day)日 @Html.DisplayFor(m => m.ApprovedDate.Value.Hour):@Html.DisplayFor(m => m.ApprovedDate.Value.Minute):@Html.DisplayFor(m => m.ApprovedDate.Value.Second)</td>
                            <td class="tdsty"></td>
                            <td colspan="3" class="tdsty">@Html.DisplayFor(m => m.AssessedDate.Value.Year)年 @Html.DisplayFor(m => m.AssessedDate.Value.Month)月 @Html.DisplayFor(m => m.AssessedDate.Value.Day)日 @Html.DisplayFor(m => m.AssessedDate.Value.Hour):@Html.DisplayFor(m => m.AssessedDate.Value.Minute):@Html.DisplayFor(m => m.AssessedDate.Value.Second)</td>
                            <td class="tdsty"></td>
                            <td colspan="3" class="tdsty">@Html.DisplayFor(m => m.CreatedDate.Value.Year)年 @Html.DisplayFor(m => m.CreatedDate.Value.Month)月 @Html.DisplayFor(m => m.CreatedDate.Value.Day)日 @Html.DisplayFor(m => m.CreatedDate.Value.Hour):@Html.DisplayFor(m => m.CreatedDate.Value.Minute):@Html.DisplayFor(m => m.CreatedDate.Value.Second)</td>
                        </tr>
                        <tr class="tdco1">
                            <td colspan="1" class="tdsty"></td>
                            <td colspan="4" class="tdsty">
                                <span style="width:200px">@Html.DisplayFor(m => m.ApprovedResultFailureReason)</span>
                            </td>
                            <td colspan="4" class="tdsty">
                                <span style="width:200px">@Html.DisplayFor(m => m.AssessorResultFailureReason)</span>
                            </td>
                            <td colspan="3" class="tdsty">&nbsp;&nbsp;@Html.DisplayFor(m => m.ReportVersionNumber)</td>
                        </tr>
                    </table>
                </div>
            }
            else
            {
                <div>
                    <table border="1" cellspacing="0" style="margin:0 auto;width:822px;border-left:none;border-right:none;border-bottom:none;">
                        <colgroup>
                            <col width="40">
                            <col width="78">
                            <col width="90">
                            <col width="85">
                            <col width="85">
                            <col width="85">
                            <col width="85">
                            <col width="90">
                            <col width="98">
                            <col width="85">
                            <col width="85">
                            <col width="82">
                        </colgroup>
                        <tr>
                            <td colspan="2">客户名称</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Customer)</td>
                            <td>生产单号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.OrderNumber)</td>
                            <td>规格型号</td>
                            <td>@Html.DisplayFor(m => m.Mo1)</td>
                            <td colspan="2">模块数量(单位:PCS)</td>
                            <td>@Html.DisplayFor(m => m.Module_Number)</td>
                        </tr>
                        <tr>
                            <td colspan="12" class="tdco">&nbsp</td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align:left">@Html.DisplayFor(m => m.Te1)</td>
                            <td>实际点间距</td>
                            <td>@Html.DisplayFor(m => m.Actual_point)</td>
                            <td colspan="2">线材压降(max)</td>
                            <td>@Html.DisplayFor(m => m.WireRod)</td>
                        </tr>
                        <tr>
                            <td colspan="8" style="text-align:left">@Html.DisplayFor(m => m.Te2)</td>
                            <td>订单接收卡:</td>
                            <td colspan="3">@Html.DisplayFor(m => m.ReceivingCard)</td>
                        </tr>
                        <tr>
                            <td colspan="2">模块型号：</td>
                            <td colspan="2" class="moduleNum">@Html.DisplayFor(m => m.Mo2)</td>
                            <td>点数：</td>
                            <td>@Html.DisplayFor(m => m.Points)</td>
                            <td>扫描数</td>
                            <td>@Html.DisplayFor(m => m.Scanningway)</td>
                            <td>调试系统</td>
                            <td colspan="3">@Html.DisplayFor(m => m.system)</td>
                        </tr>
                        <tr>
                            <td colspan="2">测试条件:</td>
                            <td class="tdspan">@Html.DisplayFor(m => m.Te3)</td>
                            <td>驱动板电压(V)</td>
                            <td>@Html.DisplayFor(m => m.Driveplate)</td>
                            <td>电源型号</td>
                            <td colspan="3">@Html.DisplayFor(m => m.Mo3)</td>
                            <td colspan="2">电压可调范围</td>
                            <td>@Html.DisplayFor(m => m.VoltageRange)</td>
                        </tr>
                        <tr>
                            <td colspan="12" class="tdco">样品参数实测值</td>
                        </tr>
                        <tr>
                            <td colspan="2">角度</td>
                            <td>颜色</td>
                            <td colspan="2">R</td>
                            <td colspan="2">G</td>
                            <td colspan="2">B</td>
                            <td colspan="3">W</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">0°</td>
                            <td>亮度</td>
                            <td colspan="2" class="luminance">@Html.DisplayFor(m => m.Angle_R1)</td>
                            <td colspan="2" class="luminance">@Html.DisplayFor(m => m.Angle_G1)</td>
                            <td colspan="2" class="luminance">@Html.DisplayFor(m => m.Angle_B1)</td>
                            <td colspan="3">@Html.DisplayFor(m => m.Angle_W1)</td>
                        </tr>
                        <tr>
                            <td>坐标</td>
                            <td>@Html.DisplayFor(m => m.Angle_R2)</td>
                            <td>@Html.DisplayFor(m => m.Angle_R3)</td>
                            <td>@Html.DisplayFor(m => m.Angle_G2)</td>
                            <td>@Html.DisplayFor(m => m.Angle_G3)</td>
                            <td>@Html.DisplayFor(m => m.Angle_B2)</td>
                            <td>@Html.DisplayFor(m => m.Angle_B3)</td>
                            <td colspan="2" class="colorTmin">@Html.DisplayFor(m => m.Angle_W2)</td>
                            <td class="colorTmax">@Html.DisplayFor(m => m.Angle_W3)</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="2">客户要求</td>
                            <td>亮度</td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Client_R1).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.Client_R1).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Client_G1).ToString() == "0.00")
                                    {<span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.Client_G1).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Client_B1).ToString() == "0.00")
                                    {<span>/</span>}
                                    else
                                    { @Html.DisplayFor(m => m.Client_B1).ToString()}}
                            </td>
                            <td>@Html.DisplayFor(m => m.Client_W1)</td>
                            <td class="front">
                                @{if (@Html.DisplayFor(m => m.Client_W1_V).ToString() == "0")
                                    {<span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W1_V).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_W2).ToString() == "0")
                                    {<span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W2).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td>坐标</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_R2).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_R2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_R3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_R3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_G2).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_G2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_G3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_G3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_B2).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_B2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_B3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_B3).ToString()} }
                            </td>
                            <td colspan="2">
                                @{ if (@Html.DisplayFor(m => m.Client_W3).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Client_W4).ToString() == "0.00")
                                    { <span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.Client_W4).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">@ViewBag.Points_R_G_B_W</td>
                            @{ Int32 tempnumber = Convert.ToInt32(@Html.DisplayFor(m => m.Points_R).ToString());}
                            <td colspan="2">
                                @{if (tempnumber == -1)
                                    { <span>/</span>}
                                    else
                                    {
                                        <span>@tempnumber.ToString()</span>
                                    }
                                }
                            </td>
                            <td colspan="2">/</td>
                            <td colspan="2">/</td>
                            <td colspan="2" rowspan="2">老化30分钟后IC最高温度(℃)</td>
                            <td rowspan="2">@Html.DisplayFor(m => m.IC_HighestT)</td>
                        </tr>
                        <tr>
                            <td colspan="3">可调用电阻阻值(欧)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Adju_R)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Adju_G)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Adju_B)</td>
                        </tr>
                        <tr>
                            <td colspan="3">单IC引脚电流(mA)</td>
                            <td class="targetOne" colspan="2">@Html.DisplayFor(m => m.IC_R1)</td>
                            <td class="targetTwo" colspan="2">@Html.DisplayFor(m => m.IC_G1)</td>
                            <td class="targetThree" colspan="2">@Html.DisplayFor(m => m.IC_B1)</td>
                            <td colspan="2" rowspan="2">老化30分钟后灯面最高温度(℃)</td>
                            <td rowspan="2">@Html.DisplayFor(m => m.LightPlane_HighestT)</td>
                        </tr>
                        <tr>
                            <td colspan="3">IC   VDS</td>
                            <td colspan="2">@Html.DisplayFor(m => m.IC_R2)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.IC_G2)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.IC_B2)</td>
                        </tr>
                        <tr>
                            <td colspan="3">模 块 电 流(A)</td>
                            <td colspan="4" class="electricity">@Html.DisplayFor(m => m.Module_current)</td>
                            <td colspan="2">IC 型号</td>
                            <td colspan="3" class="icstyle">@Html.DisplayFor(m => m.IC3)</td>
                        </tr>
                        <tr>
                            <td colspan="3">刷新频率</td>
                            <td colspan="2">@Html.DisplayFor(m => m.R1)</td>
                            <td colspan="2">接收卡Data包</td>
                            <td colspan="5">@Html.DisplayFor(m => m.R2)</td>
                        </tr>
                        <tr>
                            <td colspan="3">接收卡带载点数</td>
                            <td>@Html.DisplayFor(m => m.R3)</td>
                            <td>@Html.DisplayFor(m => m.R4)</td>
                            <td colspan="2">LCT版本</td>
                            <td colspan="5">@Html.DisplayFor(m => m.LCT)</td>
                        </tr>
                        <tr>
                            <td colspan="3">亮度有效率(%)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.De1_dec)</td>
                            <td colspan="2">灰度等级</td>
                            <td colspan="2">@Html.DisplayFor(m => m.De2)</td>
                            <td>DCLK</td>
                            <td colspan="2">@Html.DisplayFor(m => m.DCLK)</td>
                        </tr>
                        <tr>
                            <td colspan="3">电源带载率(%)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Load)</td>
                            <td colspan="2">每平方最大功耗(W/m²)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Per)</td>
                            <td>GCLK</td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.GCLK).ToString() == "0.00")
                                    {<span>/</span>}
                                    else
                                    {@Html.DisplayFor(m => m.GCLK).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">MOS管型号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.MOS1)</td>
                            <td colspan="2">MOS压降(V)</td>
                            <td colspan="2">@Html.DisplayFor(m => m.MOS2)</td>
                            <td>电流增益</td>
                            <td colspan="2">@Html.DisplayFor(m => m.Current)</td>
                        </tr>
                        <tr>
                            <td colspan="3">灰度20,R反向电压(V)</td>
                            <td>@Html.DisplayFor(m => m.R_ReverseVoltage)</td>
                            <td colspan="3">灰度20,G反向电压(V)</td>
                            <td>@Html.DisplayFor(m => m.G_ReverseVoltage)</td>
                            <td colspan="3">灰度20,G反向电压(V)</td>
                            <td>@Html.DisplayFor(m => m.B_ReverseVoltage)</td>
                        </tr>

                        <tr>
                            <td colspan="12" class="tdco">小样灯管及参数(供应商测试值)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>R料号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.R_MaterialNum)</td>
                            <td>G料号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.G_MaterialNum)</td>
                            <td>B料号</td>
                            <td colspan="3">@Html.DisplayFor(m => m.B_MaterialNum)</td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td>R批次号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.R_BatchNum)</td>
                            <td>G批次号</td>
                            <td colspan="2">@Html.DisplayFor(m => m.G_BatchNum)</td>
                            <td>B批次号</td>
                            <td colspan="3">@Html.DisplayFor(m => m.B_BatchNum)</td>
                        </tr>
                        <tr>
                            <td colspan="3">LED厂家及型号</td>
                            <td colspan="2"></td>
                            <td colspan="2">IV(mcd)</td>
                            <td colspan="2">WD(nm)</td>
                            <td colspan="2">正向电压（vf）</td>
                            <td>IV@IF(mA)</td>
                        </tr>
                        <tr>
                            <td rowspan="2">R</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.LED_R1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R4).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R6).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R7).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R9).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R10).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R11).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_R5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R5).ToString()} }
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_R8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_R8).ToString()} }
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">G</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.LED_G1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G4).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G6).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G7).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G9).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G10).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G11).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_G5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G5).ToString()} }
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_G8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_G8).ToString()} }
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">B</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.LED_B1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B2).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B4).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B6).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B7).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B9).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B10).ToString()} }
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B11).ToString()} }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B3).ToString()} }
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.LED_B5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B5).ToString()} }
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.LED_B8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.LED_B8).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" class="tdco">小样灯管及参数(联建测试值)</td>
                        </tr>
                        <tr>
                            <td colspan="3">LED厂家及型号</td>
                            <td colspan="2"></td>
                            <td colspan="2">IV(mcd)</td>
                            <td colspan="2">WD(nm)</td>
                            <td colspan="2">正向电压（vf）</td>
                            <td>IV@IF(mA)</td>
                        </tr>
                        <tr>
                            <td rowspan="2">R</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.Small_R1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R4).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R6).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R7).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R9).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R10).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R11).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_R3).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_R5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_R5).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_R8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_R8).ToString()}}
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">G</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.Small_G1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G4).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G6).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G7).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G9).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G10).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G11).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G3).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_G5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G5).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_G8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_G8).ToString()}}
                            </td>
                        </tr>

                        <tr>
                            <td rowspan="2">B</td>
                            <td colspan="2" rowspan="2">@Html.DisplayFor(m => m.Small_B1)</td>
                            <td colspan="2">实际范围</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B2).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B2).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B4).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B4).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B6).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B6).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B7).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B7).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B9).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B9).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B10).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B10).ToString()}}
                            </td>
                            <td rowspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B11).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B11).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Min:Max</td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B3).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_B3).ToString()}}
                            </td>
                            <td>
                                @{if (@Html.DisplayFor(m => m.Small_B5).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    { @Html.DisplayFor(m => m.Small_B5).ToString()}}
                            </td>
                            <td colspan="2">
                                @{if (@Html.DisplayFor(m => m.Small_B8).ToString() == "0.00")
                                    {<span></span>}
                                    else
                                    {@Html.DisplayFor(m => m.Small_B8).ToString()}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="12" style="text-align:left">&nbsp;@Html.DisplayFor(m => m.ReportRemark)</td>
                        </tr>
                        <tr class="tdco1">
                            <td class="tdsty"></td>
                            <td colspan="4" class="tdsty">
                                核准：@ViewBag.ApprovedResult
                                @Html.DisplayFor(m => m.Approved)
                            </td>
                            <td colspan="4" class="tdsty">
                                审核: @ViewBag.AssessorResult  @Html.DisplayFor(m => m.Assessor)
                            </td>
                            <td colspan="3" class="tdsty" style="text-align:left">测试：@Html.DisplayFor(m => m.Tester)</td>
                        </tr>

                        <tr class="tdco1">
                            <td class="tdsty"></td>
                            <td colspan="3" class="tdsty">@Html.DisplayFor(m => m.ApprovedDate.Value.Year)年 @Html.DisplayFor(m => m.ApprovedDate.Value.Month)月 @Html.DisplayFor(m => m.ApprovedDate.Value.Day)日 @Html.DisplayFor(m => m.ApprovedDate.Value.Hour):@Html.DisplayFor(m => m.ApprovedDate.Value.Minute):@Html.DisplayFor(m => m.ApprovedDate.Value.Second)</td>
                            <td class="tdsty"></td>
                            <td colspan="3" class="tdsty">@Html.DisplayFor(m => m.AssessedDate.Value.Year)年 @Html.DisplayFor(m => m.AssessedDate.Value.Month)月 @Html.DisplayFor(m => m.AssessedDate.Value.Day)日 @Html.DisplayFor(m => m.AssessedDate.Value.Hour):@Html.DisplayFor(m => m.AssessedDate.Value.Minute):@Html.DisplayFor(m => m.AssessedDate.Value.Second)</td>
                            <td class="tdsty"></td>
                            <td colspan="3" class="tdsty">@Html.DisplayFor(m => m.CreatedDate.Value.Year)年 @Html.DisplayFor(m => m.CreatedDate.Value.Month)月 @Html.DisplayFor(m => m.CreatedDate.Value.Day)日 @Html.DisplayFor(m => m.CreatedDate.Value.Hour):@Html.DisplayFor(m => m.CreatedDate.Value.Minute):@Html.DisplayFor(m => m.CreatedDate.Value.Second)</td>
                        </tr>
                        <tr class="tdco1">
                            <td colspan="1" class="tdsty"></td>
                            <td colspan="4" class="tdsty">
                                <span style="width:200px">@Html.DisplayFor(m => m.ApprovedResultFailureReason)</span>
                            </td>
                            <td colspan="4" class="tdsty">
                                <span style="width:200px">@Html.DisplayFor(m => m.AssessorResultFailureReason)</span>
                            </td>
                            <td colspan="3" class="tdsty">&nbsp;&nbsp;@Html.DisplayFor(m => m.ReportVersionNumber)</td>
                        </tr>
                    </table>
                </div>
            }
        }
    </div>
</div>
 