@model IEnumerable<JianHeMES.Models.BarCodes>

@{
    ViewBag.Title = "条码管理";
}
<script type="text/javascript" src="~/Scripts/jquery-1.11.3.js"></script>
<h2>@ViewBag.Title</h2>

<p>
    @*@Html.ActionLink("创建", "Create")*@
</p>

@using (Html.BeginForm("Index", "BarCodes", FormMethod.Post, new { id = "searchForm" }))
{
    @Html.AntiForgeryToken()
    <p class="text-center">
        订单号: @Html.DropDownList("OrderNum",
ViewBag.OrderNumList as IEnumerable<SelectListItem>, "全部")
        类型: @Html.DropDownList("BarCodeType",
 ViewBag.BarCodeTypeList as IEnumerable<SelectListItem>, "全部")

        <input type="hidden" id="PageIndex" name="PageIndex" value="0" />
        &nbsp; &nbsp; &nbsp;<input type="button" id="searchButton" value="检索" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCodesNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BarCodeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creator)
        </th>
        <th></th>
    </tr>
@if(Model!=null)
{ 
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCodesNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarCodeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @*@Html.ActionLink("修改", "Edit", new { id = item.ID }) |*@
                @Html.ActionLink("详细", "Details", new { id = item.ID }) @*|
                @Html.ActionLink("删除", "Delete", new { id = item.ID })*@
            </td>
        </tr>
    }
}

</table>
<div id="pagebar">
    @for (var i = 0; i < ViewBag.PageCount; i++)
    {
        if (i == ViewBag.PageIndex)
        {
            <span class="currentpagenumber">@(i + 1)</span>
        }
        else
        {
            <a class="pagenumber" href="javascript:;">@(i + 1)</a>
        }
    }
</div>
@section scripts {
    <script>
        function submitForm(pagenumber) {
            pagenumber = parseInt(pagenumber, 10);
            $('#PageIndex').val(pagenumber - 1);
            $('#searchForm').submit();
        }

        $(function () {

            $('#searchButton').click(function () {
                submitForm($('#pagebar .currentpagenumber').text());
            });

            $('#pagebar .pagenumber').click(function () {
                submitForm($(this).text());
            });

        });
    </script>
}