<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - 健和光电MES</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link href="~/Content/main/elementui.css" rel="stylesheet" />
    <link href="~/Content/main/main.less" rel="stylesheet/less" type="text/css" />
    <script src="~/Scripts/main/vue.min.js"></script>
    <script src="~/Scripts/main/limits.js"></script>
    <script src="~/Scripts/main/main.js"></script>
    @RenderSection("cssStyle", false)
</head>
<body>
    <el-container id="mainVM" v-cloak>
        <el-header class="topTitle">
            <div class="titleimg">
                <i class="el-icon-menu hoverMenu" @@mouseenter="enterHoverMenu" @@click="changeMenuShow"></i>
                <a href="/Home/Index3">
                    <img class="logo" src="~/Images/top_logo.png" />
                    @*<span class="text">健和光电MES</span>*@
                </a>
            </div>
            <top-title :username="userName" :usernum="userNum" :userid="userId" :admin="isAdmin" :limits="limitsList" :screen="screenSize"></top-title>
        </el-header>
        <el-container>
            <el-aside class="leftMenu" v-show="leftMenuShow" v-bind:class="{ mobileLeftMenu: leftMenuShow }">
                <left-menu :menulist="menuList" :activeindex="activeIndex" :openedsarr="openedsArr"></left-menu>
            </el-aside>
            <el-container v-bind:class="{ mobileRightMain: leftMenuShow }">
                <el-main class="rightMain">
                    <el-row class="rightMainTitle">
                        <el-page-header @@back="goBack">
                            <template slot="content">
                                <el-breadcrumb separator-class="el-icon-arrow-right">
                                    <el-breadcrumb-item v-for="i in openedsArr">{{i.split('→')[0]}}</el-breadcrumb-item>
                                </el-breadcrumb>
                            </template>
                        </el-page-header>
                    </el-row>
                    <el-row class="rightMainContent" v-loading="mainLoading">
                        @RenderBody()
                    </el-row>
                </el-main>
                <el-footer class="bottomFooter">
                    &copy;@DateTime.Now.Year - 健和光电MES
                    <span v-show="screenSize>992">
                        &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;指定浏览器：
                        <a href="~/MES_Data/ChromeCore_1277_3.0.1.6.exe">Chrome浏览器</a>，
                        &nbsp;(火狐 for Windows)
                        &nbsp;
                        <a href="~/MES_Data/Firefox Setup x64.exe">64位</a>/
                        &nbsp;
                        <a href="~/MES_Data/Firefox Setup x86.exe">32位</a>/
                        &nbsp;
                        <a href="~/MES_Data/Firefox Setup XP.exe">XP版</a>
                    </span>
                </el-footer>
            </el-container>
        </el-container>
    </el-container>
    @{
        var sessionID = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).ID.ToString();
        var sessionUserNum = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserNum.ToString();
        var sessionUserName = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserName;
        var sessionRole = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Role;
        var sessionDepartment = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Department;
    }
    @RenderPage("_TopTitle.cshtml")
    @RenderPage("_LeftMenu.cshtml")
    @RenderSection("renderPage", false)
    <script src="~/Scripts/main/elementui.js"></script>
    <script src="~/Scripts/main/less.min.js"></script>
    <script src="~/Scripts/main/axios.min.js"></script>
    <script src="~/Scripts/main/print.ip.js"></script>
    <script src="~/Scripts/menu-list/menuList.js"></script>
    @RenderSection("jsScript", false)
    <script defer>
        //type="module"   ../.js/export
        //import { limit } from '../Scripts/main/limits.js'
        //import { layout } from '../Scripts/main/main.js'
        let mixinArr = [limit, layout];
        if (typeof app != 'undefined') mixinArr.push(app);
        var vm = new Vue({
            el: "#mainVM",
            mixins: mixinArr,
            data: {
                userId: '@sessionID',
                userNum: '@sessionUserNum',
                userName: '@sessionUserName',
                userRole: '@sessionRole',
                userDepartment: '@sessionDepartment'
            },
            mounted() {
                document.onclick = e => {
                    this.colorFont(e.pageX, e.pageY)
                };
                setTimeout(() => {
                    L2Dwidget.init({
                        "display": {
                            "width": 80,
                            "height": 100,
                        },
                    });
                }, 0);
            },
            methods: {
                colorFont(x, y) {
                    const words = ['小可爱', '吼哟', '你如阳光般活泼', '你如月光般温婉', '你真漂亮','你的微笑最美丽', '你这个小机灵', '调皮', '呆萌', '\ ( > < ) / 哇～出现了', '(*>﹏<*)', '(/≧▽≦)/','皮'],
                        Div = document.createElement("div");
                    Div.style.position = 'absolute';
                    Div.style.userSelect = 'none';
                    Div.style.color = `#${(Math.random() * 0xffffff << 0).toString(16)}`;
                    Div.innerText = words[Math.floor(Math.random() * words.length)];
                    document.body.appendChild(Div);
                    Div.style.left = `${x - Div.clientWidth / 2}px`;
                    Div.style.top = `${y - Div.clientHeight}px`;
                    const speedX = (parseInt(Math.random() * 2) ? 1 : -1) * parseInt(Math.random() * 2), speedY = parseInt(Math.random() * 2 + 1); //三目运算符随机移动方向，概率50%,为1时往正方向移动，负1时往反方向移动第二个随机数随机速度快慢
                    let timeOut = setInterval(()=> {
                        Div.style.left = Div.offsetLeft + speedX + "px";
                        Div.style.top = Div.offsetTop - speedY + "px";
                        Div.style.opacity = getComputedStyle(Div, false)["opacity"] - 0.01;
                        if (Div.offsetTop - y < -80 || Div.offsetLeft + Div.offsetWidth > window.innerWidth || Div.offsetLeft < 2 || Div.offsetTop + Div.offsetHeight > window.innerHeight || Div.offsetTop < 2) {
                            Div.remove();		//移动出可视区域记得删除div和清除定时器
                            clearInterval(timeOut);
                        };
                    }, 30);
                },
            }
        });

        // 添加请求拦截器
        //axios.interceptors.request.use(function (config) {
        //    vm.mainLoading = true;
        //    return config;
        //}, function (error) {
        //    return Promise.reject(error);
        //});

        //// 添加响应拦截器
        //axios.interceptors.response.use(function (response) {
        //    vm.mainLoading = false;
        //    return response;
        //}, function (error) {
        //    vm.mainLoading = false;
        //    return Promise.reject(error);
        //});

        ////执行多个并发请求

        //function getUserAccount() {
        //    return axios.get('/user/12345');
        //}

        //function getUserPermissions() {
        //    return axios.get('/user/12345/permissions');
        //}

        //axios.all([getUserAccount(), getUserPermissions()])
        //.then(axios.spread(function (acct, perms) {
        //    // 两个请求现在都执行完成
        //}));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/live2d-widget@3.0.4/lib/L2Dwidget.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js"></script>
    <style>
        #waifu #live2d {
            height: 180px;
            width: 180px;
        }

        #waifu-tips {
            width: 160px;
            min-height: 50px;
            margin: -50px 10px;
        }

        #waifu-tool {
            right: -50px;
            top: -40px;
        }
    </style>
</body>
</html>
