@{
    ViewBag.Title = "工序产能首页";
}
@*<meta http-equiv="refresh" content="5">每隔5秒刷新*@
<link href="~/Content/styleFile/packaging/index.css" rel="stylesheet" />
<link href="~/Content/styleFile/processCapacity/ProcessCapacity.css" rel="stylesheet" />
@*<link href="~/Content/styleFile/processCapacity/ProcessCapacity.css?v=" +Math.random() rel="stylesheet" />*@
<script src="~/Content/styleFile/packaging/index.js"></script>
<style>
    .container, .body-content {
        width: 1300px;
    }
</style>
<div id="app" v-cloak>
    <el-container>
        <el-header class="text-center">
            <h2>@ViewBag.Title</h2>
        </el-header>
        <el-main v-loading="loading">
            <el-row class="text-center">
                <newdata-dialog v-if="limitsRole[1]"></newdata-dialog>
                @*查询框*@
                @RenderPage("_mainQuery.cshtml")
            </el-row>
            <el-row class="text-center">
                @*主表*@
                @RenderPage("_mainTable.cshtml")
            </el-row>
        </el-main>
    </el-container>
</div>
@*左上角触摸三角，文件上传跳转弹出框，输入框编辑，新建数据对话框*@
@RenderPage("_hoverAnimation.cshtml")
@RenderPage("_uploadPopover.cshtml")
@RenderPage("_inputEdit.cshtml")
@RenderPage("_newDataDialog.cshtml")
@RenderPage("_fileStatuTable.cshtml")
<script src="~/Content/styleFile/processCapacity/ProcessCapacity.js"></script>
@*<script src="~/Content/styleFile/processCapacity/ProcessCapacity.js?v=" +Math.random()></script>*@