

@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/jqueryval")
@Scripts.Render("~/Scripts/bootstrap")
@Scripts.Render("~/Scripts/vue")
@Styles.Render("~/Content/easyuicss")
@Styles.Render("~/Content/css")
<script src="~/Scripts/axios.min.js"></script>
<link href="~/Scripts/animate.css" rel="stylesheet" />
<link href="~/Content/styleFile/packaging/index.css" rel="stylesheet" />
<script src="~/Content/styleFile/packaging/index.js"></script>
<style>
    *{
        margin:0;
        padding:0;
    }
    body {
        padding:0;
    }

    li {
        list-style: none;
    }

    ul {
        margin:0;
    }

    .topheader {
        padding-left: 20px;
        padding-right: 20px;
        line-height:50px;
        background-color:cadetblue;
    }
    .topheader {
        background: no-repeat url(/Images/top_logo.png) 20px 10px;
    }

    .usmg {
        margin-left:200px;
    }

    .username {
        margin-left: 20px;
        margin-right: 20px;
    }

    .topmenutext, glyphicon {
        font-family: 'Microsoft YaHei';
        color: blanchedalmond;
    }

    .topmenutext:hover, glyphicon:hover {
        font-family: 'Microsoft YaHei';
        color: coral;
    }


    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }

    .el-icon-arrow-down {
        font-size: 12px;
    }

    .topheader {
        background-color: dimgrey;
        position: fixed;
        left:0;
        top:0;
        width:100%;
        z-index:5;
    }

    .leftmenu {
        padding-top:10px;
        padding-left:10px;
        margin-top: 50px;
        width: 100px;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        /*border: 1px solid coral;*/
        background-color: #2f4056;
        z-index:4
    }

        .leftmenu .leftmenu_main>p {
            color:aliceblue;
        }

        .linktree {
            position: fixed;
            top:50px;
            height: 50px;
            width: 100%;
            margin-left: 100px;
            padding-left: 30px;
            /*border:1px solid coral;*/
            line-height: 50px;
            box-shadow: 0px 0px 3px 0px rgba(0,0,0,.2);
            background-color:white;
            z-index:3
        }

    .m_c_header {
        position: fixed center center;
        align-content: center;
        margin-top: 100px;
        margin-left: 300px;
        width: 100%;
    }

    .maincontent {
        position:relative;
        left:100px;
        top:0px;
        bottom:50px;
        left:0;
        margin-left: 100px;
        padding-left: 150px;
        width:100%;
        background: url(/Images/aboBan.jpg) no-repeat center center;
    }


    .introduce {
        width: 900px;
        height: 600px;
        position: relative;
        margin-top: 5px;
        margin-left: 100px;
        padding-top: 100px;
        background-color: #fff;
    }
    .companyname {
        padding-top: 20px;
        padding-left:40px;
    }
    .content {
        font-family:'Microsoft YaHei';
        margin:40px;
        overflow:auto;
    }

    .aboban2 {
        background: url(/Images/aboBan2.jpg) no-repeat;
    }

    .footer {
        position:fixed;
        bottom:0px;
        margin-left: 100px;
        align-content: center;
        height: 50px;
        width:100%;
        padding-left: 150px;
        background-color: #eff2f7;
        color: #293038;
        z-index:2;
    }

    .download_exp {
        display: inline-block;
        margin-top: 20px;
        margin-left: 30px;
        font-size: 12px;
        color: #364862;
    }

        .download_exp > a {
            text-decoration: none;
            font-size: 12px;
            color: #364862;
            cursor: pointer;
        }

    .atright {
        margin-left: 100px;
    }


</style>

<div id="app">

    @*获取UserRoles*@
    @{var UserRoles = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).Role; }

    <div class="topheader">
        <div class="companylogo">
            @*<img src="~/Images/top_logo.png" />*@
        </div>
        <div class="userrelate">
            <ul>

                @{
                    var UserName = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).UserName;
                    var Userid = Session["User"] == null ? string.Empty : ((JianHeMES.Models.Users)Session["User"]).ID.ToString();
                }

                @*用户状态*@
                @if (Session["User"] == null)
                {
                    <li class="navbar-right topmenutext">
                        <a id="logingo" href="/Users/Login"><span class="glyphicon glyphicon-log-in"></span>  登录</a>
                    </li>
                }
                else
                {
                    <li class="dropdown navbar-right username">
                        <a href="#" class="dropdown-toggle topmenutext" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>    @UserName  @*<span class="badge" style="background-color:red" v-on:click="getInfor">{{num}}</span>*@
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu collapse" style="min-width: 104px;">
                            <li>
                                @Html.RouteLink("修改密码", "Default", new { id = Userid, Controller = "Users", Action = "Modifypwd" })
                            </li>
                            <li>
                                @Html.RouteLink("查看权限", "Default", new { Controller = "Users", Action = "ViewUserRights" })
                            </li>
                            <li>
                                @Html.RouteLink("权限对比", "Default", new { Controller = "Users", Action = "PermissionList" })
                            </li>
                            <li class="banzuEdit">
                                @Html.RouteLink("班组信息", "Default", new { Controller = "Users", Action = "UserTeam" })
                            </li>
                            <li>
                                <a href="/Users/Logoff">退出</a>
                            </li>
                        </ul>
                    </li>
                }

                @*用户管理*@
                @if (UserRoles == "系统管理员")
                {
                    <li class="dropdown navbar-right">
                        <a href="#" class="dropdown-toggle topmenutext" data-toggle="dropdown">
                            用户管理
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu collapse" style="text-align: left; min-width: 114px;">
                            <li>@Html.RouteLink("用户管理", "Default", new { Controller = "Users", Action = "Index" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("批量增加用户", "Default", new { Controller = "Users", Action = "BatchUsers" })</li>
                            <li class="divider"></li>
                            <li>@Html.RouteLink("日志查询", "Default", new { Controller = "Users", Action = "UerserOperateLogsQuery" })</li>
                        </ul>
                    </li>
                }
            </ul>

            <el-dropdown class="usmg">
                <span class="el-dropdown-link">
                    用户管理<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>@Html.RouteLink("用户管理", "Default", new { Controller = "Users", Action = "Index" })</el-dropdown-item>
                    <el-dropdown-item>@Html.RouteLink("批量增加用户", "Default", new { Controller = "Users", Action = "BatchUsers" })</el-dropdown-item>
                    <el-dropdown-item>@Html.RouteLink("日志查询", "Default", new { Controller = "Users", Action = "UerserOperateLogsQuery" })</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </div>

    @*左边主菜单*@
    <div class="leftmenu">
        <div class="leftmenu_main">
            <p>健和光电</p>
            <p>健和光电</p>
            <p>健和光电</p>
            <p>健和光电</p>
            <p>健和光电</p>
            <p>健和光电</p>
            <p>健和光电</p>
        </div>

        <div class="leftmenu_second">

        </div>
    </div>

    @*中间主内容*@
    <div class="linktree">
        首页 > 全厂温湿度 > 汇总表
    </div>

    <header class="m_c_header">
        <img src="~/Images/text_logo.png" />
    </header>

    <div class="maincontent">


        <div class="introduce">
            <div class="companyname">
            </div>
            <p class="content">
                惠州市健和光电有限公司是深圳市联建光电集团公司在惠州的全资子公司，总公司深圳市联建光电股份有限公司成立于2003年，2011年成功在深圳交易所创业板上市，股票代码300269。
                十余年间，公司已发展成一个员工超3000人、注册资本61368.8411万元、合并年收入超28亿元、净资产53.56亿元的国家级高新技术企业，现拥有已授权的国家专利200项。
                近年来，公司在原有主营业务的基础上，基于先进的LED显示屏制造技术以及与下游媒体主的业务合作关系，积极向广告传媒行业进行纵向拓展，为成为“数字传播集团”积极布局。
                2012年6月，公司设立联动文化（北京）有限公司，致力于打造全国城市地标户外LED广告联播网，完成从“设备”向“媒体”跨界的第一步。
                2013年12月，公司公告收购中国最大的户外广告媒体代理商——四川分时广告传媒有限公司100%股权，成功构筑户外媒体资源平台，完成了从“媒体”向“服务”跨界的第二步。
                2014年9月，公司公告收购新三板挂牌公司深圳市易事达电子股份有限公司，继续夯实领先的LED传播设备技术研发能力，力争成为国内最大的LED传播设备制造商；同时收购上海友拓公关顾问有限公司100%股权，进入广告链上游公关传播以及数字服务行业，打开数字传播通道，形成线上线下整合传播格局，实现 “媒体”向“公关”跨界的第三步。
                2015年4月，公司公告收购移动营销综合服务的领先提供商——深圳市精准分众传媒有限公司28.4%股权，2016年1月，继续收购其余71.6%股权，为公司“数字传播集团”产业链增加移动互动营销、移动广告投放服务及强大的客户资源。2015年11月，公司公告收购上海励唐营销管理有限公司、山西华瀚文化传播有限公司、北京远洋林格文化传媒有限公司100%股份、收购深圳市力玛网络科技有限公司88.88%股份，完善了“数字传播集团”的构架，丰富公司在营销领域的服务内容，增强公司在营销领域内的服务能力和市场竞争力。
                2016年6月，公司公告收购上海成光广告和西安绿一传媒100%股权，同时公告投资杭州树熊网络，进一步提升联建集团线上线下数字传播集团的核心竞争力。
                公司成为由数字营销(友拓公关、励唐营销、深圳力玛、精准分众、树熊网络)、数字户外（分时传媒、联动文化、远洋传媒、华瀚文化、成光广告、绿一传媒）、数字设备（联建有限、易事达）三轮驱动的数字传播集团，可为客户提供涵盖品牌公关、互动活动、互联网广告、户外广告、数字广告设备等线上线下综合营销解决方案和效果营销方案。
                目前，联建光电集团总部兼LED数字设备运营部位于深圳,位于惠州大亚湾的联建光电（惠州）科技园则是公司的制造基地，建筑面积达80000㎡，拥有行业内规模最大、自动化程度最高、检测设备最先进的LED显示屏生产线之一，向全球上百个国家（地区）提供专业的LED数字显示服务，公司在2013年收购深圳易事达后，LED数字设备的国内外市场竞争力显著增强！
                未来，公司将发挥技术、资金和规模优势，以持续并购、融合发展的方式快速推进成为“数字传播集团”的战略布局，以数字营销、数字户外、数字设备作为核心模块，打破公司边界，形成软件硬件一体、数字化线上线下整合传播平台，为客户提供最优线上线下全新数字整合营销方案。
            </p>
            <div class="aboban2"></div>
        </div>

    </div>


    <div class="footer">
        <p class="download_exp">
            MES指定使用浏览器(下载)：
            <a href="~/MES_Data/Firefox-ESR-full-latest.exe">火狐 V81</a>，
            <a href="~/MES_Data/ChromeCore_1277_3.0.1.6.exe">谷歌</a>，
            <a href="~/MES_Data/Firefox Setup x64.exe">火狐64位</a>，
            <a href="~/MES_Data/Firefox Setup x86.exe">火狐32位</a>，
            <a href="~/MES_Data/Firefox Setup XP.exe">火狐XP版</a>
            <span class="atright">&copy; @DateTime.Now.Year - 健和光电MES</span>
        </p>
        <p align="center"></p>

    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
           
        },
        mounted: {

        },
        methods: {

        },
    })
</script>