@model IEnumerable<JianHeMES.Models.CalibrationRecord>

@{
    ViewBag.Title = "Calibration_CompeleteRate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calibration_CompeleteRate</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleGroupNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginCalibration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishCalibration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Normal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbnormalDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalibrationTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalibrationTimeSpan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operator)
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuleGroupNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginCalibration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishCalibration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Normal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AbnormalDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalibrationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalibrationTimeSpan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator)
                </td>
            </tr>
        }
    }


</table>
