@model IEnumerable<JianHeMES.Models.Warehouse_Material_BaseInfo>

@{
    ViewBag.Title = "SPC_Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SPC_Display</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufactorNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REQNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivingMoney)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarietyType)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactorNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REQNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivingMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VarietyType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
